0111/兆豐銀-文字-帳務-帳單-未出帳明細SecondBot.json
[
    {
        "id": "6236806f.406bf",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "tab",
        "label": "Flow 3",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af042997da151b7ad",
        "breakpoints": [],
        "state": "running"
    },
    {
        "id": "ae4942e5.8267f",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af0429915ce51b7ae",
        "breakpoints": []
    },
    {
        "id": "86b62296.0c55f",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299eac551b7af",
        "breakpoints": []
    },
    {
        "id": "6bbc9a16.56fc34",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af042996a4951b7b0",
        "breakpoints": []
    },
    {
        "id": "40662701.d1a418",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299307351b7b1",
        "breakpoints": []
    },
    {
        "id": "bb8c0f20.f1c38",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299312a51b7b2",
        "breakpoints": []
    },
    {
        "id": "cce8486e.3752d8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299a8e551b7b3",
        "breakpoints": []
    },
    {
        "id": "4d53fc75.21ad74",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af0429907ce51b7b4",
        "breakpoints": []
    },
    {
        "id": "23f26345.6f3cbc",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af0429971a951b7b5",
        "breakpoints": []
    },
    {
        "id": "e1d8e91f.10a9f8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299601651b7b6",
        "breakpoints": []
    },
    {
        "id": "77093d6a.d0a2f4",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af042990e9951b7b7",
        "breakpoints": []
    },
    {
        "id": "42346faa.89ace",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299652f51b7b8",
        "breakpoints": []
    },
    {
        "id": "7763065.8f7a1f8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af042990b6c51b7b9",
        "breakpoints": []
    },
    {
        "id": "2b12890.e3fa978",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af0429964dc51b7ba",
        "breakpoints": []
    },
    {
        "id": "6686d0c7.1d0ec",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299414051b7bb",
        "breakpoints": []
    },
    {
        "id": "bfbfddb7.50701",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af0429907a951b7bc",
        "breakpoints": []
    },
    {
        "id": "23ca37f6.c2e228",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "chat-server",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6ac0af04299667f51b7bd",
        "breakpoints": []
    },
    {
        "id": "240bff71.d8aa",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "http in",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 257,
        "y": 101.71427917480469,
        "wires": [
            [
                "7cd5820c.0b214c"
            ]
        ],
        "_id": "61d6ac0af042993cec51b7be",
        "breakpoints": [],
        "url": "/service",
        "method": "post",
        "swaggerDoc": ""
    },
    {
        "id": "429aa28b.74391c",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "router",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 993,
        "y": 101.71427917480469,
        "wires": [
            [
                "bcfb5cde.e90a8"
            ]
        ],
        "_id": "61d6ac0af042996b8451b7bf",
        "breakpoints": [],
        "sessionprop": "systalk._session_id",
        "dryrun": "msg._dry_run",
        "timeout": "1800"
    },
    {
        "id": "2754e084.63c76",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "http response",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1393,
        "y": 101.71427917480469,
        "wires": [],
        "_id": "61d6ac0af04299432a51b7c0",
        "breakpoints": []
    },
    {
        "id": "7c3b2c5.13c08d4",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "Setup",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 197,
        "y": 261.7142791748047,
        "wires": [
            [
                "acce179.2a410e8"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af04299408c51b7c1",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_start_setup"
            },
            {
                "t": "null",
                "p": "_end_dialogue"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "b315fb27.525c58",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Setup Data",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1630,
        "y": 253.7142791748047,
        "wires": [
            [
                "b92ff29f.d9b53"
            ]
        ],
        "func": "const ReqMsgCtrl = msg.systalk.utils.ReqMsgCtrl;\nconst LangCtrl = msg.systalk.utils.LangCtrl;\nconst ReqChannels = msg.systalk.utils.ReqChannels;\nconst QueueUtils = msg.systalk.utils.QueueUtils;\n\n// normalize request message\n// ReqMsgCtrl.normalize(msg.reqMsg);\n// 進線 channel\nmsg.systalk.channel = node._.clone(msg.reqMsg.channel || ReqChannels.text);\n// 使用者語系\nmsg.systalk.lang = LangCtrl.normalize(msg.reqMsg.lang || msg.systalk.lang || 'zh-tw');\n\n// 判斷是否清空紀錄 session 資訊\nif (msg.systalk.sessionSalt) {\n    if (msg.systalk.sessionSalt !== msg.reqMsg.sessionSalt) {\n        msg.systalk.needInfo = undefined;\n        msg.systalk.config = undefined;\n        msg.systalk.pendingBot = undefined;\n        QueueUtils.clear(msg.systalk.pendingBotQueue);\n    }\n}\n\nmsg.systalk.sessionSalt = msg.reqMsg.sessionSalt;\nmsg.systalk.fromBot = msg.config.botTypes.current;\nmsg.systalk.pendingBotQueue = Array.isArray(msg.systalk.pendingBotQueue) && msg.systalk.pendingBotQueue.length\n    ? msg.systalk.pendingBotQueue\n    : [ msg.config.botTypes.current ];\n\nif (!msg.systalk.needInfo) {\n    msg.systalk.needInfo = {\n        auth: {\n            otp: msg.reqMsg.stored.auth.otp || null,    // otp簡訊驗證\n            bank: msg.reqMsg.stored.auth.bank || null,    // 網銀驗證\n        },\n        userData: {\n            custId: \"\",\n            respCode: \"\",\n            chiName: \"\",\n            sex: \"\"\n        }\n    };\n}\n\n// 擷取驗證狀態\nif (msg.reqMsg.message.type === 'otpAuth') {\n    msg.systalk.needInfo.auth = msg.reqMsg.stored.auth;\n    msg.systalk.needInfo.userData = msg.reqMsg.stored.userData;\n}\n\n\n// setup config values\nmsg.systalk.config = msg.reqMsg.config || msg.systalk.config || null;\nif (!msg.systalk.config) {\n    msg.systalk.config = {};\n}\n\nlet inputIntent = node._.isString(msg.reqMsg.intent) ?\n    msg.reqMsg.intent :\n    !!msg.reqMsg.intent ? msg.reqMsg.intent.item : null;\n    \n// 取得紀錄 botType\nmsg.botType = inputIntent || QueueUtils.last(msg.systalk.pendingBotQueue).botType || msg.config.botTypes.current;\nmsg.entities = [].concat(Array.isArray(msg.reqMsg.entities) ? msg.reqMsg.entities : []);\n\n//不使用從 firstbot 往下帶得醫師實體\n// if (msg.entities.length > 0) {\n//     msg.entities = msg.entities.filter(arr => arr.entity !=='醫師');\n// }\n\n// 區分各階層 NLU 辨識到的實體\nmsg.layeredEntities = [\n    [].concat(Array.isArray(msg.reqMsg.entities) ? msg.reqMsg.entities : [])\n];\n\nmsg.messages = {};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299476551b7c2",
        "breakpoints": []
    },
    {
        "id": "ca03befd.e156f",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "Before Output",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1403,
        "y": 61.71427917480469,
        "wires": [],
        "_id": "61d6ac0af042996d1b51b7c3",
        "breakpoints": []
    },
    {
        "id": "7cd5820c.0b214c",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Set from Input",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 763,
        "y": 101.71427917480469,
        "wires": [
            [
                "429aa28b.74391c",
                "1bd3c21d.d6cb2e"
            ]
        ],
        "func": "msg.reqMsg = msg.payload;\nmsg.systalk._session_id = msg.reqMsg.sessionId;\nmsg.systalk.serviceSwitch = msg.payload.serviceSwitch;\nmsg._start_setup = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299a6a851b7c4",
        "breakpoints": []
    },
    {
        "id": "acce179.2a410e8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Shared Utils",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 422,
        "y": 261.7142791748047,
        "wires": [
            [
                "9f0f0244.69df8"
            ]
        ],
        "func": "/**\n * This file define utils for Demo Kit and template.\n * Could be copied into a function node or import as function library (current not working).\n * \n * Define in `msg.systalk.utils`\n * 定義在 `function node`，會使用到 `Lodash`（定義在 `node._`）\n */\n\n/**\n * Request message types\n * 總機與各 bot 的 Request 訊息類別\n */\nclass ReqMsgTypes {\n    constructor() {\n        this._text = 1;\n        this._textType = 'text';\n        this._speech = 2;\n        this._speechType = 'speech';\n        this._fromOnlineService = 3;\n        this._fromOnlineServiceType = 'from_online_service';\n        this._fromAuthorization = 4;\n        this._fromAuthorizationType = 'from_authorization';\n        this._fromLocation = 5;\n        this._fromLocationType = 'from_location';\n        this._signal = 6;\n        this._signalType = 'signal';\n        this._config = 7;\n        this._configType = 'config';\n        this._grade = 8;\n        this._gradeType = 'grade';\n        this._initSession = 9;\n        this._initSessionType = 'init_session';\n    }\n    get text() { return this._text; }\n    get textType() { return this._textType }\n    get speech() { return this._speech; }\n    get speechType() { return this._speechType; }\n    get fromOnlineService() { return this._fromOnlineService; }\n    get fromOnlineServiceType() { return this._fromOnlineServiceType; }\n    get fromAuthorization() { return this._fromAuthorization; }\n    get fromAuthorizationType() { return this._fromAuthorizationType; }\n    get fromLocation() { return this._fromLocation; }\n    get fromLocationType() { return this._fromLocationType; }\n    get signal() { return this._signal; }\n    get signalType() { return this._signalType; }\n    get config() { return this._config; }\n    get configType() { return this._configType; }\n    get grade() { return this._grade; }\n    get gradeType() { return this._gradeType; }\n    get initSession() { return this._initSession; }\n    get initSessionType() { return this._initSessionType; }\n\n    isText(val) {\n        return val === this.text || val === this.textType;\n    }\n    isSpeech(val) {\n        return val === this.speech || val === this.speechType;\n    }\n    isFromOnlineService(val) {\n        return val === this.fromOnlineService || val === this.fromOnlineServiceType;\n    }\n    isFromAuthorization(val) {\n        return val === this.fromAuthorization || val === this.fromAuthorizationType;\n    }\n    isFromLocation(val) {\n        return val === this.fromLocation || val === this.fromLocationType;\n    }\n    isSignal(val) {\n        return val === this.signal || val === this.signalType;\n    }\n    isConfig(val) {\n        return val === this.config || val === this.configType;\n    }\n    isGrade(val) {\n        return val === this.grade || val === this.gradeType;\n    }\n    isInitSession(val) {\n        return val === this.initSession || val === this.initSessionType;\n    }\n}\n\nconst reqMsgTypes = new ReqMsgTypes();\n\n/**\n* Reply message types\n*/\nclass ReplyMsgTypes {\n    constructor() {\n        this._text = 1;\n        this._textType = 'text';\n        this._speech = 2;\n        this._speechType = 'speech';\n        this._image = 3;\n        this._imageType = 'image';\n        this._sticker = 4;\n        this._stickerType = 'sticker';\n        this._link = 5;\n        this._linkType = 'link';\n        this._dataList = 6;\n        this._dataListType = 'data_list';\n        this._yesOrNo = 7;\n        this._yesOrNoType = 'yes_or_no';\n        this._toCustomerService = 8;\n        this._toCustomerServiceType = 'to_customer_service';\n        this._toOnlineService = 9;\n        this._toOnlineServiceType = 'to_online_service';\n        this._toAuthorization = 10;\n        this._toAuthorizationType = 'to_authorization';\n        this._toLocation = 11;\n        this._toLocationType = 'to_location';\n        this._redirectBot = 12;\n        this._redirectBotType = 'redirect_bot';\n        this._options = 13;\n        this._optionsType = 'options';\n        this._status = 14;\n        this._statusType = 'status';\n        this._action = 15;\n        this._actionType = 'action';\n        this._generalInfo = 16;\n        this._generalInfoType = 'info_general';\n    }\n\n    get text() { return this._text; }\n    get textType() { return this._textType; }\n    get speech() { return this._speech; }\n    get speechType() { return this._speechType; }\n    get image() { return this._image; }\n    get imageType() { return this._imageType; }\n    get sticker() { return this._sticker; }\n    get stickerType() { return this._stickerType; }\n    get link() { return this._link; }\n    get linkType() { return this._linkType; }\n    get dataList() { return this._dataList; }\n    get dataListType() { return this._dataListType; }\n    get yesOrNo() { return this._yesOrNo; }\n    get yesOrNoType() { return this._yesOrNoType; }\n    get toCustomerService() { return this._toCustomerService; }\n    get toCustomerServiceType() { return this._toCustomerServiceType; }\n    get toOnlineService() { return this._toOnlineService; }\n    get toOnlineServiceType() { return this._toOnlineServiceType; }\n    get toAuthorization() { return this._toAuthorization; }\n    get toAuthorizationType() { return this._toAuthorizationType; }\n    get toLocation() { return this._toLocation; }\n    get toLocationType() { return this._toLocationType; }\n    get redirectBot() { return this._redirectBot; }\n    get redirectBotType() { return this._redirectBotType; }\n    get options() { return this._options; }\n    get optionsType() { return this._optionsType; }\n    get status() { return this._status; }\n    get statusType() { return this._statusType; }\n    get action() { return this._action; }\n    get actionType() { return this._actionType; }\n    get generalInfo() { return this._generalInfo; }\n    get generalInfoType() { return this._generalInfoType; }\n\n    /**\n     * Check type value is 'text' type or not\n     */\n    isText(val) {\n        return val === this.text || val === this.textType;\n    }\n    isSpeech(val) {\n        return val === this.speech || val === this.speechType;\n    }\n    isImage(val) {\n        return val === this.image || val === this.imageType;\n    }\n    isSticker(val) {\n        return val === this.sticker || val === this.stickerType;\n    }\n    isLink(val) {\n        return val === this.link || val === this.linkType;\n    }\n    isDataList(val) {\n        return val === this.dataList || val === this.dataListType;\n    }\n    isYesOrNo(val) {\n        return val === this.yesOrNo || val === this.yesOrNoType;\n    }\n    isToCustomerService(val) {\n        return val === this.toCustomerService || val === this.toCustomerServiceType;\n    }\n    isToOnlineService(val) {\n        return val === this.toOnlineService || val === this.toOnlineServiceType;\n    }\n    isToAuthorization(val) {\n        return val === this.toAuthorization || val === this.toAuthorizationType;\n    }\n    isToLocation(val) {\n        return val === this.toLocation || val === this.toLocationType;\n    }\n    isRedirectBot(val) {\n        return val === this.redirectBot || val === this.redirectBotType;\n    }\n    isOptions(val) {\n        return val === this.options || val === this.optionsType;\n    }\n    isStatus(val) {\n        return val === this.status || val === this.statusType;\n    }\n    isAction(val) {\n        return val === this.action || val === this.actionType;\n    }\n    isGeneralInfo(val) {\n        return val === this.generalInfo || val === this.generalInfoType;\n    }\n}\n\nconst replyMsgTypes = new ReplyMsgTypes();\n\n/**\n* Signals\n*/\nclass ReqSignals {\n    constructor() {\n        this._start = 1;\n        this._startSignal = 'start';\n        this._continue = 2;\n        this._continueSignal = 'continue';\n        this._end = 3;\n        this._endSignal = 'end';\n        this._idle = 4;\n        this._idleSignal = 'idle';\n        this._quit = 5;\n        this._quitSignal = 'quit';\n        this._passedFromCustomerService = 6;\n        this._passedFromCustomerServiceSignal = 'passed_from_customer_service';\n    }\n\n    get start() { return this._start; }\n    get startSignal() { return this._startSignal; }\n    get continue() { return this._continue; }\n    get continueSignal() { return this._continueSignal; }\n    get end() { return this._end; }\n    get endSignal() { return this._endSignal; }\n    get idle() { return this._idle; }\n    get idleSignal() { return this._idleSignal; }\n    get quit() { return this._quit; }\n    get quitSignal() { return this._quitSignal; }\n    get passedFromCustomerService() { return this._passedFromCustomerService; }\n    get passedFromCustomerServiceSignal() { return this._passedFromCustomerServiceSignal; }\n\n\n    isStart(val) {\n        return val === this.start || (typeof val === 'string' && val.toLowerCase() === this.startSignal);\n    }\n    isEnd(val) {\n        return val === this.end || (typeof val === 'string' && val.toLowerCase() === this.endSignal);\n    }\n    isContinue(val) {\n        return val === this.continue || (typeof val === 'string' && val.toLowerCase() === this.continueSignal);\n    }\n    isIdle(val) {\n        return val === this.idle || (typeof val === 'string' && val.toLowerCase() === this.idleSignal);\n    }\n    isQuit(val) {\n        return val === this.quit || (typeof val === 'string' && val.toLowerCase() === this.quitSignal);\n    }\n    isPassedFromCustomerService(val) {\n        return val === this.passedFromCustomerService || (typeof val === 'string' && val.toLowerCase() === this.passedFromCustomerServiceSignal);\n    }\n}\n\nconst reqSignals = new ReqSignals();\n\n/**\n * Controller for request channels\n */\nclass ReqChannels {\n    constructor() {\n    }\n\n    /**\n     * Channel object with default name `text`\n     *\n     * @readonly\n     * @memberof ReqChannels\n     */\n    get text() {\n        return new Channel('文字', { isText: true, isSpeech: false });\n    }\n\n    /**\n     * Channel object of default name `speech`\n     *\n     * @readonly\n     * @memberof ReqChannels\n     */\n    get speech() {\n        return new Channel('語音', { isText: false, isSpeech: true });\n    }\n\n    /**\n     * If the chanel supports message type of `text`\n     * @param {Channel} val Channel object\n     */\n    isText(val) {\n        return !node._.isNil(val) && val.isText;\n    }\n\n    /**\n     * If the channel supports message type of `speech`\n     * @param {Channel} val Channel object\n     */\n    isSpeech(val) {\n        return !node._.isNil(val) && val.isSpeech;\n    }\n}\n\nconst reqChannels = new ReqChannels();\n\n/**\n * Channel object\n * @property {string} name\n * @property {boolean} isText if this channel supports text messages\n * @property {boolean} isSpeech if this channel \n */\nclass Channel {\n    constructor(nameOrChannel, configs) {\n        if (!node._.isNil(nameOrChannel) &&\n            node._.isString(nameOrChannel.name) &&\n            node._.isBoolean(nameOrChannel.isText) && node._.isBoolean(nameOrChannel.isSpeech)) {\n            this.name = nameOrChannel.name;\n            this.isText = nameOrChannel.isText;\n            this.isSpeech = nameOrChannel.isSpeech;\n        }\n        if (node._.isString(nameOrChannel)) {\n            this.name = nameOrChannel;\n        }\n        if (!node._.isNil(configs)) {\n            this.isText = configs.isText || false;\n            this.isSpeech = configs.isSpeech || false;\n        }\n    }\n\n    valueOf() {\n        return this.name;\n    }\n\n    toString() {\n        return this.name;\n    }\n}\n\nclass ReplyActionTypes {\n    constructor() {\n        this._grading = 'grading';\n        this._end = 'end';\n        this._renew = 'renew';\n    }\n\n    get grading() { return this._grading; }\n    get end() { return this._end; }\n    get renew() { return this._renew; }\n\n    isGrading(val) {\n        return val === this.grading;\n    }\n    isEnd(val) {\n        return val === this.end;\n    }\n    isRenew(val) {\n        return val === this._renew;\n    }\n}\n\nconst replyActionTypes = new ReplyActionTypes();\n\n/**\n* Reply message factory\n* recommand to use `create()`\n*/\nclass ReplyMsgFactory {\n    createText(text) {\n        if (node._.isString(text)) {\n            return {\n                type: replyMsgTypes.text,\n                text: text\n            };\n        }\n        return null;\n    }\n    createTextType(text) {\n        if (node._.isString(text)) {\n            return {\n                type: replyMsgTypes.textType,\n                text: text\n            };\n        }\n        return null;\n    }\n    createSpeech(speech) {\n        if (node._.isString(speech)) {\n            return {\n                type: replyMsgTypes.speech,\n                speech: speech\n            };\n        }\n        return null;\n    }\n    createSpeechType(speech) {\n        if (node._.isString(speech)) {\n            return {\n                type: replyMsgTypes.speechType,\n                speech: speech\n            };\n        }\n        return null;\n    }\n    createImage(title, alt, imgUrl) {\n        return {\n            type: replyMsgTypes.image,\n            title: title,\n            alt: alt,\n            imgUrl: imgUrl\n        };\n    }\n    /**\n     * 建立圖片類型訊息\n     * @param {*} params { title, alt, imgUrl }\n     */\n    createImageType(params) {\n        let msg = {\n            type: replyMsgTypes.imageType\n        };\n        if (params) {\n            if (params.title) {\n                msg.title = params.title;\n            }\n            if (params.alt) {\n                msg.alt = params.alt;\n            }\n            if (params.imgUrl) {\n                msg.imgUrl = params.imgUrl;\n            }\n        }\n        return msg;\n    }\n    createSticker(alt, stickerUrl) {\n        return {\n            type: replyMsgTypes.sticker,\n            alt: alt,\n            imgUrl: stickerUrl\n        };\n    }\n    /**\n     * 建立貼圖類型訊息\n     * @param {*} params { alt, imgUrl }\n     */\n    createStickerType(params) {\n        let msg = {\n            type: replyMsgTypes.stickerType\n        };\n        if (params) {\n            if (params.alt) {\n                msg.alt = params.alt;\n            }\n            if (params.imgUrl) {\n                msg.imgUrl = params.imgUrl;\n            }\n        }\n        return msg;\n    }\n    createLink(title, url, data) {\n        let reply = {\n            type: replyMsgTypes.link,\n            text: title, // TODO: deprecated\n            title: title,\n            url: url\n        };\n        reply = Object.assign(reply, data);\n        return reply;\n    }\n    /**\n     * 建立連結類型訊息\n     * @param {*} params { title, url }\n     */\n    createLinkType(params) {\n        let reply = {\n            type: replyMsgTypes.linkType\n        };\n        if (params) {\n            if (params.title) {\n                reply.title = params.title;\n            }\n            if (params.url) {\n                reply.url = params.url;\n            }\n        }\n        return reply;\n    }\n    createDataList(data, title) {\n        return {\n            type: replyMsgTypes.dataList,\n            title: title,\n            data: Array.isArray(data) ? data : [data]\n        };\n    }\n    /**\n     * 建立 data list 類型訊息\n     * @param {*} params { data, title, botType, intent }\n     */\n    createDataListType(params) {\n        let reply = {\n            type: replyMsgTypes.dataListType\n        };\n        if (params) {\n            if (Array.isArray(params.data) && params.data.length) {\n                reply.data = node._.cloneDeep(params.data);\n            }\n            if (params.title) {\n                reply.title = params.title;\n            }\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n        }\n        return reply;\n    }\n    createYesOrNo(yesText, noText) {\n        return {\n            type: replyMsgTypes.yesOrNo,\n            yes: yesText,\n            no: noText\n        };\n    }\n    /**\n     * 建立 yes/no 選項訊息\n     * @param {*} params { yes, no }\n     */\n    createYesOrNoType(params) {\n        let reply = {\n            type: replyMsgTypes.yesOrNoType\n        };\n        if (params) {\n            if (params.yes) {\n                reply.yes = params.yes;\n            }\n            if (params.no) {\n                reply.no = params.no;\n            }\n        }\n        return reply;\n    }\n    createToCustomerService(options) {\n        let reply = {\n            type: replyMsgTypes.toCustomerService\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToCustomerServiceType(options) {\n        let reply = {\n            type: replyMsgTypes.toCustomerServiceType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToOnlineService(options) {\n        let reply = {\n            type: replyMsgTypes.toOnlineService\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToOnlineServiceType(options) {\n        let reply = {\n            type: replyMsgTypes.toOnlineServiceType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToAuthorization(options) {\n        let reply = {\n            type: replyMsgTypes.toAuthorization,\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToAuthorizationType(options) {\n        let reply = {\n            type: replyMsgTypes.toAuthorizationType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToLocation(botType, entities, location) {\n        return {\n            type: replyMsgTypes.toLocation,\n            botType: botType,\n            location: location,\n            entities: entities\n        };\n    }\n    /**\n     * 建立需取得定位訊息\n     * @param {*} params { botType, intent }\n     */\n    createToLocationType(params) {\n        let reply = {\n            type: replyMsgTypes.toLocationType\n        };\n        if (params) {\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n        }\n        return reply;\n    }\n    createRedirectBot(opts) {\n        return {\n            type: replyMsgTypes.redirectBot,\n            botType: opts && opts.botType,\n            intent: opts && opts.intent,\n            entities: opts && opts.entities,\n            data: opts && opts.data\n        };\n    }\n    /**\n     * 建立要求總機重新導向 second bot 類型訊息\n     * @param {*} params { botType, intent, entities, data }\n     */\n    createRedirectBotType(params) {\n        let reply = {\n            type: replyMsgTypes.redirectBotType\n        };\n        if (params) {\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n            if (params.entities) {\n                reply.entities = node._.cloneDeep(params.entities);\n            }\n            if (params.data) {\n                reply.data = node._.cloneDeep(params.data);\n            }\n        }\n        return reply;\n    }\n    /**\n     * 建立 options 訊息物件\n     * data 陣列中僅允許包含 text, speech, image, sticker, link\n     * @param opts <Option_Item>[] Including properties : title, payload, url\n     * @param title string Title\n     */\n    createOptions(opts, title) {\n        const ctrl = new ReplyMsgCtrl();\n        let options = Array.isArray(opts) ? [].concat(opts) : [opts];\n        options = options.filter(opt => {\n            return !!opt && (opt.title && (opt.payload || opt.url));\n        });\n\n        let reply = {\n            type: replyMsgTypes.options\n        };\n        if (options) {\n            reply.data = options;\n        }\n        if (title) {\n            reply.title = title;\n        }\n        return reply;\n    }\n    /**\n     * 建立選項類型訊息\n     * @param {*} params { opts, title }\n     */\n    createOptionsType(params) {\n        let reply = {\n            type: replyMsgTypes.optionsType\n        };\n\n        if (params) {\n            let options = Array.isArray(params.opts) ? [].concat(opts) : [opts];\n            options = options.filter(opt => {\n                return !!opt && (opt.title && (opt.payload || opt.url));\n            });\n\n\n            if (options) {\n                reply.data = node._.cloneDeep(options);\n            }\n            if (title) {\n                reply.title = title;\n            }\n        }\n        return reply;\n    }\n    createStatus(code, msg) {\n        return {\n            type: replyMsgTypes.status,\n            status: {\n                code: code,\n                message: msg\n            }\n        };\n    }\n    /**\n     * 建立狀態訊息\n     * @param {*} params { status: { code, message } }\n     */\n    createStatusType(params) {\n        let reply = {\n            type: replyMsgTypes.statusType\n        };\n        if (params) {\n            if (params.status) {\n                reply.status = node._.cloneDeep(params.status);\n            }\n        }\n        return reply;\n    }\n    createAction(actionType) {\n        return {\n            type: replyMsgTypes.action,\n            action: actionType\n        };\n    }\n    /**\n     * 建立動作訊息\n     * @param {*} params { action }\n     */\n    createActionType(params) {\n        let reply = {\n            type: replyMsgTypes.actionType\n        };\n        if (params) {\n            if (params.action) {\n                reply.action = params.action;\n            }\n        }\n        return reply;\n    }\n    create(data) {\n        const reply = {};\n        if (data.type) { reply.type = data.type; }\n        if (data.text) { reply.text = data.text; }\n        if (data.speech) { reply.speech = data.speech; }\n        if (data.title) { reply.title = data.title; }\n        if (data.alt) { reply.alt = data.alt; }\n        if (data.imgUrl) { reply.imgUrl = data.imgUrl; }\n        if (data.url) { reply.url = data.url; }\n        if (data.data) { reply.data = node._.cloneDeep(data.data); }\n        if (data.yes) { reply.yes = data.yes; }\n        if (data.no) { reply.no = data.no; }\n        if (data.userId) { reply.userId = data.userId; }\n        if (data.botType) { reply.botType = data.botType; }\n        if (data.intent) { reply.intent = data.intent; }\n        if (data.entities) { reply.entities = node._.cloneDeep(data.entities); }\n        if (data.location) { reply.location = node._.cloneDeep(data.location); }\n        if (data.action) { reply.action = data.action; }\n        if (data.status) { reply.status = node._.cloneDeep(data.status); }\n        if (data.postbackReq) { reply.postbackReq = node._.cloneDeep(data.postbackReq); }\n        return reply;\n    }\n}\n\nclass ReqMsgCtrl {\n    isText(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isText(msg.message.type) : reqMsgTypes.isText(msg.type);\n    }\n\n    isSpeech(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isSpeech(msg.message.type) : reqMsgTypes.isSpeech(msg.type);\n    }\n\n    isFromOnlineService(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromOnlineService(msg.message.type) : reqMsgTypes.isFromOnlineService(msg.type);\n    }\n\n    isFromAuthorization(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromAuthorization(msg.message.type) : reqMsgTypes.isFromAuthorization(msg.type);\n    }\n\n    isFromLocation(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromLocation(msg.message.type) : reqMsgTypes.isFromLocation(msg.type);\n    }\n\n    isSignal(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isSignal(msg.message.type) : reqMsgTypes.isSignal(msg.type);\n    }\n\n    isStartSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isStart(msg.message.signal);\n    }\n\n    isContinueSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isContinue(msg.message.signal);\n    }\n\n    isEndSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isEnd(msg.message.signal);\n    }\n\n    isIdleSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isIdle(msg.message.signal);\n    }\n\n    isQuitSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isQuit(msg.message.signal);\n    }\n\n    isPassedFromCustomerServiceSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isPassedFromCustomerService(msg.message.signal);\n    }\n\n    isConfig(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isConfig(msg.message.type) : reqMsgTypes.isConfig(msg.type);\n    }\n\n    isGrade(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isGrade(msg.message.type) : reqMsgTypes.isGrade(msg.type);\n    }\n\n    isInitSession(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isInitSession(msg.message.type) : reqMsgTypes.isInitSession(msg.type);\n    }\n\n    /**\n     * Normalize message's channel\n     * By default, channel would be a text channel\n     * @param {any} reqMsg request message object\n     */\n    normalize(reqMsg) {\n        if (!reqMsg || !reqMsg.message) {\n            return;\n        }\n        let channelObj = this._normalizeChannel(reqMsg.channel) || reqChannels.text;\n        if (!node._.isNil(channelObj)) {\n            reqMsg.channel = node._.clone(channelObj);\n        }\n    }\n\n\n    /**\n     * Normalize channel object\n     * @param {any} channel \n     */\n    _normalizeChannel(channel) {\n        let channelObj = null; // set the default channel\n        if (node._.isNumber(channel)) {\n            // If the channel is number, and > 0\n            // it would be deprecated channel type, convert it.\n            if (channel > 0) {\n                channelObj = new Channel(channel.toString(), {\n                    isText: channel & 1 === 1,\n                    isSpeech: channel & 2 === 2\n                });\n            }\n            else {\n                channelObj = new Channel(channel.toString(), {\n                    isText: true,\n                    isSpeech: false\n                });\n            }\n        }\n        else if (node._.isString(channel)) {\n            channelObj = new Channel(channel, {\n                isText: true,\n                isSpeech: false\n            });\n        }\n        else if (!node._.isNil(channel) &&\n            node._.isString(channel.name)) {\n            channelObj = new Channel(channel.name, {\n                isText: node._.isBoolean(channel.isText) ? channel.isText : !!channel.isText,\n                isSpeech: node._.isBoolean(channel.isSpeech) ? channel.isSpeech : !!channel.isSpeech\n            });\n        }\n        return channelObj;\n    }\n}\n\nclass ReplyMsgCtrl {\n    isText(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isText(msg.type);\n    }\n\n    isSpeech(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isSpeech(msg.type);\n    }\n\n    isImage(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isImage(msg.type);\n    }\n\n    isSticker(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isSticker(msg.type);\n    }\n\n    isLink(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isLink(msg.type);\n    }\n\n    isDataList(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isDataList(msg.type);\n    }\n\n    isYesOrNo(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isYesOrNo(msg.type);\n    }\n\n    isToCustomerService(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToCustomerService(msg.type);\n    }\n\n    isToOnlineService(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToOnlineService(msg.type);\n    }\n\n    isToAuthorization(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToAuthorization(msg.type);\n    }\n\n    isToLocation(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToLocation(msg.type);\n    }\n\n    isRedirectBot(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isRedirectBot(msg.type);\n    }\n\n    isOptions(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isOptions(msg.type);\n    }\n\n    isStatus(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isStatus(msg.type);\n    }\n\n    isAction(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isAction(msg.type);\n    }\n\n    isGeneralInfo(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isGeneralInfo(msg.type);\n    }\n\n    isValid(msg) {\n        return this.isText(msg) ||\n            this.isSpeech(msg) ||\n            this.isImage(msg) ||\n            this.isSticker(msg) ||\n            this.isLink(msg) ||\n            this.isDataList(msg) ||\n            this.isYesOrNo(msg) ||\n            this.isToCustomerService(msg) ||\n            this.isToOnlineService(msg) ||\n            this.isToAuthorization(msg) ||\n            this.isToLocation(msg) ||\n            this.isRedirectBot(msg) ||\n            this.isOptions(msg) ||\n            this.isStatus(msg) ||\n            this.isAction(msg) ||\n            this.isGeneralInfo(msg);\n    }\n}\n\n/**\n * 物件相關 utils\n */\nclass ObjUtils {\n\n    removeSpecialCharFromKeys(obj) {\n        for (let prop in obj) {\n            let testReg = /\\./g;\n            if (testReg.test(prop)) {\n                const newProp = prop.replace(testReg, '');\n                let propVal = obj[prop];\n                delete obj[prop];\n                obj[newProp] = propVal;\n            }\n        }\n        return obj;\n    }\n}\n\n/**\n * 訊息相關 utils\n */\nclass MsgUtils {\n    /**\n     * Create output array (index of total)\n     * @params msg msg obj\n     * @params index 1-based\n     * @params total num of outputs\n     */\n    output(msg, index, total) {\n        total = !isNaN(total) && total >= 1 ? total : 1;\n        index = !isNaN(index) && index >= 1 && index <= total ? index : 1;\n        let outputs = new Array(total);\n        outputs.fill(null);\n        outputs[index - 1] = msg;\n        return outputs;\n    }\n}\n\n/**\n * 結束動作選項\n */\nclass QuitOptions {\n    constructor() {\n        this._none = 0;\n        this._quitNone = 'quit_none';\n        this._current = 1;\n        this._quitCurrent = 'quit_current';\n        this._all = 2;\n        this._quitAll = 'quit_all';\n    }\n\n    get none() { return this._none; }\n    get quitNone() { return this._quitNone; }\n    get current() { return this._current; }\n    get quitCurrent() { return this._quitCurrent; }\n    get all() { return this._all; }\n    get quitAll() { return this._quitAll; }\n}\n\nconst quitOptions = new QuitOptions();\n\n\nclass LocalesUtils {\n\n    /**\n     * 取得 locales 對應語句或物件\n     * 若指定 channel 不存在 key 值，判斷 text 或 speech 是否有定義\n     * \n     * @param {Channel} channel Channel object\n     * @param {string | Array} key 以 dot ('.')分隔的字串，表示 property path\n     * @param {Object} replaceParams\n     */\n    get(locales, channel, key, replaceParams) {\n        if (!node._.isNil(locales)) {\n            let result = node._.get(locales[channel], key);\n            // 預設 Channel 與對應的語料\n            if (!result) {\n                if (reqChannels.isText(channel)) {\n                    result = node._.get(locales[reqChannels.text], key);\n                }\n                else if (reqChannels.isSpeech(channel)) {\n                    result = node._.get(locales[reqChannels.speech], key);\n                }\n            }\n            if (!!result && typeof result === 'string') {\n                result = this.replaceTextByParams(result, replaceParams);\n            }\n            return result;\n        }\n    }\n\n    /**\n     * 取代文字中指定參數，文字中須以 {{param}} 表示\n     * @param {*} text \n     * @param {*} params 取代參數值，會包含對應的參數，如 { param: \"new value\" }\n     */\n    replaceTextByParams(text, params) {\n        if (params) {\n            Object.keys(params).forEach(key => {\n                if (typeof params[key] === 'string') {\n                    const regex = new RegExp('{{\\\\s*' + key + '\\\\s*}}', 'gm');\n                    text = text.replace(regex, params[key]);\n                }\n            });\n        }\n        return text;\n    }\n}\n\n/**\n * 提供 First-In-First-Out 操作於指定的 array\n */\nclass QueueUtils {\n    /**\n     * 新增至 Queue 最後\n     */\n    push(queue, data) {\n        if (Array.isArray(queue) && !!data) {\n            if (!node._.isEqual(this.last(queue), data))\n                queue.push(data);\n        }\n    }\n    /**\n     * 從 Queue 最後取出\n     */\n    pop(queue) {\n        if (Array.isArray(queue)) {\n            let item = queue.pop();\n            return typeof item === 'object' ?\n                node._.cloneDeep(item) : item;\n        }\n        return null;\n    }\n    /**\n     * 從 Queue 第一個取出\n     */\n    shift(queue) {\n        if (Array.isArray(queue)) {\n            let item = queue.shift();\n            return typeof item === 'object' ?\n                node._.cloneDeep(item) : item;\n        }\n        return null;\n    }\n    /**\n     * 清除 Queue\n     */\n    clear(queue) {\n        if (Array.isArray(queue)) {\n            queue.splice(0, queue.length);\n        }\n    }\n    /**\n     * 刪除 Queue 中指定項目\n     */\n    remove(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            queue.splice(index, 1);\n        }\n    }\n    /**\n     * 取得 Queue 的第一個項目\n     */\n    first(queue) {\n        if (Array.isArray(queue) && queue.length > 0) {\n            return typeof queue[0] === 'object' ?\n                Object.assign({}, queue[0]) : queue[0];\n        }\n        return null;\n    }\n    /**\n     * 取得 Queue 的最新的項目\n     */\n    last(queue) {\n        if (Array.isArray(queue) && queue.length > 0) {\n            return typeof queue[queue.length - 1] === 'object' ?\n                Object.assign({}, queue[queue.length - 1]) : queue[queue.length - 1];\n        }\n        return null;\n    }\n\n    /**\n     * 取得指定順位的項目\n     * @param {*} queue array of items as queue\n     * @param {*} index 0-based index\n     */\n    get(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            return typeof queue[index] === 'object' ?\n                Object.assign({}, queue[index]) : queue[index];\n        }\n    }\n    /**\n     * 從最後一個倒數，取得指定順位的項目\n     * @param {*} queue array of items as queue\n     * @param {*} index 0-based index\n     */\n    getFromLast(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            return typeof queue[queue.length - index - 1] === 'object' ?\n                Object.assign({}, queue[queue.length - index - 1]) : queue[queue.length - index - 1];\n        }\n    }\n}\n\n/**\n * 字串相關工具\n */\nclass StringUtils {\n    /**\n     * 計算字串最短距離\n     * @param {*} str1 \n     * @param {*} str2 \n     */\n    levenshteinDistance(str1, str2) {\n        str1 = str1 || '';\n        str2 = str2 || '';\n        let vectorPrevious = [];\n        let vectorCurrent = [];\n\n        for (let i = 0; i <= str2.length; ++i) {\n            vectorPrevious[i] = i;\n        }\n        for (let i = 0; i < str1.length; ++i) {\n            vectorCurrent[0] = i + 1;\n\n            for (let j = 0; j < str2.length; ++j) {\n                let deletionCost = vectorPrevious[j + 1] + 1;\n                let insertionCost = vectorCurrent[j] + 1;\n                let substitutionCost = 0;\n\n                if (str1[i] === str2[j]) {\n                    substitutionCost = vectorPrevious[j];\n                } else {\n                    substitutionCost = vectorPrevious[j] + 1;\n                }\n                vectorCurrent[j + 1] = node._.min([\n                    deletionCost,\n                    insertionCost,\n                    substitutionCost\n                ]);\n            }\n\n            vectorPrevious = [].concat(vectorCurrent);\n            vectorCurrent = [];\n        }\n        return vectorPrevious[str2.length];\n    }\n\n    /**\n     * 計算字串最短距離，並轉成相似度(0.0 ~ 1.0)\n     * @param {*} str1 \n     * @param {*} str2 \n     */\n    stringSimilarity(str1, str2) {\n        let distance = this.levenshteinDistance(str1, str2);\n        let maxLen = node._.max([str1.length, str2.length]);\n        return parseFloat((maxLen - distance) / maxLen);\n    }\n}\n\nconst stringUtils = new StringUtils();\n\n/**\n * Setup and update `msg.report_stats` and `msg.systalk.report_stats_session`\n */\nclass ReportUtils {\n\n    /**\n     * Get channel's description, then set to `msg.report_stats_session.channel`\n     * @param {Object} reportStatsSession report stats per session\n     * @param {Channel} channel Channel object\n     */\n    setSessionChannel(reportStatsSession, channel) {\n        if (!node._.isNil(reportStatsSession) && !node._.isNil(channel)) {\n            let stats = reportStatsSession;\n            stats.channel = channel.toString();\n        }\n    }\n\n    /**\n     * \n     * @param {Object} reportStatsSession report stats per session\n     * @param {number} hasInputed `true` if user has inputed\n     */\n    setSessionUserHasInputed(reportStatsSession, hasInputed) {\n        if (!node._.isNil(reportStatsSession)) {\n            reportStatsSession.userHasInputed = hasInputed || false;\n        }\n    }\n\n    /**\n     * Set `msg.systalk.report_stats_session.toCustomerService` to check if this session is transfered to customer service\n     * @param {Object} reportStatsSession report stats per session\n     * @param {boolean} isTransferedToCS is this session transfered to customer service\n     */\n    setSessionToCustomerService(reportStatsSession, isTransferedToCS) {\n        reportStatsSession.toCustomerService = node._.isNil(isTransferedToCS) ? false : isTransferedToCS;\n    }\n\n    /**\n     * 使用者對 Chat Bot 評分\n     * @param {*} reportStatsSession report stats per session\n     * @param {number} score 評分\n     */\n    setSessionScoreForBot(reportStatsSession, score) {\n        if (!node._.isNil(reportStatsSession)) {\n            let _score = parseInt(score);\n            reportStatsSession.botUserScore = !isNaN(_score) && _score >= 0 ? _score : 0;\n        }\n    }\n\n    /**\n     * 使用者對客服人員的評分\n     * @param {Object} reportStatsSession report stats per session\n     * @param {number} score 評分\n     */\n    setSessionScoreForAgent(reportStatsSession, score) {\n        if (!node._.isNil(reportStatsSession)) {\n            let _score = parseInt(score);\n            reportStatsSession.agentUserScore = !isNaN(_score) && _score >= 0 ? _score : 0;\n        }\n    }\n\n    /**\n     * 設定是否為 `undecided`\n     * @param {Object} reportStats report stats per message\n     * @param {string} deciding `Decided`, `Undecided` or `Suggested FAQ`\n     */\n    setDeciding(reportStats, deciding) {\n        if (!node._.isNil(reportStats) && !node._.isNil(deciding)) {\n            reportStats.deciding = deciding;\n        }\n    }\n}\n\nclass LangCtrl {\n    constructor() {\n    }\n\n    /**\n     * Normalize lang code: lower case & separated by `-`\n     * ex: `zh-tw`, `en-us`\n     * @param {string} langCode lang code\n     */\n    normalize(langCode) {\n        if (!!langCode) {\n            return langCode.toLowerCase().trim();\n        }\n    }\n\n    /**\n     * Return the `langCode`, if it's valid in `validLangs`, `defaultLang` otherwise \n     * @param {string[]} validLangs collection of valid lang codes\n     * @param {string} langCode lang code to be determined\n     * @param {string} defaultLang default as `langCode` not in `validLangs`\n     */\n    validOrDefault(validLangs, langCode, defaultLang) {\n        if (Array.isArray(validLangs)) {\n            return validLangs.some(x => this.normalize(x) === this.normalize(langCode)) ?\n                langCode : defaultLang;\n        }\n    }\n}\n\nclass AnalysisCtrl {\n    constructor() { }\n\n    /**\n     * Map NLU result for analysis\n     * \n     * @param {Object} nlu NLU result object\n     * @param {Object} extraConfigs Extra configs for NLU  \n     * ```typescript\n     * {\n     *   isFirstNLU: boolean;\n     *   isSecondNLU: boolean;\n     *   isThirdNLU: boolean;\n     *   threshold: number;\n     * }\n     * ```\n     * @returns NLU Result for analysis\n     * ```typescript\n     * {\n     *   sentence: string;\n     *   intents: IntentResult[];\n     *   entities: EntityResult[];\n     * \n     *   isFirstNLU: boolean;\n     *   isSecondNLU: boolean;\n     *   isThirdNLU: boolean;\n     *   threshold: number;\n     *   secondThreshold: number;\n     *   fallbackScore: number;\n     *   name: string;\n     * }\n     * ```\n     */\n    mapNLUResult(nlu, extraConfigs) {\n        let res = null;\n        if (!node._.isNil(nlu)) {\n            res = {};\n            res.sentence = nlu.sentence;\n            res.intents = [].concat(nlu.intents.map(x => this.mapIntentResult(x)).filter(x => !!x));\n            res.entities = [].concat(nlu.entities.map(y => this.mapEntityResult(y)).filter(y => !!y));\n\n            res.isFirstNLU = !!extraConfigs && extraConfigs.isFirstNLU || false;\n            res.isSecondNLU = !!extraConfigs && extraConfigs.isSecondNLU || false;\n            res.isThirdNLU = !!extraConfigs && extraConfigs.isThirdNLU || false;\n            res.threshold = !!extraConfigs && extraConfigs.threshold || 0;\n            res.secondThreshold = !!extraConfigs && extraConfigs.secondThreshold || 0;\n            res.fallbackScore = !!extraConfigs && extraConfigs.fallbackScore || 0;\n            res.name = !!extraConfigs && extraConfigs.name;\n        }\n        return res;\n    }\n\n    mapIntentResult(intent) {\n        let res = null;\n        if (!node._.isNil(intent)) {\n            res = {};\n            res.intent_id = intent.intent_id;\n            res.intent = intent.intent;\n            res.score = intent.score;\n        }\n        return res;\n    }\n\n    mapEntityResult(entity) {\n        let res = null;\n        if (!node._.isNil(entity)) {\n            res = {};\n            res.entity_id = entity.entity_id;\n            res.info = entity.info;\n            res.text = entity.text;\n            res.key_user_phrase = entity.key_user_phrase;\n            res.entity = entity.entity;\n        }\n        return res;\n    }\n\n    /**\n     * Map FAQ result for analysis\n     *\n     * @param {Object} faq FAQ Result object\n     * @param {Object} extraConfigs Extra configs for FAQ\n     * ```typescript\n     * {\n     *   isFirstFAQ: boolean;\n     *   threshold: number;\n     *   secondThreshold: number;\n     *   name: string;\n     * }\n     * ```\n     */\n    mapFAQResult(faq, extraConfigs) {\n        let res = null;\n        if (!node._.isNil(faq)) {\n            res = {};\n            res.qid = faq.id;\n            res.originalQuestion = faq.orig_question;\n            res.answer = faq.answer;\n\n            if (!node._.isNil(faq.multichannel_answers) && Array.isArray(faq.multichannel_answers)) {\n                res.multichannel_answers = [].concat(faq.multichannel_answers.map(x => this.mapMultiChannelFAQAnswers(x)));\n            }\n            res.categories = [].concat(node._.cloneDeep(faq.categories));\n            res.score = faq.score;\n\n            res.threshold = !!extraConfigs && extraConfigs.threshold || 0;\n            res.secondThreshold = !!extraConfigs && extraConfigs.secondThreshold || 0;\n            res.isFirstFAQ = !!extraConfigs && extraConfigs.isFirstFAQ || false;\n            res.name = !!extraConfigs && extraConfigs.name;\n        }\n        return res;\n    }\n\n    mapMultiChannelFAQAnswers(ans) {\n        let res = null;\n        if (!node._.isNil(ans)) {\n            res = {};\n            res.channel = ans.tab.name;\n            res.answer = ans.answer;\n        }\n        return res;\n    }\n\n    /**\n     * Map recored NLU result for Report used\n     * @param {Object} nluResult \n     */\n    mapNLUResultForReport(nluResult) {\n        if (!!nluResult &&\n            Array.isArray(nluResult.intents) && nluResult.intents.length) {\n\n            let isUndecided = false;\n            let isSuggested = false;\n            if (node._.isNumber(nluResult.threshold)) {\n                isUndecided = isUndecided || nluResult.intents[0].score < nluResult.threshold;\n            }\n            if (node._.isNumber(nluResult.fallbackScore)) {\n                isUndecided = isUndecided || nluResult.intents[0].score === nluResult.fallbackScore;\n            }\n            if (node._.isNumber(nluResult.secondThreshold)) {\n                isSuggested = isSuggested || nluResult.intents[0].score >= nluResult.secondThreshold;\n            }\n\n            return {\n                intent: nluResult.intents[0].intent,\n                undecided: isUndecided,\n                suggested: isSuggested\n            };\n        }\n        return null;\n    }\n\n    /**\n     * Map recored FAQ result for Report used\n     * @param {Object} faqResult \n     * @param {Object} extraConfigs Extra configs for `faqResult`\n     * ```typescript\n     * {\n     *   parentCategory: string;\n     *   childCategory: string;\n     * }\n     * ```\n     */\n    mapFAQResultForReport(faqResult, extraConfigs) {\n        let res = null;\n        if (!!faqResult) {\n            res = {};\n            res.qid = faqResult.qid;\n            res.originalQuestion = faqResult.originalQuestion;\n            res.score = faqResult.score;\n            res.undecided = node._.isNumber(faqResult.threshold) ? faqResult.score < faqResult.threshold : false;\n            res.suggested = node._.isNumber(faqResult.secondThreshold) ? faqResult.score >= faqResult.secondThreshold : false;\n            res.parentCategory = extraConfigs.parentCategory || undefined;\n            res.childCategory = extraConfigs.childCategory || undefined;\n            return res;\n        }\n        return null;\n    }\n\n    /**\n     * Get the NLU result marked as the first NLU\n     * @param {Object[]} list \n     */\n    getFirstNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isFirstNLU) || null;\n        }\n    }\n\n    /**\n     * Get the NLU result marked as the second NLU\n     * @param {Object[]} list \n     */\n    getSecondNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isSecondNLU) || null;\n        }\n    }\n\n    /**\n     * Get the NLU result marked as the third NLU\n     * @param {Object[]} list\n     */\n    getThirdNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isThirdNLU) || null;\n        }\n    }\n\n    /**\n     * Get the FAQ result marked as the first FAQ\n     * @param {Object[]} list \n     */\n    getFirstFAQ(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isFirstFAQ) || null;\n        }\n    }\n}\n\n/**\n * 提供 `msg.config` 相關 Utility 方法\n */\nclass ConfigCtrl {\n\n    getBotApi(name) {\n        if (name && msg.config.apis.bots) {\n            return msg.config.apis.bots[name];\n        }\n    }\n\n    getNLUApi(name) {\n        if (name && msg.config.apis && msg.config.apis.nlu) {\n            return msg.config.apis.nlu[name];\n        }\n    }\n\n    getFAQApi(name) {\n        if (name && msg.config.apis && msg.config.apis.faq) {\n            return msg.config.apis.faq[name];\n        }\n    }\n\n    getLocalesApi() {\n        if (msg.config.apis && msg.config.apis.locales) {\n            return msg.config.apis.locales;\n        }\n    }\n\n    /**\n     * 取得 NLU 門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUThreshold(name) {\n        if (name && msg.config.threshold && msg.config.threshold.nlu) {\n            return msg.config.threshold.nlu[name];\n        }\n    }\n\n    /**\n     * 取得 NLU 次門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUSecondThreshold(name) {\n        return this.getNLUMinorThreshold(name);\n    }\n\n    /**\n     * 取得 NLU 次門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUMinorThreshold(name) {\n        if (name && msg.config.secondThreshold && msg.config.secondThreshold.nlu) {\n            return msg.config.secondThreshold.nlu[name];\n        }\n    }\n\n    /**\n     * 取得 FAQ 門檻值\n     * @param {string} name 設定 FAQ 的名稱\n     */\n    getFAQThreshold(name) {\n        if (name && msg.config.threshold && msg.config.threshold.faq) {\n            return msg.config.threshold.faq[name];\n        }\n    }\n\n    /**\n     * 取得 FAQ 次門檻值\n     * @param {string} name 設定的 FAQ 名稱\n     */\n    getFAQSecondThreshold(name) {\n        return this.getFAQMinorThreshold(name);\n    }\n\n    /**\n     * 取得 FAQ 次門檻值\n     * @param {string} name 設定的 FAQ 名稱\n     */\n    getFAQMinorThreshold(name) {\n        if (name && msg.config.secondThreshold && msg.config.secondThreshold.faq) {\n            return msg.config.secondThreshold.faq[name];\n        }\n    }\n\n    /**\n     * 取得原點值\n     * @param {string} name 設定 NLU 的名稱\n     */\n    getFallbackScore(name) {\n        return this.getOriginValue(name);\n    }\n\n    /**\n     * 取得原點值\n     * @param {string} name 設定 NLU 的名稱\n     */\n    getOriginValue(name) {\n        if (name && msg.config.nluFallbackScore) {\n            return msg.config.nluFallbackScore[name];\n        }\n    }\n\n    /**\n     * service 是否擁有指定的操作意圖（與項目意圖）\n     * @param { string } serviceName 服務意圖名稱\n     * @param { string } operationName 操作意圖名稱\n     * @param { item } itemName 項目意圖名稱\n     */\n    serviceHasOperationAndItem(serviceName, operationName, itemName) {\n        if (!msg.config.intentsMap || !serviceName) {\n            return false;\n        }\n\n        const operations = msg.config.intentsMap[serviceName] && Object.keys(msg.config.intentsMap[serviceName]) || [];\n        let items = [];\n        operations.forEach(op => {\n            items = items.concat(msg.config.intentsMap[serviceName][op] || []);\n        });\n\n        const hasOperation = operationName && operations.includes(operationName);\n        const hasItem = itemName && items.includes(itemName);\n        const itemsOfOperation = msg.config.intentsMap[serviceName] && Array.isArray(msg.config.intentsMap[serviceName][operationName]) ?\n            msg.config.intentsMap[serviceName][operationName] : [];\n        const hasItemOfOperation = operationName && itemName && hasOperation &&\n            itemsOfOperation.includes(itemName);\n\n        return hasOperation || hasItem || hasItemOfOperation;\n    }\n}\n\n\nmsg.systalk.utils = {\n    ReqMsgTypes: reqMsgTypes,\n    ReplyMsgTypes: replyMsgTypes,\n    ReqSignals: reqSignals,\n    ReqChannels: reqChannels,\n    Channel: Channel,\n    ReplyMsgFactory: new ReplyMsgFactory(),\n    ReqMsgCtrl: new ReqMsgCtrl(),\n    ReplyMsgCtrl: new ReplyMsgCtrl(),\n    ObjUtils: new ObjUtils(),\n    MsgUtils: new MsgUtils(),\n    QuitOptions: quitOptions,\n    LocalesUtils: new LocalesUtils(),\n    ReplyActionTypes: replyActionTypes,\n    QueueUtils: new QueueUtils(),\n    StringUtils: stringUtils,\n    ReportUtils: new ReportUtils(),\n    LangCtrl: new LangCtrl(),\n    AnalysisCtrl: new AnalysisCtrl(),\n    ConfigCtrl: new ConfigCtrl()\n};\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042994cc651b7c5",
        "breakpoints": []
    },
    {
        "id": "23b626ac.3b477a",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Message Type",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 793.0000228881836,
        "y": 805.7142419815063,
        "wires": [
            [
                "5d38c48.d9c883c"
            ],
            [
                "51fed9ce.2e3fa8"
            ],
            [
                "48d7783a.ab37c8"
            ]
        ],
        "func": "const ReqMsgCtrl = msg.systalk.utils.ReqMsgCtrl;\nconst MsgUtils = msg.systalk.utils.MsgUtils;\nconst auth = msg.systalk.needInfo.auth;\nif (msg.reqMsg.textComparsion && Object.values(msg.reqMsg.textComparsion).some(x => x.matched)) {\n    return [msg, null, null];\n}\n\nif (checkAuth(auth)) {\n    return [null, msg, null];\n}\n\n// reqMsg is text or speech\nlet content = msg.reqMsg.message.msg;\nmsg.text = content;\nmsg.payload = msg.text;\n\nreturn [null, null, msg];\n\nfunction checkAuth (obj) {\n    for (let prop in obj) {\n        if (obj[prop] && obj[prop] !== null) {\n            return true;\n        }\n    }\n    return false;\n}",
        "outputs": 3,
        "noerr": 0,
        "_id": "61d6ac0af042995f3a51b7c6",
        "breakpoints": []
    },
    {
        "id": "3b37b625.5f92ca",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 2008,
        "y": 254.7142791748047,
        "wires": [
            []
        ],
        "func": "// 結束 setup 流程\nmsg._start_setup = false;\nconst ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nif (msg.systalk.needInfo.nextRound) {\n    msg.current = msg.systalk.needInfo.nextRound;\n} else if (msg.reqMsg.message.param && msg.reqMsg.message.param.closeModal) {\n    node.log('inside')\n    ChatWebRequest.addScene('UB002')\n    msg.reqBody = ChatWebRequest.getMsgObj;\n    msg._gateWay = true;\n    msg._start_flow = true;\n    msg.url = msg.config.apis.gateWay.scene;\n} else {\n    // 進入開始流程\n    msg._start_flow = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af0429979fc51b7c7",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "e89f81e0.539ac",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "Start",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 187,
        "y": 804.7142791748047,
        "wires": [
            [
                "ac84418e.035f6",
                "77c2888e.b06d88"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af042993f7b51b7c8",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_start_flow"
            },
            {
                "t": "null",
                "p": "skipStartFlow"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "bcfb5cde.e90a8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Response",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1213,
        "y": 101.71427917480469,
        "wires": [
            [
                "2754e084.63c76",
                "ca03befd.e156f"
            ]
        ],
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042994b2851b7c9",
        "breakpoints": []
    },
    {
        "id": "9977cb9a.8d01a8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "Response",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 197,
        "y": 1641.7142791748047,
        "wires": [
            [
                "ec9c727.5c19c9"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af04299570e51b7ca",
        "breakpoints": [],
        "rules": [
            {
                "t": "nnull",
                "p": "messages"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "fb726bbe.0269c8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 857,
        "y": 1641.7142791748047,
        "wires": [
            []
        ],
        "func": "\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042993d4651b7cb",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "7d86083f.89ac38",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "Req User Input",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 207,
        "y": 1701.7142791748047,
        "wires": [
            [
                "19772f3f.eca881"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af04299487351b7cc",
        "breakpoints": [],
        "rules": [
            {
                "t": "false",
                "p": "_enter_end_dialogue"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "19772f3f.eca881",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 417,
        "y": 1701.7142791748047,
        "wires": [
            []
        ],
        "func": "msg._enter_end_dialogue = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042995ce351b7cd",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": true
    },
    {
        "id": "8c83b9d1.58d598",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "End Dialogue",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 207,
        "y": 1761.7142791748047,
        "wires": [
            [
                "9719ac96.25bcf"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af04299e4d351b7ce",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_enter_end_dialogue"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "7d4505d1.e66ebc",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 621,
        "y": 1762.7142524719238,
        "wires": [
            []
        ],
        "func": "msg._enter_end_dialogue = undefined;\nmsg.systalk.pendingBotQueue = undefined;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299ab9e51b7cf",
        "breakpoints": [],
        "response": "",
        "finalstate": true,
        "requestUserInput": false
    },
    {
        "id": "c04e2e63.5187",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "comment",
        "name": "統一處理回應",
        "z": "6236806f.406bf",
        "info": "為紀錄額外資訊並清除多餘資訊   \n因此，需於 `Router` output 前處理完成。  \n\n1. 將各子流程 state 節點，皆__不設定__ \n   `Request User Input` 或 `End Dialogue`。\n2. 由於 Router node 會__輪詢__ Enter node，\n   因此可__依序__設定與清理 Response ，\n   並決定是否需結束對話。",
        "in": [],
        "out": [],
        "x": 197,
        "y": 1601.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042998fa651b7d0",
        "breakpoints": []
    },
    {
        "id": "9f0f0244.69df8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Config",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 637,
        "y": 261.7142791748047,
        "wires": [
            [
                "2bd6ec67.8e7194"
            ],
            [
                "8ef8299f.bd2558"
            ]
        ],
        "func": "msg.config = {\n    botTypes: {\n        current: '帳務'\n    },\n    apis: {\n        bots: {\n            '申請_分期': 'http://10.20.30.84:30443/enterprise/flow/users/000000000000000000000000/apps/c798aebee722d6e48b7f.158dbb5b0f17/api/service?token=atxWFQ7H6b9ZGy08tx&source=editor',\n            '申請_調額': null,\n            '申請_補寄帳單': null,\n            '查詢_帳單': null,\n            '查詢_繳款資訊': null,\n            '查詢_信用卡可用餘額': null,\n            '查詢_銀行帳戶餘額': 'http://10.20.30.84:30443/enterprise/flow/users/000000000000000000000000/apps/c9a03c4deef789a7854a.14187cbe6a4c/api/service?token=at10jDQH6bItHavqMZ&source=editor',\n            '繳款': 'http://10.20.30.84:30443/enterprise/flow/users/000000000000000000000000/apps/2c3a17b73b85eeecd0c0.90ce33fdec2b/api/service?token=atP51BQH6bxgR0RDLy&source=editor',\n        },\n        nlu: { // 流程有使用到的 NLU\n            '帳務': 'http://10.20.30.203:30443/bot/nlu/api/v1/77df1a1e-98bb-4ede-b998-d031dfec17a0?token=EBccUtKtuc3aBrg358amMdlNJmBWeXjH&q=',\n            '帳務_查詢': 'http://10.20.30.203:30443/bot/nlu/api/v1/68d4aa2f-2536-432a-9fb9-b0a5747c2498?token=my7VwAh0bx5gaIGHlMCLbkSpAhoFAvna&q=',\n            '帳務_申請': 'http://10.20.30.203:30443/bot/nlu/api/v1/64ef4e76-9da7-488b-aa67-b8d79c878539?token=T2AUq0fxYDnMAoWx2Brwx9R53ZaVcjrW&q=',\n        },\n        faq: { // 流程有使用到的 FAQ\n            '<NAME>': null // '服務FAQ': 'http://api.of.faq/'\n        },\n        gateWay: {\n            scene: 'http://10.20.30.218:8011/card/scene',\n            text: 'http://10.20.30.218:8011/card/text',\n        },\n    },\n    names: {\n        serviceNLU: '帳務',\n        applyNLU: '帳務_申請',\n        searchNLU: '帳務_查詢',\n    },\n    /**\n     * 信心值門檻\n     * 需要依實際情形調整\n     */\n    threshold: {\n        nlu: {\n            '帳務': 0.7,\n            '帳務_申請': 0.7,\n            '帳務_查詢': 0.7,\n        },\n        faq: {\n            '<NAME>': 0.65\n        }\n    },\n    secondThreshold: {\n        nlu: {\n            // '帳務': 0.6,\n            // '帳務_申請': 0.6,\n            // '帳務_查詢': 0.6,\n        },\n        faq: {\n            '<NAME>': 0.6\n        }\n    },\n    faqMaxResultSize: 10,\n    /**\n     * 設定 NLU 原點值（訓練語料完全沒有符合的字詞，表示機器真的聽不懂）\n     * 每次訓練、修改後，需確認是否變更，並更新\n     */\n    nluFallbackScore: { // 設定各 NLU 原點值\n        '帳務': 0.5042915182,\n        '帳務_申請': 0.7536957828,\n        '帳務_查詢': 0.4151499559,\n    },\n    intents: { // 用以辨識的 Intent 名稱\n        '帳務': ['申請', '查詢', '繳款'],\n        '帳務_申請': ['分期', '調額', '補寄帳單'],\n        '帳務_查詢': ['帳單', '信用卡可用餘額', '銀行帳戶餘額','繳款資訊'],\n        // '帳務_繳款': [''],\n    },\n    entities: { // 使用到的 Entity 名稱\n    },\n    headers:{\n        Authorization: 'B2CC430497B84006A3D3C53EABB10FDB'\n    },\n    role:'bot',\n    source: 'MEGA',\n    channel: msg.reqMsg.channel,\n    correctText: ['是','對','無誤','正確','沒錯','沒有錯','可以','要','有','沒問題','好'],\n    wrongText: ['否','不對','錯誤','不正確','有錯','錯','不可以','不要','沒有','有問題','不好','不是','有誤'],\n    defauleTextComparsionThreshold: 0.8,\n};\n\n// 已有從 GateWay 參數 或 debug模式\nif(msg.systalk.configParameters || msg.debug){\n    return [msg, null];\n}else{\n    //由API取得參數\n    return [null, msg];\n}\n\nreturn msg;\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6ac0af04299181851b7d1",
        "breakpoints": []
    },
    {
        "id": "4ef29624.183868",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "comment",
        "name": "取得定義文字／語句",
        "z": "6236806f.406bf",
        "info": "將回覆使用到語句，於另外的 web service 中定義  \n依據 `channel` 與 `locales` 區分  \n\n## channel\n\n目前 `channel` 以數字表示。  \n固定 `channel=1` 為預設文字， \n`channel=2` 為預設語音（TTS）。  \n\nchannel 為正整數 \n- `channel & 1 = 1; // bitwise AND`  \n  表示該 channel 支援使用文字回覆\n- `channel & 2 = 2; // bitwise AND`  \n  表示該 channel 支援使用語音回覆\n\n## locales\n\n目前僅提供 `'zh-tw'`\n\n\n\n\n",
        "in": [],
        "out": [],
        "x": 197,
        "y": 321.7142791748047,
        "wires": [],
        "_id": "61d6ac0af04299b1c051b7d2",
        "breakpoints": []
    },
    {
        "id": "d30e6e06.1416a",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "BotUtils",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1175,
        "y": 254.7142791748047,
        "wires": [
            [
                "c0fc1586.e96d98"
            ]
        ],
        "func": "\nclass BotUtils {\n    replaceTextByParams(text, params) {\n        if (params) {\n            Object.keys(params).forEach(key => {\n                if (params[key]) {\n                    const regex = new RegExp('{{\\\\s*' + key + '\\\\s*}}', 'gm');\n                    text.replace(regex, params[key]);\n                }\n            });\n        }\n        return text;\n    }\n    resetNeedInfo() {\n        \n    }\n    addTextComparsion(_msg, name, values, threshold) {\n        const comparsion = {};\n        if (typeof name === 'string' && Array.isArray(values)) {\n            comparsion[name] = {\n                values: values,\n                threshold: node._.isNil(threshold) ? msg.config.defauleTextComparsionThreshold : threshold\n            };\n            if (_msg) {\n                _msg.textComparsion = node._.assign(_msg.textComparsion || {}, comparsion);\n            }\n            return comparsion;\n        }\n    }\n    \n}\n\nmsg.systalk.utils.BotUtils = new BotUtils();\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299382051b7d3",
        "breakpoints": []
    },
    {
        "id": "ec9c727.5c19c9",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "回應訊息",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 417,
        "y": 1641.7142791748047,
        "wires": [
            [
                "61ff57f0.fce1b8"
            ]
        ],
        "func": "\nmsg.payload = {\n    messages: msg.messages || null,\n    error: node._.cloneDeep(msg.error) || null,\n    from: 'bot',\n    // 設定 second bot 額外條件\n    quit: msg.quit,                             // 結束對話\n    textComparsion: msg.textComparsion,         // 需做字串比對\n    toAgent: msg.toAngent,                      // 需轉真人\n    unknowUserMessage: msg.unknowUserMessage,   // 第三次聽不懂（無命中意圖, 辨識到 entity, 或字串比對\n    authenticateUser: msg.authenticateUser,\n    flow: msg.flow\n};\n\nif (!node._.isNil(msg.analysis)) {\n    msg.payload.analysis = {\n        nlu: [].concat(msg.analysis.nlu || []),\n        faq: [].concat(msg.analysis.faq || [])\n    };\n}\n\nif (msg.errorCode) {\n    msg.payload.errorCode = msg.errorCode;\n    msg.errorCode = undefined;\n}\n\nif (msg.stored) {\n   msg.payload.stored = msg.stored; \n}\n\nmsg._enter_end_dialogue = msg._end_dialogue;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299463751b7d4",
        "breakpoints": []
    },
    {
        "id": "9719ac96.25bcf",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "change",
        "name": "刪除自訂紀錄資訊",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 437,
        "y": 1761.7142791748047,
        "wires": [
            [
                "7d4505d1.e66ebc"
            ]
        ],
        "_id": "61d6ac0af042997c2351b7d5",
        "breakpoints": [],
        "rules": [
            {
                "t": "delete",
                "p": "systalk.config",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "systalk.sessionSalt",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false
    },
    {
        "id": "61ff57f0.fce1b8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "清除 msg 下屬性",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 637,
        "y": 1641.7142791748047,
        "wires": [
            [
                "fb726bbe.0269c8"
            ]
        ],
        "func": "// 刪除單一訊息流程狀態\nmsg._start_flow = undefined;\nmsg._get_locales = undefined;\nmsg._end_dialogue = undefined;\nmsg._start_setup = undefined;\n\n// 刪除暫存訊息資訊\nmsg.error = undefined;\nmsg.config = undefined;\nmsg.url = undefined;\nmsg.method = undefined;\nmsg.headers = undefined;\nmsg.botType = undefined;\nmsg.quit = undefined;\n\n// 刪除 NLU 與 FAQ 結果\nmsg.NLU = undefined;\nmsg.FAQ = undefined;\n\n// 刪除自訂紀錄資訊\nmsg.systalk.locales = undefined;\nmsg.systalk.utils = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042997f9b51b7d6",
        "breakpoints": []
    },
    {
        "id": "b92ff29f.d9b53",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Setup analysis",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1827,
        "y": 254.7142791748047,
        "wires": [
            [
                "3b37b625.5f92ca"
            ]
        ],
        "func": "msg.analysis = {\n    faq: [],\n    nlu: []\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042996bf651b7d7",
        "breakpoints": []
    },
    {
        "id": "563cff1e.822f6",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "Flow 發生錯誤",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 207,
        "y": 1441.7142791748047,
        "wires": [
            [
                "8c5fa6c7.0d5a08"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af0429964d151b7d8",
        "breakpoints": [],
        "rules": [
            {
                "t": "nnull",
                "p": "error"
            },
            {
                "t": "nnull",
                "p": "messages"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "8c5fa6c7.0d5a08",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "Error Response",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 437,
        "y": 1441.7142791748047,
        "wires": [
            [
                "6b6c188f.fcff28"
            ]
        ],
        "func": "msg.url = msg.config.apis.gateWay.text;\n\nmsg.reqBody = {\n    chatwebId: msg.reqMsg.chatwebId,\n    channel: msg.config.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    content: [\n        {\n            textCode: 'ST014'\n        }\n    ]\n};\n\nmsg._gateWay = true;\nmsg._end_dialogue = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042998ea051b7d9",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "9d0a988f.364de8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "comment",
        "name": "!!注意!! Error Handling",
        "z": "6236806f.406bf",
        "info": "在 Flow 中 function / state node 發生 Exception 會以該節點收到的 msg 再帶出  \n因此 Catch node 雖然在 Exception 發生時也會被觸發，但 __原有流程如無特別處理__ 仍會繼續\n\nException 僅使用 debug 紀錄訊息",
        "in": [],
        "out": [],
        "x": 237,
        "y": 1401.7142791748047,
        "wires": [],
        "_id": "61d6ac0af0429910c751b7da",
        "breakpoints": []
    },
    {
        "id": "6ea2430.773babc",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "comment",
        "name": "!!注意!! 空訊息處理",
        "z": "6236806f.406bf",
        "info": "當流程發生錯誤時，`msg.messages` 容易為空  \n導致無合法的訊息可供 client 顯示  \n\n因此，需要針對 **空訊息** 處理  \n定義一個表示無任何回應的訊息顯示\n\n如：`{ type: 1, text: '<NO_REPLY>' }`",
        "in": [],
        "out": [],
        "x": 417,
        "y": 1601.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042990c5051b7db",
        "breakpoints": []
    },
    {
        "id": "2a321f64.7baa4",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "catch",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 197,
        "y": 1481.7142791748047,
        "wires": [
            [
                "6b6c188f.fcff28",
                "8c5fa6c7.0d5a08"
            ]
        ],
        "_id": "61d6ac0af042990b6b51b7dc",
        "breakpoints": [],
        "scope": null
    },
    {
        "id": "6b6c188f.fcff28",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "Exception",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "error",
        "x": 657,
        "y": 1481.7142791748047,
        "wires": [],
        "_id": "61d6ac0af0429963cb51b7dd",
        "breakpoints": []
    },
    {
        "id": "8ef8299f.bd2558",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "取得 config 參數",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 657,
        "y": 306.7142791748047,
        "wires": [
            [
                "67d03c8.cc036c4",
                "ab62c23e.41d81"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\nmsg.url = msg.reqMsg.getParametersUrl;\n\nmsg.payload = {\n    categoryKey: \"ChatFlow\",\n    chatwebId: msg.reqMsg.message.chatwebId\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299e3b751b7de",
        "breakpoints": []
    },
    {
        "id": "67d03c8.cc036c4",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "http request",
        "name": "gateWay call chatManage",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 687,
        "y": 353.7142791748047,
        "wires": [
            [
                "b3e90677.24e7c8"
            ]
        ],
        "_id": "61d6ac0af04299755551b7df",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": ""
    },
    {
        "id": "b3e90677.24e7c8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Get parameters",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 657,
        "y": 401.7142791748047,
        "wires": [
            [
                "2bd6ec67.8e7194"
            ]
        ],
        "func": "msg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\nif (msg.payload.code === 0) {//查詢成功\n    const configParameters = msg.payload.data;\n    // 存systalk\n    msg.systalk.configParameters = configParameters;\n} else {\n    node.log(\"取得參數失敗！\");\n    node.log(msg.payload);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299a2e451b7e0",
        "breakpoints": []
    },
    {
        "id": "ab62c23e.41d81",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "Get Config Result",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": false,
        "console": "false",
        "complete": "payload.data",
        "x": 937,
        "y": 306.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042999d7151b7e1",
        "breakpoints": []
    },
    {
        "id": "2bd6ec67.8e7194",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "Set parameters",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 937,
        "y": 254.7142791748047,
        "wires": [
            [
                "a5ec484b.0a6038",
                "8749ae13.5f506",
                "d30e6e06.1416a",
                "f383bdf0.0afbb"
            ]
        ],
        "func": "if(msg.systalk.configParameters){//有參數\n    //設定參數...\n    const configParameters = msg.systalk.configParameters;\n    \n    //GATEWAY\n    msg.config.apis.gateWay.scene = configParameters.gw_addr+':'+configParameters.gw_port+'/card/scene';\n    msg.config.apis.gateWay.faqAnswer = configParameters.gw_addr+':'+configParameters.gw_port+'/card/faqAnswer';\n    msg.config.apis.gateWay.text = configParameters.gw_addr+':'+configParameters.gw_port+'/card/text';\n    \n    //未出帳明細\n    msg.config.apis.gateWay.queryUnpaidBills = configParameters.gw_addr + ':' + configParameters.gw_port + '/megaBank/creditCard/queryUnsettledBills';\n    \n    // 正確，字串比對選項\n    msg.config.correctText = configParameters['text_yes'] ?\n        configParameters['text_yes'].split(/[,，]/).filter(x => !!x) : null;\n    \n    // 錯誤，字串比對選項\n    msg.config.wrongText = configParameters['text_no'] ?\n        configParameters['text_no'].split(/[,，]/).filter(x => !!x) : null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299c54051b7e2",
        "breakpoints": []
    },
    {
        "id": "a5ec484b.0a6038",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "次門檻值設定",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": false,
        "console": "false",
        "complete": "config.secondThreshold",
        "x": 1185,
        "y": 334.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042996b1a51b7e3",
        "breakpoints": []
    },
    {
        "id": "8749ae13.5f506",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "門檻值設定",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": false,
        "console": "false",
        "complete": "config.threshold",
        "x": 1175,
        "y": 374.7142791748047,
        "wires": [],
        "_id": "61d6ac0af04299560a51b7e4",
        "breakpoints": []
    },
    {
        "id": "9c30e37d.8df7c",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "comment",
        "name": "channel, source, role",
        "z": "6236806f.406bf",
        "info": "- `msg.config.channel`\n- `msg.config.source`\n- `msg.config.role`",
        "in": [],
        "out": [],
        "x": 667,
        "y": 221.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042994dbe51b7e5",
        "breakpoints": []
    },
    {
        "id": "74dc38df.d61418",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "gateway",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 197,
        "y": 1287.7142791748047,
        "wires": [
            [
                "9f21f6ef.fb9048"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af04299213e51b7e6",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_gateWay"
            },
            {
                "t": "true",
                "p": "_start_flow"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "9f21f6ef.fb9048",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "組 gateway body",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 437,
        "y": 1287.7142791748047,
        "wires": [
            [
                "869f58b6.e34ca8",
                "65c6f66b.5c2658"
            ],
            [
                "cf87de49.25436"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\nmsg.payload = msg.reqBody;\nmsg.payload.chatwebId = msg.reqMsg.message.chatwebId;\nif (!msg.url) {\n    msg.error = 'Missing Request URL';\n    return [null, msg];\n}\n\nreturn [msg, null];\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6ac0af042995ddc51b7e7",
        "breakpoints": []
    },
    {
        "id": "cf87de49.25436",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "缺少 URL",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 657,
        "y": 1320.7142791748047,
        "wires": [
            [
                "b86d3624.a02938"
            ]
        ],
        "func": "\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299f3f451b7e8",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "65c6f66b.5c2658",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "Request Body",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 666.6666488647461,
        "y": 1240.380947113037,
        "wires": [],
        "_id": "61d6ac0af0429962b151b7e9",
        "breakpoints": []
    },
    {
        "id": "b86d3624.a02938",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "缺少 URL",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": false,
        "console": "false",
        "complete": "error",
        "x": 859,
        "y": 1320.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042992fe351b7ea",
        "breakpoints": []
    },
    {
        "id": "869f58b6.e34ca8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "http request",
        "name": "gateway",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 657,
        "y": 1280.7142791748047,
        "wires": [
            [
                "9b45d54b.d40328",
                "4190e6b9.533a28"
            ]
        ],
        "_id": "61d6ac0af0429904b651b7eb",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "9b45d54b.d40328",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "處理資料",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 859,
        "y": 1280.7142791748047,
        "wires": [
            [
                "543a611e.8a44c"
            ],
            [
                "f02a9d5e.6a726"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\nconst numOfOuts = 2;\nconst ChatWebResponse = msg.systalk.utils.ChatWebResponse;\nconst BotUtils = msg.systalk.utils.BotUtils;\n// 刪除條件\nmsg._gateWay = undefined;\n\n// 刪除 http 資料\nmsg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\n// gateway發生錯誤\nif (msg.payload.code !== 0) {\n    ChatWebResponse.addText('抱歉~小咩正在維護中，請您稍後再試！是否需為您轉接真人文字客服，由小咩學姊為您服務呢？');\n    msg.messages = ChatWebResponse.getMsgObj;\n    msg.toAgent = true;\n    msg.quit = true;\n    return MsgUtils.output(msg, 2, numOfOuts);\n}\n\n// 回覆訊息\nmsg.messages = msg.payload;\nif (msg.insertBeforeCurrentMsg && msg.obj) {\n    msg.messages.data.content.push(msg.obj);\n}\n\nreturn MsgUtils.output(msg, 1, numOfOuts);\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6ac0af042996cb551b7ec",
        "breakpoints": []
    },
    {
        "id": "4190e6b9.533a28",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "GW Response",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 869,
        "y": 1240.7142791748047,
        "wires": [],
        "_id": "61d6ac0af04299a3e751b7ed",
        "breakpoints": []
    },
    {
        "id": "543a611e.8a44c",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "回應訊息",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1059,
        "y": 1260.7142791748047,
        "wires": [
            []
        ],
        "func": "if (node._.isNil(msg._end_dialogue)) {\n    msg._end_dialogue = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299115f51b7ee",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "1bd3c21d.d6cb2e",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "INPUT",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "reqMsg",
        "x": 992,
        "y": 59,
        "wires": [],
        "_id": "61d6ac0af04299006c51b7ef",
        "breakpoints": []
    },
    {
        "id": "c2ab4491.e02ed8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "comment",
        "name": "注意狀態切換",
        "z": "6236806f.406bf",
        "info": "`msg.skipStartFlow` 為了在進入\"是否警示切換子服務\" 後，直到 Response 前  \n不再從 start 進入",
        "in": [],
        "out": [],
        "x": 187,
        "y": 765.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042994c2e51b7f0",
        "breakpoints": []
    },
    {
        "id": "a8f8c1d0.2d2e7",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "customerMsg",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 574.3333358764648,
        "y": 754.7142210006714,
        "wires": [
            [
                "23b626ac.3b477a"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af042995c0a51b7f1",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "reqMsg.message.type",
                "v": "customerMsg"
            }
        ],
        "directlink": true,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "ac84418e.035f6",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 360,
        "y": 804.7142791748047,
        "wires": [
            [
                "a8f8c1d0.2d2e7",
                "cab04915.e33c88"
            ]
        ],
        "func": "\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af0429987b451b7f2",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "f383bdf0.0afbb",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1174.859375,
        "y": 295.1908416748047,
        "wires": [],
        "_id": "61d6ac0af04299373451b7f3",
        "breakpoints": []
    },
    {
        "id": "f02a9d5e.6a726",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "Gateway 發生錯誤",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1078.9999771118164,
        "y": 1301.380952835083,
        "wires": [
            []
        ],
        "func": "const ChatWebUtils = msg.systalk.utils.ChatWebUtils;\n\n// 結束對話\nmsg._end_dialogue = true;\n\nmsg.messages = ChatWebUtils.createResponse([{\n    type: 1,\n    text: '抱歉~小咩正在維護中，請您稍後再試！是否需為您轉接真人文字客服，由小咩學姊為您服務呢？'\n}]);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299ab0f51b7f4",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "c0fc1586.e96d98",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "ChatWeb Utils  Req / Res",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1402.2500228881836,
        "y": 254.46428298950195,
        "wires": [
            [
                "b315fb27.525c58"
            ]
        ],
        "func": "// Flow create requestBody to gateWay\nclass ChatWebRequest {\n    constructor () {\n        this.channel = msg.reqMsg.message.channel,\n        this.source = msg.config.source,\n        this.role = msg.config.role,\n        this.content = [];\n    }\n    \n    get getMsgObj () {\n        return this;\n    }\n    addScene (code) {\n        this.content.push({scene: code});\n    }\n    addTextCode (obj) {\n        if (typeof obj === 'string') {\n            this.content.push({textCode: obj});\n        } else if (typeof obj === 'object') {\n            this.content.push({textCode: obj.textCode, dictionary: obj.dictionary});\n        }\n    }\n}\n\n// Flow response to Vue\nclass ChatWebResponse {\n    constructor () {\n        this.channel = msg.reqMsg.message.channel,\n        this.source = msg.config.source,\n        this.role = msg.config.role,\n        this.content = [];\n    }\n    \n    get getMsgObj () {\n        const date = new Date();\n        return {\n            code: 0,\n            msg: '成功',\n            data: {\n                channel: this.channel,\n                source: this.source,\n                role: this.role,\n                content: this.content || [],\n                showtime: node.moment(date).tz(\"Asia/Taipei\").format(\"YYYY/MM/DD HH:mm:ss\")\n            }\n        }\n    }\n    addText (str) {\n        this.content.push({type:1, text: str});\n    }\n    addQuicklyReply (obj) {\n        this.content.push ({ \n            type:7,\n            linkListType:\"select-tag\" + obj.length.toString(),\n            linkList:obj\n        })\n    }\n    // obj ex:\n    // [\n    //     { \n    //         action:1,\n    //         text:\"網路/行動銀行驗證\",\n    //         data:\"網路/行動銀行驗證\"\n    //     },\n    //     { \n    //         action:1,\n    //         text:\"信用卡資料(限正卡)\",\n    //         data:\"信用卡資料(限正卡)\"\n    //     }\n    // ]\n    \n    \n    addModal (name) {\n        this.content.push({\n            type: 8,\n            widget: name\n        })\n    }\n    addGuessYouWant (cards, width = \"segment secard\") {\n        let arr = [];\n        cards.forEach(card=>{\n            arr.push({\n                css: {\n                    width: width,\n                    linkCss: \"btn-bottom\"\n                },\n                linkList: card.btnList\n            })    \n        })\n        this.content.push({\n            type: 2,\n            cards: arr\n        })\n    }\n}\n\nmsg.systalk.utils.ChatWebRequest = new ChatWebRequest();\nmsg.systalk.utils.ChatWebResponse = new ChatWebResponse();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299c9c051b7f5",
        "breakpoints": []
    },
    {
        "id": "77c2888e.b06d88",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "Request Message",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "reqMsg",
        "x": 285.66668701171875,
        "y": 660.3809661865234,
        "wires": [],
        "_id": "61d6ac0af042991f3151b7f6",
        "breakpoints": []
    },
    {
        "id": "51fed9ce.2e3fa8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "組未出帳 API body",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1018,
        "y": 805.7142791748047,
        "wires": [
            [
                "a2638fdf.2c56d"
            ]
        ],
        "func": "msg.url = msg.config.apis.gateWay.queryUnpaidBills;\nmsg.headers = msg.config.headers;\nmsg.method = 'POST';\nconst date = new Date();\nconst endDate = node.moment(date).tz('Asia/Taipei').format('YYYYMMDD');\nconst startDate = node.moment(date).tz('Asia/Taipei').subtract(3, 'months').format('YYYYMMDD');\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    msgId:'C00022',\n    cardNo: '0',\n    custId: msg.systalk.needInfo.userData.custId,\n    purchaseSDate: startDate,\n    purchaseEDate: endDate,\n    billFlag: '1'  // 0:不限 1:未出帳 2:已出帳\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299b0af51b7f7",
        "breakpoints": []
    },
    {
        "id": "5d38c48.d9c883c",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 998,
        "y": 736.7142791748047,
        "wires": [
            [
                "d55a299.bd59ed8"
            ]
        ],
        "func": "// if you need extra debug function,\n// node.log() outputs to the debug panel.\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299787a51b7f8",
        "breakpoints": []
    },
    {
        "id": "48d7783a.ab37c8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "進核身流程",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1007,
        "y": 908.7142791748047,
        "wires": [
            []
        ],
        "func": "msg.authenticateUser = true;\nmsg.flow = '03';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af042991d8951b7f9",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "a2638fdf.2c56d",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "http request",
        "name": "未出帳 API",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1230,
        "y": 805.7142791748047,
        "wires": [
            [
                "aba6cc82.78f55",
                "4d333dd5.df61d4"
            ]
        ],
        "_id": "61d6ac0af04299d64851b7fa",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "aba6cc82.78f55",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "function",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1444,
        "y": 805.7142791748047,
        "wires": [
            [
                "c03e80c.815b48"
            ]
        ],
        "func": "const ChatWebResponse = msg.systalk.utils.ChatWebResponse;\nconst ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nmsg.messages = ChatWebResponse.getMsgObj;\n// 查無資料\nif (!msg.payload.data.resultList.length) {\n    ChatWebRequest.addTextCode('UB001');\n    ChatWebRequest.addScene('Scene08');\n    \n} else {\n    msg.insertBeforeCurrentMsg = true;\n    msg.obj = {\n        type: 8,\n        widget: 'bill',\n        list: msg.payload.data.resultList,\n        title: '未出帳消費明細'\n    };\n    msg.textComparsion = {\n        single: {\n            values:['申請單筆分期'],\n            threshold: 0.7\n        }\n    };\n}\nmsg.reqBody = ChatWebRequest.getMsgObj;\nmsg._gateWay = true;\nmsg.url = msg.config.apis.gateWay.scene;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af0429929cf51b7fb",
        "breakpoints": []
    },
    {
        "id": "c03e80c.815b48",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1646,
        "y": 805.7142791748047,
        "wires": [
            []
        ],
        "func": "// update msg.systalk:\n\n    // msg.systalk.??? = ???;\n\n    // update msg.systalk._responses (a list):\n    // members of msg.systalk._responses will be\n    // randomly selected and concatenated to\n    // msg.payload by the Routher.\n    // msg.systalk._responses = [???];\n\n    // if you need extra debug function,\n    // node.log() outputs to the debug panel.\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af04299d79c51b7fc",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "4d333dd5.df61d4",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1380,
        "y": 865.7142791748047,
        "wires": [],
        "_id": "61d6ac0af04299ad4351b7fd",
        "breakpoints": []
    },
    {
        "id": "d55a299.bd59ed8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "state",
        "name": "state",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 1220,
        "y": 737.7142791748047,
        "wires": [
            []
        ],
        "func": "// update msg.systalk:\n\n    // msg.systalk.??? = ???;\n\n    // update msg.systalk._responses (a list):\n    // members of msg.systalk._responses will be\n    // randomly selected and concatenated to\n    // msg.payload by the Routher.\n    // msg.systalk._responses = [???];\n\n    // if you need extra debug function,\n    // node.log() outputs to the debug panel.\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6ac0af0429982ed51b7fe",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "cab04915.e33c88",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "enter",
        "name": "otpAuth",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "x": 573,
        "y": 843.7142791748047,
        "wires": [
            [
                "23b626ac.3b477a",
                "358338a.781f4c8"
            ]
        ],
        "outputs": 1,
        "_id": "61d6ac0af04299778351b7ff",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "reqMsg.message.type",
                "v": "otpAuth"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "358338a.781f4c8",
        "appId": "169bd602cd49e0e44193.d612d3966e72",
        "type": "debug",
        "name": "",
        "z": "6236806f.406bf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "systalk.needInfo.auth",
        "x": 739,
        "y": 923.7142791748047,
        "wires": [],
        "_id": "61d6ac0af042991c1e51b800",
        "breakpoints": []
    }
]