0111/兆豐銀-文字-核身-SecondBot.json
[
    {
        "id": "f33b6a8f.c43ab8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "tab",
        "label": "Flow 2",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "61d6a6f5f042996f9a51b533",
        "breakpoints": [],
        "state": "running"
    },
    {
        "id": "b807e75d.26b308",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "http in",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 205,
        "y": 103.5,
        "wires": [
            [
                "6b7e18ca.0b8b38",
                "437a65e4.5312cc"
            ]
        ],
        "_id": "61d6a6f5f0429921e351b534",
        "breakpoints": [],
        "url": "/service",
        "method": "post",
        "swaggerDoc": ""
    },
    {
        "id": "5e86ea2c.15fda4",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "router",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 865,
        "y": 103.5,
        "wires": [
            [
                "13bbcab8.bec165"
            ]
        ],
        "_id": "61d6a6f5f04299e1e351b535",
        "breakpoints": [],
        "sessionprop": "systalk._session_id",
        "dryrun": "msg._dry_run",
        "timeout": "1800"
    },
    {
        "id": "d86c347e.022878",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "http response",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1265,
        "y": 123.5,
        "wires": [],
        "_id": "61d6a6f5f04299d50e51b536",
        "breakpoints": []
    },
    {
        "id": "fe2b56f1.856c68",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "Setup",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 205,
        "y": 223.5,
        "wires": [
            [
                "2ee2d8fd.c54ed8"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f042999da751b537",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_start_setup"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "50823eee.3a1cb",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "Quit",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 865,
        "y": 623.5,
        "wires": [
            [
                "63eb2e08.65947"
            ]
        ],
        "func": "\nconst ReplyMsgFactory = msg.systalk.utils.ReplyMsgFactory;\n\nmsg.messages.push(ReplyMsgFactory.createText('謝謝您'));\n\nmsg.quit = true;\nmsg._end_dialogue = true;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299609051b538",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "34236b35.e08564",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Setup Data",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1545,
        "y": 216.5,
        "wires": [
            [
                "66545c0b.bd6eb4"
            ]
        ],
        "func": "const ReqMsgCtrl = msg.systalk.utils.ReqMsgCtrl;\nconst LangCtrl = msg.systalk.utils.LangCtrl;\nconst ReqChannels = msg.systalk.utils.ReqChannels;\n\n\n// normalize request message\nReqMsgCtrl.normalize(msg.reqMsg);\n// 進線 channel\nmsg.systalk.channel = node._.clone(msg.reqMsg.channel || ReqChannels.text);\n// 使用者語系\nmsg.systalk.lang = LangCtrl.normalize(msg.reqMsg.lang || msg.systalk.lang || 'zh-tw');\n\n\n\n\n// 判斷是否清空紀錄 session 資訊\nif (msg.systalk.sessionSalt) {\n    if (msg.systalk.sessionSalt !== msg.reqMsg.sessionSalt) {\n        msg.systalk.needInfo = undefined;\n        msg.systalk.config = undefined;\n        msg.systalk.pendingBot = undefined;\n    }\n}\nmsg.systalk.sessionSalt = msg.reqMsg.sessionSalt;\nmsg.systalk.fromBot = msg.config.botTypes.current;\n\nif (!msg.systalk.needInfo) {\n    msg.systalk.needInfo = {\n        flags: {}\n    };\n}\n\n// setup config values\nmsg.systalk.config = msg.reqMsg.config || msg.systalk.config || null;\nif (!msg.systalk.config) {\n    msg.systalk.config = {};\n}\n\nlet inputIntent = node._.isString(msg.reqMsg.intent) ?\n    msg.reqMsg.intent :\n    !!msg.reqMsg.intent ? msg.reqMsg.intent.item : null;\nmsg.botType = inputIntent || msg.systalk.pendingBot || msg.config.botTypes.current;\nmsg.messages = [];\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299d13e51b539",
        "breakpoints": []
    },
    {
        "id": "3be6f0bf.53478",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "Before Output",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1270,
        "y": 69.5,
        "wires": [],
        "_id": "61d6a6f5f04299468951b53a",
        "breakpoints": []
    },
    {
        "id": "6b7e18ca.0b8b38",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Set from Input",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 635,
        "y": 106.5,
        "wires": [
            [
                "5e86ea2c.15fda4"
            ]
        ],
        "func": "msg.reqMsg = msg.payload;\nmsg.systalk._session_id = msg.reqMsg.sessionId;\nmsg._start_setup = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299d2e051b53b",
        "breakpoints": []
    },
    {
        "id": "2ee2d8fd.c54ed8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Shared Utils",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 435,
        "y": 223.5,
        "wires": [
            [
                "37d52f08.b032a"
            ]
        ],
        "func": "/**\n * This file define utils for Demo Kit and template.\n * Could be copied into a function node or import as function library (current not working).\n * \n * Define in `msg.systalk.utils`\n * 定義在 `function node`，會使用到 `Lodash`（定義在 `node._`）\n */\n\n/**\n * Request message types\n * 總機與各 bot 的 Request 訊息類別\n */\nclass ReqMsgTypes {\n    constructor() {\n        this._text = 1;\n        this._textType = 'text';\n        this._speech = 2;\n        this._speechType = 'speech';\n        this._fromOnlineService = 3;\n        this._fromOnlineServiceType = 'from_online_service';\n        this._fromAuthorization = 4;\n        this._fromAuthorizationType = 'from_authorization';\n        this._fromLocation = 5;\n        this._fromLocationType = 'from_location';\n        this._signal = 6;\n        this._signalType = 'signal';\n        this._config = 7;\n        this._configType = 'config';\n        this._grade = 8;\n        this._gradeType = 'grade';\n        this._initSession = 9;\n        this._initSessionType = 'init_session';\n    }\n    get text() { return this._text; }\n    get textType() { return this._textType }\n    get speech() { return this._speech; }\n    get speechType() { return this._speechType; }\n    get fromOnlineService() { return this._fromOnlineService; }\n    get fromOnlineServiceType() { return this._fromOnlineServiceType; }\n    get fromAuthorization() { return this._fromAuthorization; }\n    get fromAuthorizationType() { return this._fromAuthorizationType; }\n    get fromLocation() { return this._fromLocation; }\n    get fromLocationType() { return this._fromLocationType; }\n    get signal() { return this._signal; }\n    get signalType() { return this._signalType; }\n    get config() { return this._config; }\n    get configType() { return this._configType; }\n    get grade() { return this._grade; }\n    get gradeType() { return this._gradeType; }\n    get initSession() { return this._initSession; }\n    get initSessionType() { return this._initSessionType; }\n\n    isText(val) {\n        return val === this.text || val === this.textType;\n    }\n    isSpeech(val) {\n        return val === this.speech || val === this.speechType;\n    }\n    isFromOnlineService(val) {\n        return val === this.fromOnlineService || val === this.fromOnlineServiceType;\n    }\n    isFromAuthorization(val) {\n        return val === this.fromAuthorization || val === this.fromAuthorizationType;\n    }\n    isFromLocation(val) {\n        return val === this.fromLocation || val === this.fromLocationType;\n    }\n    isSignal(val) {\n        return val === this.signal || val === this.signalType;\n    }\n    isConfig(val) {\n        return val === this.config || val === this.configType;\n    }\n    isGrade(val) {\n        return val === this.grade || val === this.gradeType;\n    }\n    isInitSession(val) {\n        return val === this.initSession || val === this.initSessionType;\n    }\n}\n\nconst reqMsgTypes = new ReqMsgTypes();\n\n/**\n* Reply message types\n*/\nclass ReplyMsgTypes {\n    constructor() {\n        this._text = 1;\n        this._textType = 'text';\n        this._speech = 2;\n        this._speechType = 'speech';\n        this._image = 3;\n        this._imageType = 'image';\n        this._sticker = 4;\n        this._stickerType = 'sticker';\n        this._link = 5;\n        this._linkType = 'link';\n        this._dataList = 6;\n        this._dataListType = 'data_list';\n        this._yesOrNo = 7;\n        this._yesOrNoType = 'yes_or_no';\n        this._toCustomerService = 8;\n        this._toCustomerServiceType = 'to_customer_service';\n        this._toOnlineService = 9;\n        this._toOnlineServiceType = 'to_online_service';\n        this._toAuthorization = 10;\n        this._toAuthorizationType = 'to_authorization';\n        this._toLocation = 11;\n        this._toLocationType = 'to_location';\n        this._redirectBot = 12;\n        this._redirectBotType = 'redirect_bot';\n        this._options = 13;\n        this._optionsType = 'options';\n        this._status = 14;\n        this._statusType = 'status';\n        this._action = 15;\n        this._actionType = 'action';\n        this._generalInfo = 16;\n        this._generalInfoType = 'info_general';\n    }\n\n    get text() { return this._text; }\n    get textType() { return this._textType; }\n    get speech() { return this._speech; }\n    get speechType() { return this._speechType; }\n    get image() { return this._image; }\n    get imageType() { return this._imageType; }\n    get sticker() { return this._sticker; }\n    get stickerType() { return this._stickerType; }\n    get link() { return this._link; }\n    get linkType() { return this._linkType; }\n    get dataList() { return this._dataList; }\n    get dataListType() { return this._dataListType; }\n    get yesOrNo() { return this._yesOrNo; }\n    get yesOrNoType() { return this._yesOrNoType; }\n    get toCustomerService() { return this._toCustomerService; }\n    get toCustomerServiceType() { return this._toCustomerServiceType; }\n    get toOnlineService() { return this._toOnlineService; }\n    get toOnlineServiceType() { return this._toOnlineServiceType; }\n    get toAuthorization() { return this._toAuthorization; }\n    get toAuthorizationType() { return this._toAuthorizationType; }\n    get toLocation() { return this._toLocation; }\n    get toLocationType() { return this._toLocationType; }\n    get redirectBot() { return this._redirectBot; }\n    get redirectBotType() { return this._redirectBotType; }\n    get options() { return this._options; }\n    get optionsType() { return this._optionsType; }\n    get status() { return this._status; }\n    get statusType() { return this._statusType; }\n    get action() { return this._action; }\n    get actionType() { return this._actionType; }\n    get generalInfo() { return this._generalInfo; }\n    get generalInfoType() { return this._generalInfoType; }\n\n    /**\n     * Check type value is 'text' type or not\n     */\n    isText(val) {\n        return val === this.text || val === this.textType;\n    }\n    isSpeech(val) {\n        return val === this.speech || val === this.speechType;\n    }\n    isImage(val) {\n        return val === this.image || val === this.imageType;\n    }\n    isSticker(val) {\n        return val === this.sticker || val === this.stickerType;\n    }\n    isLink(val) {\n        return val === this.link || val === this.linkType;\n    }\n    isDataList(val) {\n        return val === this.dataList || val === this.dataListType;\n    }\n    isYesOrNo(val) {\n        return val === this.yesOrNo || val === this.yesOrNoType;\n    }\n    isToCustomerService(val) {\n        return val === this.toCustomerService || val === this.toCustomerServiceType;\n    }\n    isToOnlineService(val) {\n        return val === this.toOnlineService || val === this.toOnlineServiceType;\n    }\n    isToAuthorization(val) {\n        return val === this.toAuthorization || val === this.toAuthorizationType;\n    }\n    isToLocation(val) {\n        return val === this.toLocation || val === this.toLocationType;\n    }\n    isRedirectBot(val) {\n        return val === this.redirectBot || val === this.redirectBotType;\n    }\n    isOptions(val) {\n        return val === this.options || val === this.optionsType;\n    }\n    isStatus(val) {\n        return val === this.status || val === this.statusType;\n    }\n    isAction(val) {\n        return val === this.action || val === this.actionType;\n    }\n    isGeneralInfo(val) {\n        return val === this.generalInfo || val === this.generalInfoType;\n    }\n}\n\nconst replyMsgTypes = new ReplyMsgTypes();\n\n/**\n* Signals\n*/\nclass ReqSignals {\n    constructor() {\n        this._start = 1;\n        this._startSignal = 'start';\n        this._continue = 2;\n        this._continueSignal = 'continue';\n        this._end = 3;\n        this._endSignal = 'end';\n        this._idle = 4;\n        this._idleSignal = 'idle';\n        this._quit = 5;\n        this._quitSignal = 'quit';\n        this._passedFromCustomerService = 6;\n        this._passedFromCustomerServiceSignal = 'passed_from_customer_service';\n    }\n\n    get start() { return this._start; }\n    get startSignal() { return this._startSignal; }\n    get continue() { return this._continue; }\n    get continueSignal() { return this._continueSignal; }\n    get end() { return this._end; }\n    get endSignal() { return this._endSignal; }\n    get idle() { return this._idle; }\n    get idleSignal() { return this._idleSignal; }\n    get quit() { return this._quit; }\n    get quitSignal() { return this._quitSignal; }\n    get passedFromCustomerService() { return this._passedFromCustomerService; }\n    get passedFromCustomerServiceSignal() { return this._passedFromCustomerServiceSignal; }\n\n\n    isStart(val) {\n        return val === this.start || (typeof val === 'string' && val.toLowerCase() === this.startSignal);\n    }\n    isEnd(val) {\n        return val === this.end || (typeof val === 'string' && val.toLowerCase() === this.endSignal);\n    }\n    isContinue(val) {\n        return val === this.continue || (typeof val === 'string' && val.toLowerCase() === this.continueSignal);\n    }\n    isIdle(val) {\n        return val === this.idle || (typeof val === 'string' && val.toLowerCase() === this.idleSignal);\n    }\n    isQuit(val) {\n        return val === this.quit || (typeof val === 'string' && val.toLowerCase() === this.quitSignal);\n    }\n    isPassedFromCustomerService(val) {\n        return val === this.passedFromCustomerService || (typeof val === 'string' && val.toLowerCase() === this.passedFromCustomerServiceSignal);\n    }\n}\n\nconst reqSignals = new ReqSignals();\n\n/**\n * Controller for request channels\n */\nclass ReqChannels {\n    constructor() {\n    }\n\n    /**\n     * Channel object with default name `text`\n     *\n     * @readonly\n     * @memberof ReqChannels\n     */\n    get text() {\n        return new Channel('文字', { isText: true, isSpeech: false });\n    }\n\n    /**\n     * Channel object of default name `speech`\n     *\n     * @readonly\n     * @memberof ReqChannels\n     */\n    get speech() {\n        return new Channel('語音', { isText: false, isSpeech: true });\n    }\n\n    /**\n     * If the chanel supports message type of `text`\n     * @param {Channel} val Channel object\n     */\n    isText(val) {\n        return !node._.isNil(val) && val.isText;\n    }\n\n    /**\n     * If the channel supports message type of `speech`\n     * @param {Channel} val Channel object\n     */\n    isSpeech(val) {\n        return !node._.isNil(val) && val.isSpeech;\n    }\n}\n\nconst reqChannels = new ReqChannels();\n\n/**\n * Channel object\n * @property {string} name\n * @property {boolean} isText if this channel supports text messages\n * @property {boolean} isSpeech if this channel \n */\nclass Channel {\n    constructor(nameOrChannel, configs) {\n        if (!node._.isNil(nameOrChannel) &&\n            node._.isString(nameOrChannel.name) &&\n            node._.isBoolean(nameOrChannel.isText) && node._.isBoolean(nameOrChannel.isSpeech)) {\n            this.name = nameOrChannel.name;\n            this.isText = nameOrChannel.isText;\n            this.isSpeech = nameOrChannel.isSpeech;\n        }\n        if (node._.isString(nameOrChannel)) {\n            this.name = nameOrChannel;\n        }\n        if (!node._.isNil(configs)) {\n            this.isText = configs.isText || false;\n            this.isSpeech = configs.isSpeech || false;\n        }\n    }\n\n    valueOf() {\n        return this.name;\n    }\n\n    toString() {\n        return this.name;\n    }\n}\n\nclass ReplyActionTypes {\n    constructor() {\n        this._grading = 'grading';\n        this._end = 'end';\n        this._renew = 'renew';\n    }\n\n    get grading() { return this._grading; }\n    get end() { return this._end; }\n    get renew() { return this._renew; }\n\n    isGrading(val) {\n        return val === this.grading;\n    }\n    isEnd(val) {\n        return val === this.end;\n    }\n    isRenew(val) {\n        return val === this._renew;\n    }\n}\n\nconst replyActionTypes = new ReplyActionTypes();\n\n/**\n* Reply message factory\n* recommand to use `create()`\n*/\nclass ReplyMsgFactory {\n    createText(text) {\n        if (node._.isString(text)) {\n            return {\n                type: replyMsgTypes.text,\n                text: text\n            };\n        }\n        return null;\n    }\n    createTextType(text) {\n        if (node._.isString(text)) {\n            return {\n                type: replyMsgTypes.textType,\n                text: text\n            };\n        }\n        return null;\n    }\n    createSpeech(speech) {\n        if (node._.isString(speech)) {\n            return {\n                type: replyMsgTypes.speech,\n                speech: speech\n            };\n        }\n        return null;\n    }\n    createSpeechType(speech) {\n        if (node._.isString(speech)) {\n            return {\n                type: replyMsgTypes.speechType,\n                speech: speech\n            };\n        }\n        return null;\n    }\n    createImage(title, alt, imgUrl) {\n        return {\n            type: replyMsgTypes.image,\n            title: title,\n            alt: alt,\n            imgUrl: imgUrl\n        };\n    }\n    /**\n     * 建立圖片類型訊息\n     * @param {*} params { title, alt, imgUrl }\n     */\n    createImageType(params) {\n        let msg = {\n            type: replyMsgTypes.imageType\n        };\n        if (params) {\n            if (params.title) {\n                msg.title = params.title;\n            }\n            if (params.alt) {\n                msg.alt = params.alt;\n            }\n            if (params.imgUrl) {\n                msg.imgUrl = params.imgUrl;\n            }\n        }\n        return msg;\n    }\n    createSticker(alt, stickerUrl) {\n        return {\n            type: replyMsgTypes.sticker,\n            alt: alt,\n            imgUrl: stickerUrl\n        };\n    }\n    /**\n     * 建立貼圖類型訊息\n     * @param {*} params { alt, imgUrl }\n     */\n    createStickerType(params) {\n        let msg = {\n            type: replyMsgTypes.stickerType\n        };\n        if (params) {\n            if (params.alt) {\n                msg.alt = params.alt;\n            }\n            if (params.imgUrl) {\n                msg.imgUrl = params.imgUrl;\n            }\n        }\n        return msg;\n    }\n    createLink(title, url, data) {\n        let reply = {\n            type: replyMsgTypes.link,\n            text: title, // TODO: deprecated\n            title: title,\n            url: url\n        };\n        reply = Object.assign(reply, data);\n        return reply;\n    }\n    /**\n     * 建立連結類型訊息\n     * @param {*} params { title, url }\n     */\n    createLinkType(params) {\n        let reply = {\n            type: replyMsgTypes.linkType\n        };\n        if (params) {\n            if (params.title) {\n                reply.title = params.title;\n            }\n            if (params.url) {\n                reply.url = params.url;\n            }\n        }\n        return reply;\n    }\n    createDataList(data, title) {\n        return {\n            type: replyMsgTypes.dataList,\n            title: title,\n            data: Array.isArray(data) ? data : [data]\n        };\n    }\n    /**\n     * 建立 data list 類型訊息\n     * @param {*} params { data, title, botType, intent }\n     */\n    createDataListType(params) {\n        let reply = {\n            type: replyMsgTypes.dataListType\n        };\n        if (params) {\n            if (Array.isArray(params.data) && params.data.length) {\n                reply.data = node._.cloneDeep(params.data);\n            }\n            if (params.title) {\n                reply.title = params.title;\n            }\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n        }\n        return reply;\n    }\n    createYesOrNo(yesText, noText) {\n        return {\n            type: replyMsgTypes.yesOrNo,\n            yes: yesText,\n            no: noText\n        };\n    }\n    /**\n     * 建立 yes/no 選項訊息\n     * @param {*} params { yes, no }\n     */\n    createYesOrNoType(params) {\n        let reply = {\n            type: replyMsgTypes.yesOrNoType\n        };\n        if (params) {\n            if (params.yes) {\n                reply.yes = params.yes;\n            }\n            if (params.no) {\n                reply.no = params.no;\n            }\n        }\n        return reply;\n    }\n    createToCustomerService(options) {\n        let reply = {\n            type: replyMsgTypes.toCustomerService\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToCustomerServiceType(options) {\n        let reply = {\n            type: replyMsgTypes.toCustomerServiceType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToOnlineService(options) {\n        let reply = {\n            type: replyMsgTypes.toOnlineService\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToOnlineServiceType(options) {\n        let reply = {\n            type: replyMsgTypes.toOnlineServiceType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToAuthorization(options) {\n        let reply = {\n            type: replyMsgTypes.toAuthorization,\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToAuthorizationType(options) {\n        let reply = {\n            type: replyMsgTypes.toAuthorizationType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToLocation(botType, entities, location) {\n        return {\n            type: replyMsgTypes.toLocation,\n            botType: botType,\n            location: location,\n            entities: entities\n        };\n    }\n    /**\n     * 建立需取得定位訊息\n     * @param {*} params { botType, intent }\n     */\n    createToLocationType(params) {\n        let reply = {\n            type: replyMsgTypes.toLocationType\n        };\n        if (params) {\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n        }\n        return reply;\n    }\n    createRedirectBot(opts) {\n        return {\n            type: replyMsgTypes.redirectBot,\n            botType: opts && opts.botType,\n            intent: opts && opts.intent,\n            entities: opts && opts.entities,\n            data: opts && opts.data\n        };\n    }\n    /**\n     * 建立要求總機重新導向 second bot 類型訊息\n     * @param {*} params { botType, intent, entities, data }\n     */\n    createRedirectBotType(params) {\n        let reply = {\n            type: replyMsgTypes.redirectBotType\n        };\n        if (params) {\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n            if (params.entities) {\n                reply.entities = node._.cloneDeep(params.entities);\n            }\n            if (params.data) {\n                reply.data = node._.cloneDeep(params.data);\n            }\n        }\n        return reply;\n    }\n    /**\n     * 建立 options 訊息物件\n     * data 陣列中僅允許包含 text, speech, image, sticker, link\n     * @param opts <Option_Item>[] Including properties : title, payload, url\n     * @param title string Title\n     */\n    createOptions(opts, title) {\n        const ctrl = new ReplyMsgCtrl();\n        let options = Array.isArray(opts) ? [].concat(opts) : [opts];\n        options = options.filter(opt => {\n            return !!opt && (opt.title && (opt.payload || opt.url));\n        });\n\n        let reply = {\n            type: replyMsgTypes.options\n        };\n        if (options) {\n            reply.data = options;\n        }\n        if (title) {\n            reply.title = title;\n        }\n        return reply;\n    }\n    /**\n     * 建立選項類型訊息\n     * @param {*} params { opts, title }\n     */\n    createOptionsType(params) {\n        let reply = {\n            type: replyMsgTypes.optionsType\n        };\n\n        if (params) {\n            let options = Array.isArray(params.opts) ? [].concat(opts) : [opts];\n            options = options.filter(opt => {\n                return !!opt && (opt.title && (opt.payload || opt.url));\n            });\n\n\n            if (options) {\n                reply.data = node._.cloneDeep(options);\n            }\n            if (title) {\n                reply.title = title;\n            }\n        }\n        return reply;\n    }\n    createStatus(code, msg) {\n        return {\n            type: replyMsgTypes.status,\n            status: {\n                code: code,\n                message: msg\n            }\n        };\n    }\n    /**\n     * 建立狀態訊息\n     * @param {*} params { status: { code, message } }\n     */\n    createStatusType(params) {\n        let reply = {\n            type: replyMsgTypes.statusType\n        };\n        if (params) {\n            if (params.status) {\n                reply.status = node._.cloneDeep(params.status);\n            }\n        }\n        return reply;\n    }\n    createAction(actionType) {\n        return {\n            type: replyMsgTypes.action,\n            action: actionType\n        };\n    }\n    /**\n     * 建立動作訊息\n     * @param {*} params { action }\n     */\n    createActionType(params) {\n        let reply = {\n            type: replyMsgTypes.actionType\n        };\n        if (params) {\n            if (params.action) {\n                reply.action = params.action;\n            }\n        }\n        return reply;\n    }\n    create(data) {\n        const reply = {};\n        if (data.type) { reply.type = data.type; }\n        if (data.text) { reply.text = data.text; }\n        if (data.speech) { reply.speech = data.speech; }\n        if (data.title) { reply.title = data.title; }\n        if (data.alt) { reply.alt = data.alt; }\n        if (data.imgUrl) { reply.imgUrl = data.imgUrl; }\n        if (data.url) { reply.url = data.url; }\n        if (data.data) { reply.data = node._.cloneDeep(data.data); }\n        if (data.yes) { reply.yes = data.yes; }\n        if (data.no) { reply.no = data.no; }\n        if (data.userId) { reply.userId = data.userId; }\n        if (data.botType) { reply.botType = data.botType; }\n        if (data.intent) { reply.intent = data.intent; }\n        if (data.entities) { reply.entities = node._.cloneDeep(data.entities); }\n        if (data.location) { reply.location = node._.cloneDeep(data.location); }\n        if (data.action) { reply.action = data.action; }\n        if (data.status) { reply.status = node._.cloneDeep(data.status); }\n        if (data.postbackReq) { reply.postbackReq = node._.cloneDeep(data.postbackReq); }\n        return reply;\n    }\n}\n\nclass ReqMsgCtrl {\n    isText(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isText(msg.message.type) : reqMsgTypes.isText(msg.type);\n    }\n\n    isSpeech(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isSpeech(msg.message.type) : reqMsgTypes.isSpeech(msg.type);\n    }\n\n    isFromOnlineService(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromOnlineService(msg.message.type) : reqMsgTypes.isFromOnlineService(msg.type);\n    }\n\n    isFromAuthorization(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromAuthorization(msg.message.type) : reqMsgTypes.isFromAuthorization(msg.type);\n    }\n\n    isFromLocation(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromLocation(msg.message.type) : reqMsgTypes.isFromLocation(msg.type);\n    }\n\n    isSignal(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isSignal(msg.message.type) : reqMsgTypes.isSignal(msg.type);\n    }\n\n    isStartSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isStart(msg.message.signal);\n    }\n\n    isContinueSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isContinue(msg.message.signal);\n    }\n\n    isEndSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isEnd(msg.message.signal);\n    }\n\n    isIdleSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isIdle(msg.message.signal);\n    }\n\n    isQuitSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isQuit(msg.message.signal);\n    }\n\n    isPassedFromCustomerServiceSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isPassedFromCustomerService(msg.message.signal);\n    }\n\n    isConfig(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isConfig(msg.message.type) : reqMsgTypes.isConfig(msg.type);\n    }\n\n    isGrade(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isGrade(msg.message.type) : reqMsgTypes.isGrade(msg.type);\n    }\n\n    isInitSession(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isInitSession(msg.message.type) : reqMsgTypes.isInitSession(msg.type);\n    }\n\n    /**\n     * Normalize message's channel\n     * By default, channel would be a text channel\n     * @param {any} reqMsg request message object\n     */\n    normalize(reqMsg) {\n        if (!reqMsg || !reqMsg.message) {\n            return;\n        }\n        let channelObj = this._normalizeChannel(reqMsg.channel) || reqChannels.text;\n        if (!node._.isNil(channelObj)) {\n            reqMsg.channel = node._.clone(channelObj);\n        }\n    }\n\n\n    /**\n     * Normalize channel object\n     * @param {any} channel \n     */\n    _normalizeChannel(channel) {\n        let channelObj = null; // set the default channel\n        if (node._.isNumber(channel)) {\n            // If the channel is number, and > 0\n            // it would be deprecated channel type, convert it.\n            if (channel > 0) {\n                channelObj = new Channel(channel.toString(), {\n                    isText: channel & 1 === 1,\n                    isSpeech: channel & 2 === 2\n                });\n            }\n            else {\n                channelObj = new Channel(channel.toString(), {\n                    isText: true,\n                    isSpeech: false\n                });\n            }\n        }\n        else if (node._.isString(channel)) {\n            channelObj = new Channel(channel, {\n                isText: true,\n                isSpeech: false\n            });\n        }\n        else if (!node._.isNil(channel) &&\n            node._.isString(channel.name)) {\n            channelObj = new Channel(channel.name, {\n                isText: node._.isBoolean(channel.isText) ? channel.isText : !!channel.isText,\n                isSpeech: node._.isBoolean(channel.isSpeech) ? channel.isSpeech : !!channel.isSpeech\n            });\n        }\n        return channelObj;\n    }\n}\n\nclass ReplyMsgCtrl {\n    isText(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isText(msg.type);\n    }\n\n    isSpeech(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isSpeech(msg.type);\n    }\n\n    isImage(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isImage(msg.type);\n    }\n\n    isSticker(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isSticker(msg.type);\n    }\n\n    isLink(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isLink(msg.type);\n    }\n\n    isDataList(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isDataList(msg.type);\n    }\n\n    isYesOrNo(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isYesOrNo(msg.type);\n    }\n\n    isToCustomerService(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToCustomerService(msg.type);\n    }\n\n    isToOnlineService(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToOnlineService(msg.type);\n    }\n\n    isToAuthorization(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToAuthorization(msg.type);\n    }\n\n    isToLocation(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToLocation(msg.type);\n    }\n\n    isRedirectBot(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isRedirectBot(msg.type);\n    }\n\n    isOptions(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isOptions(msg.type);\n    }\n\n    isStatus(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isStatus(msg.type);\n    }\n\n    isAction(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isAction(msg.type);\n    }\n\n    isGeneralInfo(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isGeneralInfo(msg.type);\n    }\n\n    isValid(msg) {\n        return this.isText(msg) ||\n            this.isSpeech(msg) ||\n            this.isImage(msg) ||\n            this.isSticker(msg) ||\n            this.isLink(msg) ||\n            this.isDataList(msg) ||\n            this.isYesOrNo(msg) ||\n            this.isToCustomerService(msg) ||\n            this.isToOnlineService(msg) ||\n            this.isToAuthorization(msg) ||\n            this.isToLocation(msg) ||\n            this.isRedirectBot(msg) ||\n            this.isOptions(msg) ||\n            this.isStatus(msg) ||\n            this.isAction(msg) ||\n            this.isGeneralInfo(msg);\n    }\n}\n\n/**\n * 物件相關 utils\n */\nclass ObjUtils {\n\n    removeSpecialCharFromKeys(obj) {\n        for (let prop in obj) {\n            let testReg = /\\./g;\n            if (testReg.test(prop)) {\n                const newProp = prop.replace(testReg, '');\n                let propVal = obj[prop];\n                delete obj[prop];\n                obj[newProp] = propVal;\n            }\n        }\n        return obj;\n    }\n}\n\n/**\n * 訊息相關 utils\n */\nclass MsgUtils {\n    /**\n     * Create output array (index of total)\n     * @params msg msg obj\n     * @params index 1-based\n     * @params total num of outputs\n     */\n    output(msg, index, total) {\n        total = !isNaN(total) && total >= 1 ? total : 1;\n        index = !isNaN(index) && index >= 1 && index <= total ? index : 1;\n        let outputs = new Array(total);\n        outputs.fill(null);\n        outputs[index - 1] = msg;\n        return outputs;\n    }\n}\n\n/**\n * 結束動作選項\n */\nclass QuitOptions {\n    constructor() {\n        this._none = 0;\n        this._quitNone = 'quit_none';\n        this._current = 1;\n        this._quitCurrent = 'quit_current';\n        this._all = 2;\n        this._quitAll = 'quit_all';\n    }\n\n    get none() { return this._none; }\n    get quitNone() { return this._quitNone; }\n    get current() { return this._current; }\n    get quitCurrent() { return this._quitCurrent; }\n    get all() { return this._all; }\n    get quitAll() { return this._quitAll; }\n}\n\nconst quitOptions = new QuitOptions();\n\n\nclass LocalesUtils {\n\n    /**\n     * 取得 locales 對應語句或物件\n     * 若指定 channel 不存在 key 值，判斷 text 或 speech 是否有定義\n     * \n     * @param {Channel} channel Channel object\n     * @param {string | Array} key 以 dot ('.')分隔的字串，表示 property path\n     * @param {Object} replaceParams\n     */\n    get(locales, channel, key, replaceParams) {\n        if (!node._.isNil(locales)) {\n            let result = node._.get(locales[channel], key);\n            // 預設 Channel 與對應的語料\n            if (!result) {\n                if (reqChannels.isText(channel)) {\n                    result = node._.get(locales[reqChannels.text], key);\n                }\n                else if (reqChannels.isSpeech(channel)) {\n                    result = node._.get(locales[reqChannels.speech], key);\n                }\n            }\n            if (!!result && typeof result === 'string') {\n                result = this.replaceTextByParams(result, replaceParams);\n            }\n            return result;\n        }\n    }\n\n    /**\n     * 取代文字中指定參數，文字中須以 {{param}} 表示\n     * @param {*} text \n     * @param {*} params 取代參數值，會包含對應的參數，如 { param: \"new value\" }\n     */\n    replaceTextByParams(text, params) {\n        if (params) {\n            Object.keys(params).forEach(key => {\n                if (typeof params[key] === 'string') {\n                    const regex = new RegExp('{{\\\\s*' + key + '\\\\s*}}', 'gm');\n                    text = text.replace(regex, params[key]);\n                }\n            });\n        }\n        return text;\n    }\n}\n\n/**\n * 提供 First-In-First-Out 操作於指定的 array\n */\nclass QueueUtils {\n    /**\n     * 新增至 Queue 最後\n     */\n    push(queue, data) {\n        if (Array.isArray(queue) && !!data) {\n            if (!node._.isEqual(this.last(queue), data))\n                queue.push(data);\n        }\n    }\n    /**\n     * 從 Queue 最後取出\n     */\n    pop(queue) {\n        if (Array.isArray(queue)) {\n            let item = queue.pop();\n            return typeof item === 'object' ?\n                node._.cloneDeep(item) : item;\n        }\n        return null;\n    }\n    /**\n     * 從 Queue 第一個取出\n     */\n    shift(queue) {\n        if (Array.isArray(queue)) {\n            let item = queue.shift();\n            return typeof item === 'object' ?\n                node._.cloneDeep(item) : item;\n        }\n        return null;\n    }\n    /**\n     * 清除 Queue\n     */\n    clear(queue) {\n        if (Array.isArray(queue)) {\n            queue.splice(0, queue.length);\n        }\n    }\n    /**\n     * 刪除 Queue 中指定項目\n     */\n    remove(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            queue.splice(index, 1);\n        }\n    }\n    /**\n     * 取得 Queue 的第一個項目\n     */\n    first(queue) {\n        if (Array.isArray(queue) && queue.length > 0) {\n            return typeof queue[0] === 'object' ?\n                Object.assign({}, queue[0]) : queue[0];\n        }\n        return null;\n    }\n    /**\n     * 取得 Queue 的最新的項目\n     */\n    last(queue) {\n        if (Array.isArray(queue) && queue.length > 0) {\n            return typeof queue[queue.length - 1] === 'object' ?\n                Object.assign({}, queue[queue.length - 1]) : queue[queue.length - 1];\n        }\n        return null;\n    }\n\n    /**\n     * 取得指定順位的項目\n     * @param {*} queue array of items as queue\n     * @param {*} index 0-based index\n     */\n    get(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            return typeof queue[index] === 'object' ?\n                Object.assign({}, queue[index]) : queue[index];\n        }\n    }\n    /**\n     * 從最後一個倒數，取得指定順位的項目\n     * @param {*} queue array of items as queue\n     * @param {*} index 0-based index\n     */\n    getFromLast(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            return typeof queue[queue.length - index - 1] === 'object' ?\n                Object.assign({}, queue[queue.length - index - 1]) : queue[queue.length - index - 1];\n        }\n    }\n}\n\n/**\n * 字串相關工具\n */\nclass StringUtils {\n    /**\n     * 計算字串最短距離\n     * @param {*} str1 \n     * @param {*} str2 \n     */\n    levenshteinDistance(str1, str2) {\n        str1 = str1 || '';\n        str2 = str2 || '';\n        let vectorPrevious = [];\n        let vectorCurrent = [];\n\n        for (let i = 0; i <= str2.length; ++i) {\n            vectorPrevious[i] = i;\n        }\n        for (let i = 0; i < str1.length; ++i) {\n            vectorCurrent[0] = i + 1;\n\n            for (let j = 0; j < str2.length; ++j) {\n                let deletionCost = vectorPrevious[j + 1] + 1;\n                let insertionCost = vectorCurrent[j] + 1;\n                let substitutionCost = 0;\n\n                if (str1[i] === str2[j]) {\n                    substitutionCost = vectorPrevious[j];\n                } else {\n                    substitutionCost = vectorPrevious[j] + 1;\n                }\n                vectorCurrent[j + 1] = node._.min([\n                    deletionCost,\n                    insertionCost,\n                    substitutionCost\n                ]);\n            }\n\n            vectorPrevious = [].concat(vectorCurrent);\n            vectorCurrent = [];\n        }\n        return vectorPrevious[str2.length];\n    }\n\n    /**\n     * 計算字串最短距離，並轉成相似度(0.0 ~ 1.0)\n     * @param {*} str1 \n     * @param {*} str2 \n     */\n    stringSimilarity(str1, str2) {\n        let distance = this.levenshteinDistance(str1, str2);\n        let maxLen = node._.max([str1.length, str2.length]);\n        return parseFloat((maxLen - distance) / maxLen);\n    }\n}\n\nconst stringUtils = new StringUtils();\n\n/**\n * Setup and update `msg.report_stats` and `msg.systalk.report_stats_session`\n */\nclass ReportUtils {\n\n    /**\n     * Get channel's description, then set to `msg.report_stats_session.channel`\n     * @param {Object} reportStatsSession report stats per session\n     * @param {Channel} channel Channel object\n     */\n    setSessionChannel(reportStatsSession, channel) {\n        if (!node._.isNil(reportStatsSession) && !node._.isNil(channel)) {\n            let stats = reportStatsSession;\n            stats.channel = channel.toString();\n        }\n    }\n\n    /**\n     * \n     * @param {Object} reportStatsSession report stats per session\n     * @param {number} hasInputed `true` if user has inputed\n     */\n    setSessionUserHasInputed(reportStatsSession, hasInputed) {\n        if (!node._.isNil(reportStatsSession)) {\n            reportStatsSession.userHasInputed = hasInputed || false;\n        }\n    }\n\n    /**\n     * Set `msg.systalk.report_stats_session.toCustomerService` to check if this session is transfered to customer service\n     * @param {Object} reportStatsSession report stats per session\n     * @param {boolean} isTransferedToCS is this session transfered to customer service\n     */\n    setSessionToCustomerService(reportStatsSession, isTransferedToCS) {\n        reportStatsSession.toCustomerService = node._.isNil(isTransferedToCS) ? false : isTransferedToCS;\n    }\n\n    /**\n     * 使用者對 Chat Bot 評分\n     * @param {*} reportStatsSession report stats per session\n     * @param {number} score 評分\n     */\n    setSessionScoreForBot(reportStatsSession, score) {\n        if (!node._.isNil(reportStatsSession)) {\n            let _score = parseInt(score);\n            reportStatsSession.botUserScore = !isNaN(_score) && _score >= 0 ? _score : 0;\n        }\n    }\n\n    /**\n     * 使用者對客服人員的評分\n     * @param {Object} reportStatsSession report stats per session\n     * @param {number} score 評分\n     */\n    setSessionScoreForAgent(reportStatsSession, score) {\n        if (!node._.isNil(reportStatsSession)) {\n            let _score = parseInt(score);\n            reportStatsSession.agentUserScore = !isNaN(_score) && _score >= 0 ? _score : 0;\n        }\n    }\n\n    /**\n     * 設定是否為 `undecided`\n     * @param {Object} reportStats report stats per message\n     * @param {string} deciding `Decided`, `Undecided` or `Suggested FAQ`\n     */\n    setDeciding(reportStats, deciding) {\n        if (!node._.isNil(reportStats) && !node._.isNil(deciding)) {\n            reportStats.deciding = deciding;\n        }\n    }\n}\n\nclass LangCtrl {\n    constructor() {\n    }\n\n    /**\n     * Normalize lang code: lower case & separated by `-`\n     * ex: `zh-tw`, `en-us`\n     * @param {string} langCode lang code\n     */\n    normalize(langCode) {\n        if (!!langCode) {\n            return langCode.toLowerCase().trim();\n        }\n    }\n\n    /**\n     * Return the `langCode`, if it's valid in `validLangs`, `defaultLang` otherwise \n     * @param {string[]} validLangs collection of valid lang codes\n     * @param {string} langCode lang code to be determined\n     * @param {string} defaultLang default as `langCode` not in `validLangs`\n     */\n    validOrDefault(validLangs, langCode, defaultLang) {\n        if (Array.isArray(validLangs)) {\n            return validLangs.some(x => this.normalize(x) === this.normalize(langCode)) ?\n                langCode : defaultLang;\n        }\n    }\n}\n\nclass AnalysisCtrl {\n    constructor() { }\n\n    /**\n     * Map NLU result for analysis\n     * \n     * @param {Object} nlu NLU result object\n     * @param {Object} extraConfigs Extra configs for NLU  \n     * ```typescript\n     * {\n     *   isFirstNLU: boolean;\n     *   isSecondNLU: boolean;\n     *   isThirdNLU: boolean;\n     *   threshold: number;\n     * }\n     * ```\n     * @returns NLU Result for analysis\n     * ```typescript\n     * {\n     *   sentence: string;\n     *   intents: IntentResult[];\n     *   entities: EntityResult[];\n     * \n     *   isFirstNLU: boolean;\n     *   isSecondNLU: boolean;\n     *   isThirdNLU: boolean;\n     *   threshold: number;\n     *   secondThreshold: number;\n     *   fallbackScore: number;\n     *   name: string;\n     * }\n     * ```\n     */\n    mapNLUResult(nlu, extraConfigs) {\n        let res = null;\n        if (!node._.isNil(nlu)) {\n            res = {};\n            res.sentence = nlu.sentence;\n            res.intents = [].concat(nlu.intents.map(x => this.mapIntentResult(x)).filter(x => !!x));\n            res.entities = [].concat(nlu.entities.map(y => this.mapEntityResult(y)).filter(y => !!y));\n\n            res.isFirstNLU = !!extraConfigs && extraConfigs.isFirstNLU || false;\n            res.isSecondNLU = !!extraConfigs && extraConfigs.isSecondNLU || false;\n            res.isThirdNLU = !!extraConfigs && extraConfigs.isThirdNLU || false;\n            res.threshold = !!extraConfigs && extraConfigs.threshold || 0;\n            res.secondThreshold = !!extraConfigs && extraConfigs.secondThreshold || 0;\n            res.fallbackScore = !!extraConfigs && extraConfigs.fallbackScore || 0;\n            res.name = !!extraConfigs && extraConfigs.name;\n        }\n        return res;\n    }\n\n    mapIntentResult(intent) {\n        let res = null;\n        if (!node._.isNil(intent)) {\n            res = {};\n            res.intent_id = intent.intent_id;\n            res.intent = intent.intent;\n            res.score = intent.score;\n        }\n        return res;\n    }\n\n    mapEntityResult(entity) {\n        let res = null;\n        if (!node._.isNil(entity)) {\n            res = {};\n            res.entity_id = entity.entity_id;\n            res.info = entity.info;\n            res.text = entity.text;\n            res.key_user_phrase = entity.key_user_phrase;\n            res.entity = entity.entity;\n        }\n        return res;\n    }\n\n    /**\n     * Map FAQ result for analysis\n     *\n     * @param {Object} faq FAQ Result object\n     * @param {Object} extraConfigs Extra configs for FAQ\n     * ```typescript\n     * {\n     *   isFirstFAQ: boolean;\n     *   threshold: number;\n     *   secondThreshold: number;\n     *   name: string;\n     * }\n     * ```\n     */\n    mapFAQResult(faq, extraConfigs) {\n        let res = null;\n        if (!node._.isNil(faq)) {\n            res = {};\n            res.qid = faq.id;\n            res.originalQuestion = faq.orig_question;\n            res.answer = faq.answer;\n\n            if (!node._.isNil(faq.multichannel_answers) && Array.isArray(faq.multichannel_answers)) {\n                res.multichannel_answers = [].concat(faq.multichannel_answers.map(x => this.mapMultiChannelFAQAnswers(x)));\n            }\n            res.categories = [].concat(node._.cloneDeep(faq.categories));\n            res.score = faq.score;\n\n            res.threshold = !!extraConfigs && extraConfigs.threshold || 0;\n            res.secondThreshold = !!extraConfigs && extraConfigs.secondThreshold || 0;\n            res.isFirstFAQ = !!extraConfigs && extraConfigs.isFirstFAQ || false;\n            res.name = !!extraConfigs && extraConfigs.name;\n        }\n        return res;\n    }\n\n    mapMultiChannelFAQAnswers(ans) {\n        let res = null;\n        if (!node._.isNil(ans)) {\n            res = {};\n            res.channel = ans.tab.name;\n            res.answer = ans.answer;\n        }\n        return res;\n    }\n\n    /**\n     * Map recored NLU result for Report used\n     * @param {Object} nluResult \n     */\n    mapNLUResultForReport(nluResult) {\n        if (!!nluResult &&\n            Array.isArray(nluResult.intents) && nluResult.intents.length) {\n\n            let isUndecided = false;\n            let isSuggested = false;\n            if (node._.isNumber(nluResult.threshold)) {\n                isUndecided = isUndecided || nluResult.intents[0].score < nluResult.threshold;\n            }\n            if (node._.isNumber(nluResult.fallbackScore)) {\n                isUndecided = isUndecided || nluResult.intents[0].score === nluResult.fallbackScore;\n            }\n            if (node._.isNumber(nluResult.secondThreshold)) {\n                isSuggested = isSuggested || nluResult.intents[0].score >= nluResult.secondThreshold;\n            }\n\n            return {\n                intent: nluResult.intents[0].intent,\n                undecided: isUndecided,\n                suggested: isSuggested\n            };\n        }\n        return null;\n    }\n\n    /**\n     * Map recored FAQ result for Report used\n     * @param {Object} faqResult \n     * @param {Object} extraConfigs Extra configs for `faqResult`\n     * ```typescript\n     * {\n     *   parentCategory: string;\n     *   childCategory: string;\n     * }\n     * ```\n     */\n    mapFAQResultForReport(faqResult, extraConfigs) {\n        let res = null;\n        if (!!faqResult) {\n            res = {};\n            res.qid = faqResult.qid;\n            res.originalQuestion = faqResult.originalQuestion;\n            res.score = faqResult.score;\n            res.undecided = node._.isNumber(faqResult.threshold) ? faqResult.score < faqResult.threshold : false;\n            res.suggested = node._.isNumber(faqResult.secondThreshold) ? faqResult.score >= faqResult.secondThreshold : false;\n            res.parentCategory = extraConfigs.parentCategory || undefined;\n            res.childCategory = extraConfigs.childCategory || undefined;\n            return res;\n        }\n        return null;\n    }\n\n    /**\n     * Get the NLU result marked as the first NLU\n     * @param {Object[]} list \n     */\n    getFirstNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isFirstNLU) || null;\n        }\n    }\n\n    /**\n     * Get the NLU result marked as the second NLU\n     * @param {Object[]} list \n     */\n    getSecondNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isSecondNLU) || null;\n        }\n    }\n\n    /**\n     * Get the NLU result marked as the third NLU\n     * @param {Object[]} list\n     */\n    getThirdNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isThirdNLU) || null;\n        }\n    }\n\n    /**\n     * Get the FAQ result marked as the first FAQ\n     * @param {Object[]} list \n     */\n    getFirstFAQ(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isFirstFAQ) || null;\n        }\n    }\n}\n\n/**\n * 提供 `msg.config` 相關 Utility 方法\n */\nclass ConfigCtrl {\n\n    getBotApi(name) {\n        if (name && msg.config.apis.bots) {\n            return msg.config.apis.bots[name];\n        }\n    }\n\n    getNLUApi(name) {\n        if (name && msg.config.apis && msg.config.apis.nlu) {\n            return msg.config.apis.nlu[name];\n        }\n    }\n\n    getFAQApi(name) {\n        if (name && msg.config.apis && msg.config.apis.faq) {\n            return msg.config.apis.faq[name];\n        }\n    }\n\n    getLocalesApi() {\n        if (msg.config.apis && msg.config.apis.locales) {\n            return msg.config.apis.locales;\n        }\n    }\n\n    /**\n     * 取得 NLU 門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUThreshold(name) {\n        if (name && msg.config.threshold && msg.config.threshold.nlu) {\n            return msg.config.threshold.nlu[name];\n        }\n    }\n\n    /**\n     * 取得 NLU 次門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUSecondThreshold(name) {\n        return this.getNLUMinorThreshold(name);\n    }\n\n    /**\n     * 取得 NLU 次門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUMinorThreshold(name) {\n        if (name && msg.config.secondThreshold && msg.config.secondThreshold.nlu) {\n            return msg.config.secondThreshold.nlu[name];\n        }\n    }\n\n    /**\n     * 取得 FAQ 門檻值\n     * @param {string} name 設定 FAQ 的名稱\n     */\n    getFAQThreshold(name) {\n        if (name && msg.config.threshold && msg.config.threshold.faq) {\n            return msg.config.threshold.faq[name];\n        }\n    }\n\n    /**\n     * 取得 FAQ 次門檻值\n     * @param {string} name 設定的 FAQ 名稱\n     */\n    getFAQSecondThreshold(name) {\n        return this.getFAQMinorThreshold(name);\n    }\n\n    /**\n     * 取得 FAQ 次門檻值\n     * @param {string} name 設定的 FAQ 名稱\n     */\n    getFAQMinorThreshold(name) {\n        if (name && msg.config.secondThreshold && msg.config.secondThreshold.faq) {\n            return msg.config.secondThreshold.faq[name];\n        }\n    }\n\n    /**\n     * 取得原點值\n     * @param {string} name 設定 NLU 的名稱\n     */\n    getFallbackScore(name) {\n        return this.getOriginValue(name);\n    }\n\n    /**\n     * 取得原點值\n     * @param {string} name 設定 NLU 的名稱\n     */\n    getOriginValue(name) {\n        if (name && msg.config.nluFallbackScore) {\n            return msg.config.nluFallbackScore[name];\n        }\n    }\n\n    /**\n     * service 是否擁有指定的操作意圖（與項目意圖）\n     * @param { string } serviceName 服務意圖名稱\n     * @param { string } operationName 操作意圖名稱\n     * @param { item } itemName 項目意圖名稱\n     */\n    serviceHasOperationAndItem(serviceName, operationName, itemName) {\n        if (!msg.config.intentsMap || !serviceName) {\n            return false;\n        }\n\n        const operations = msg.config.intentsMap[serviceName] && Object.keys(msg.config.intentsMap[serviceName]) || [];\n        let items = [];\n        operations.forEach(op => {\n            items = items.concat(msg.config.intentsMap[serviceName][op] || []);\n        });\n\n        const hasOperation = operationName && operations.includes(operationName);\n        const hasItem = itemName && items.includes(itemName);\n        const itemsOfOperation = msg.config.intentsMap[serviceName] && Array.isArray(msg.config.intentsMap[serviceName][operationName]) ?\n            msg.config.intentsMap[serviceName][operationName] : [];\n        const hasItemOfOperation = operationName && itemName && hasOperation &&\n            itemsOfOperation.includes(itemName);\n\n        return hasOperation || hasItem || hasItemOfOperation;\n    }\n}\n\n\nmsg.systalk.utils = {\n    ReqMsgTypes: reqMsgTypes,\n    ReplyMsgTypes: replyMsgTypes,\n    ReqSignals: reqSignals,\n    ReqChannels: reqChannels,\n    Channel: Channel,\n    ReplyMsgFactory: new ReplyMsgFactory(),\n    ReqMsgCtrl: new ReqMsgCtrl(),\n    ReplyMsgCtrl: new ReplyMsgCtrl(),\n    ObjUtils: new ObjUtils(),\n    MsgUtils: new MsgUtils(),\n    QuitOptions: quitOptions,\n    LocalesUtils: new LocalesUtils(),\n    ReplyActionTypes: replyActionTypes,\n    QueueUtils: new QueueUtils(),\n    StringUtils: stringUtils,\n    ReportUtils: new ReportUtils(),\n    LangCtrl: new LangCtrl(),\n    AnalysisCtrl: new AnalysisCtrl(),\n    ConfigCtrl: new ConfigCtrl()\n};\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042992e2751b53c",
        "breakpoints": []
    },
    {
        "id": "829c598e.7eda98",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Message Type",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 435,
        "y": 603.5,
        "wires": [
            [
                "24964f71.6f8cd"
            ],
            [
                "f4c2e4b1.83a4c8"
            ]
        ],
        "func": "const ReqMsgCtrl = msg.systalk.utils.ReqMsgCtrl;\nconst MsgUtils = msg.systalk.utils.MsgUtils;\n\nif (msg.reqMsg.message.type === 'customerMsg') {\n    return MsgUtils.output(msg, 1, 2);\n}\n// reqMsg is text or speech\n// if (ReqMsgCtrl.isText(msg.reqMsg) || ReqMsgCtrl.isSpeech(msg.reqMsg)) {\n//     let content = msg.reqMsg.message.text || msg.reqMsg.message.speech;\n//     msg.text = content;\n//     msg.payload = msg.text;\n//     node.log(123)\n//     return MsgUtils.output(msg, 1, 2);\n// }\n\nreturn MsgUtils.output(msg, 2, 2);",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6a6f5f04299683651b53d",
        "breakpoints": []
    },
    {
        "id": "f4c2e4b1.83a4c8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Other message type",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 655,
        "y": 643.5,
        "wires": [
            [
                "50823eee.3a1cb"
            ],
            [
                "66e8aaa0.8381d4"
            ]
        ],
        "func": "const ReqMsgCtrl = msg.systalk.utils.ReqMsgCtrl;\nconst MsgUtils = msg.systalk.utils.MsgUtils;\n\nif (ReqMsgCtrl.isEndSignal(msg.reqMsg) ||\n    ReqMsgCtrl.isQuitSignal(msg.reqMsg)) {\n    return MsgUtils.output(msg, 1, 2);\n}\n\n// Fallback\nreturn MsgUtils.output(msg, 2, 2);\n\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6a6f5f04299883e51b53e",
        "breakpoints": []
    },
    {
        "id": "db9e995b.a4a048",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1917,
        "y": 214.5,
        "wires": [
            []
        ],
        "func": "const ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nconst BotUtils = msg.systalk.utils.BotUtils;\nif (msg.reqMsg.message.param && msg.reqMsg.message.param.closeModal) {\n    msg.systalk.needInfo = {};\n    msg.systalk.needInfo.flags = {};\n    if (msg.reqMsg.message.msg) {\n        msg.messages = msg.reqMsg.message;\n        msg.toFaq = true;\n        msg.quit = true;\n    } else {\n        ChatWebRequest.addScene('VF003')\n        msg.reqBody = ChatWebRequest.getMsgObj;\n        msg._gateWay = true;\n        msg.url = msg.config.apis.gateWay.scene;\n        \n        msg.textComparsion = BotUtils.createYesNo();\n        msg.systalk.needInfo.needConfirm = '是否退出核身';\n    }\n    \n} else if (msg.systalk.needInfo.nextRound) {\n    msg.current = msg.systalk.needInfo.nextRound;\n} else {\n    msg._start_setup = false;\n    msg._start_flow = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299d4b251b53f",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "93cc4979.8c79c8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "Start",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 205,
        "y": 603.5,
        "wires": [
            [
                "829c598e.7eda98",
                "2375c43b.f9f28c"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f0429971fb51b540",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_start_flow"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "13bbcab8.bec165",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Response",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1085,
        "y": 103.5,
        "wires": [
            [
                "d86c347e.022878",
                "3be6f0bf.53478"
            ]
        ],
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299e2bc51b541",
        "breakpoints": []
    },
    {
        "id": "25aa9b4c.9506d4",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "Don't Understand",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1905,
        "y": 663.5,
        "wires": [
            []
        ],
        "func": "const ReplyMsgFactory = msg.systalk.utils.ReplyMsgFactory;\n\nmsg.messages.push(ReplyMsgFactory.createText('請問您要詢問的是什麼？我們有提供這些服務：'));\nmsg.messages.push(ReplyMsgFactory.createOptions([\n        { title: '服務一', payload: '服務一' },\n        { title: '服務二', payload: '服務二' }\n    ]));\n\nmsg._end_dialogue = false;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042998f1a51b542",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "59c580e0.4fcec",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "Response",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 227,
        "y": 1467.5,
        "wires": [
            [
                "34482ab2.7f09f6"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f0429924b551b543",
        "breakpoints": [],
        "rules": [
            {
                "t": "nnull",
                "p": "messages"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "595aaa4b.11c544",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1187,
        "y": 1467.5,
        "wires": [
            []
        ],
        "func": "\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042995dec51b544",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "acdb4958.dbebd8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "Req User Input",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 237,
        "y": 1527.5,
        "wires": [
            [
                "8a3222ff.dd43e"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f0429929c951b545",
        "breakpoints": [],
        "rules": [
            {
                "t": "false",
                "p": "_enter_end_dialogue"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "8a3222ff.dd43e",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 447,
        "y": 1527.5,
        "wires": [
            []
        ],
        "func": "msg._enter_end_dialogue = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f0429946c451b546",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": true
    },
    {
        "id": "363184c.115e57c",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "End Dialogue",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 237,
        "y": 1587.5,
        "wires": [
            [
                "1d55a1e4.c5e78e"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f04299204751b547",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_enter_end_dialogue"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "5f3f41ad.7d402",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 647,
        "y": 1587.5,
        "wires": [
            []
        ],
        "func": "msg._enter_end_dialogue = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299755551b548",
        "breakpoints": [],
        "response": "",
        "finalstate": true,
        "requestUserInput": false
    },
    {
        "id": "eb1e376e.996328",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "comment",
        "name": "統一處理回應",
        "z": "f33b6a8f.c43ab8",
        "info": "為紀錄額外資訊並清除多餘資訊   \n因此，需於 `Router` output 前處理完成。  \n\n1. 將各子流程 state 節點，皆__不設定__ \n   `Request User Input` 或 `End Dialogue`。\n2. 由於 Router node 會__輪詢__ Enter node，\n   因此可__依序__設定與清理 Response ，\n   並決定是否需結束對話。",
        "in": [],
        "out": [],
        "x": 227,
        "y": 1427.5,
        "wires": [],
        "_id": "61d6a6f5f04299a9b651b549",
        "breakpoints": []
    },
    {
        "id": "37d52f08.b032a",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Config",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 625,
        "y": 223.5,
        "wires": [
            [
                "aa7e48ec.f02738"
            ],
            [
                "a6ea431c.3f76"
            ]
        ],
        "func": "msg.config = {\n  botTypes: {\n    current: '<NAME>'\n  },\n  apis: {\n      nlu: { // 流程有使用到的 NLU\n        '服務NLU': null // '服務NLU': 'http://api.of.nlu/'\n      },\n      faq: { // 流程有使用到的 FAQ\n        '<NAME>': null // '服務FAQ': 'http://api.of.faq/'\n      },\n      gateWay: {\n          \n      },\n      locales: null // Optional\n  },\n  names: {\n      currentNLU: '服務NLU',\n    //   currentFAQ: '服務FAQ'\n  },\n  /**\n   * 信心值門檻\n   * 需要依實際情形調整\n   */\n  threshold: {\n    nlu: {\n        '<NAME>': 0.7\n    },\n    faq: {\n        '<NAME>': 0.7\n    }\n  },\n  secondThreshold: {\n    nlu: {\n        '<NAME>': 0.6\n    },\n    faq: {\n        '<NAME>': 0.6\n    }\n  },\n  faqMaxResultSize: 10,\n  /**\n   * 設定 NLU 原點值（訓練語料完全沒有符合的字詞，表示機器真的聽不懂）\n   * 每次訓練、修改後，需確認是否變更，並更新\n   */\n  nluFallbackScore: { // 設定各 NLU 原點值\n    '<NAME>': 0\n  },\n  intents: { // 用以辨識的 Intent 名稱\n    others: '其他'\n  },\n  entities: { // 使用到的 Entity 名稱\n  },\n  headers:{\n    Authorization: 'B2CC430497B84006A3D3C53EABB10FDB'\n  },\n  role:'bot',\n  source: 'MEGA',\n  correctText: ['是','對','無誤','正確','沒錯','沒有錯','可以','要','有','沒問題','好', '繼續'],\n  wrongText: ['否','不對','錯誤','不正確','有錯','錯','不可以','不要','沒有','有問題','不好','不是','有誤', '取消']\n};\n\n// 已有從 GateWay 參數 或 debug模式 || msg.debug\nif(msg.systalk.configParameters){\n    return [msg, null];\n}else{\n    //由API取得參數\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6a6f5f04299270d51b54a",
        "breakpoints": []
    },
    {
        "id": "a7d190f6.8dfc5",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "comment",
        "name": "取得定義文字／語句",
        "z": "f33b6a8f.c43ab8",
        "info": "將回覆使用到語句，於另外的 web service 中定義  \n依據 `channel` 與 `locales` 區分  \n\n## channel\n\n目前 `channel` 以數字表示。  \n固定 `channel=1` 為預設文字， \n`channel=2` 為預設語音（TTS）。  \n\nchannel 為正整數 \n- `channel & 1 = 1; // bitwise AND`  \n  表示該 channel 支援使用文字回覆\n- `channel & 2 = 2; // bitwise AND`  \n  表示該 channel 支援使用語音回覆\n\n## locales\n\n目前僅提供 `'zh-tw'`\n\n\n\n\n",
        "in": [],
        "out": [],
        "x": 226,
        "y": 181.5,
        "wires": [],
        "_id": "61d6a6f5f0429919db51b54b",
        "breakpoints": []
    },
    {
        "id": "b47dd649.3dc548",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "BotUtils",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1071,
        "y": 216.5,
        "wires": [
            [
                "f7e5c2fd.48e31"
            ]
        ],
        "func": "\nclass BotUtils {\n    replaceTextByParams(text, params) {\n        if (params) {\n            Object.keys(params).forEach(key => {\n                if (params[key]) {\n                    const regex = new RegExp('{{\\\\s*' + key + '\\\\s*}}', 'gm');\n                    text.replace(regex, params[key]);\n                }\n            });\n        }\n        return text;\n    }\n    createYesNo () {\n        return {\n            yes:{\n                values:  msg.config.correctText,\n                threshold: 0.7\n            },\n            no: {\n                values: msg.config.wrongText,\n                threshold: 0.7\n            }\n        }\n    }\n    /**\n     * 現在時間是否介於 \n     * 早安: 04:01~11:00\n     * 午安: 11:01~17:00\n     * 晚安: 17:01~04:00\n     */\n    getCurrentTimePeriod () {\n        const currentDate = new Date();\n        const currentMoment = node.moment(currentDate).tz(\"Asia/Taipei\");\n        const currentHour = currentMoment.hour();\n        let timePeriod = ['早安', '午安', '晚安'];\n        let currentTimePeriod = timePeriod.find(elem=> {\n            let endMoment = node.moment(currentDate).tz(\"Asia/Taipei\");\n            let startMoment = node.moment(currentDate).tz(\"Asia/Taipei\");\n            if (elem === '早安') {\n                endMoment.set('hour', 11);\n                endMoment.set('minute', 0);\n                endMoment.set('second', 0);\n                \n                startMoment.set('hour', 4);\n                startMoment.set('minute', 1);\n                startMoment.set('second', 0);\n            } else if (elem === '午安') {\n                endMoment.set('hour', 17);\n                endMoment.set('minute', 0);\n                endMoment.set('second', 0);\n                \n                startMoment.set('hour', 11);\n                startMoment.set('minute', 1);\n                startMoment.set('second', 0);\n            } \n            // else {\n            //     endMoment.set('hour', 4);\n            //     endMoment.set('minute', 0);\n            //     endMoment.set('second', 0);\n                \n            //     startMoment.set('hour', 17);\n            //     startMoment.set('minute', 1);\n            //     startMoment.set('second', 0);\n            // }\n            return currentMoment.diff(startMoment) >= 0 && currentMoment.diff(endMoment) <= 0;\n            \n        })\n        node.log('currentTimePeriod ' + currentTimePeriod);\n        return currentTimePeriod || '晚安';\n    }\n}\nmsg.systalk.utils.BotUtils = new BotUtils();\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299c05751b54c",
        "breakpoints": []
    },
    {
        "id": "d8ec6396.a76d4",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "comment",
        "name": "變更 endpoint",
        "z": "f33b6a8f.c43ab8",
        "info": "",
        "in": [],
        "out": [],
        "x": 207.390625,
        "y": 55.5,
        "wires": [],
        "_id": "61d6a6f5f0429907b651b54d",
        "breakpoints": []
    },
    {
        "id": "34482ab2.7f09f6",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "回應訊息",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 747,
        "y": 1467.5,
        "wires": [
            [
                "52d26fe.1af359"
            ]
        ],
        "func": "msg.payload = {\n    messages: msg.messages || null,\n    error: node._.cloneDeep(msg.error) || null,\n    from: 'bot',\n    auth: {\n        otp: msg.loginByOtp || null,\n        bank: msg.loginByBank || null\n    },\n    userData: msg.userData\n};\nif (msg.quit) {\n    msg.payload.quit = msg.quit;\n}\nif (msg.toAgent) {\n    msg.payload.toAgent = true;\n}\nif (msg.textComparsion) {\n    msg.payload.textComparsion = msg.textComparsion;\n}\nif (msg.activeModal) {\n    msg.payload.activeModal = msg.activeModal;\n}\nif (msg.toFaq) {\n    msg.payload.toFaq = true;\n}\n\nif (!node._.isNil(msg.analysis)) {\n    msg.payload.analysis = {\n        nlu: [].concat(msg.analysis.nlu || []),\n        faq: [].concat(msg.analysis.faq || [])\n    };\n}\n\nmsg._enter_end_dialogue = msg._end_dialogue;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f0429928d651b54e",
        "breakpoints": []
    },
    {
        "id": "1d55a1e4.c5e78e",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "change",
        "name": "刪除自訂紀錄資訊",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 467,
        "y": 1587.5,
        "wires": [
            [
                "5f3f41ad.7d402"
            ]
        ],
        "_id": "61d6a6f5f042997d0551b54f",
        "breakpoints": [],
        "rules": [
            {
                "t": "delete",
                "p": "systalk.pendingBot",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "systalk.config",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "systalk.sessionSalt",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false
    },
    {
        "id": "66e8aaa0.8381d4",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "delay",
        "name": ">>>",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 865,
        "y": 663.5,
        "wires": [
            [
                "25aa9b4c.9506d4"
            ]
        ],
        "_id": "61d6a6f5f04299202151b550",
        "breakpoints": [],
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false
    },
    {
        "id": "52d26fe.1af359",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "清除 msg 下屬性",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 967,
        "y": 1467.5,
        "wires": [
            [
                "595aaa4b.11c544"
            ]
        ],
        "func": "// 刪除單一訊息流程狀態\nmsg._start_flow = undefined;\nmsg._get_locales = undefined;\nmsg._end_dialogue = undefined;\nmsg._start_setup = undefined;\n\n// 刪除暫存訊息資訊\nmsg.error = undefined;\nmsg.config = undefined;\nmsg.url = undefined;\nmsg.method = undefined;\nmsg.headers = undefined;\nmsg.botType = undefined;\nmsg.quit = undefined;\n\n// 刪除 NLU 與 FAQ 結果\nmsg.NLU = undefined;\nmsg.FAQ = undefined;\n\n// 刪除自訂紀錄資訊\nmsg.systalk.locales = undefined;\nmsg.systalk.utils = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f0429939d451b551",
        "breakpoints": []
    },
    {
        "id": "66545c0b.bd6eb4",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Setup analysis",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1724,
        "y": 214.5,
        "wires": [
            [
                "db9e995b.a4a048"
            ]
        ],
        "func": "msg.analysis = {\n    faq: [],\n    nlu: []\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299713851b552",
        "breakpoints": []
    },
    {
        "id": "8a0365d3.6a5998",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "Flow 發生錯誤",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 237,
        "y": 1327.5,
        "wires": [
            [
                "c2c8185d.7be6f8"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f042995e3e51b553",
        "breakpoints": [],
        "rules": [
            {
                "t": "nnull",
                "p": "error"
            },
            {
                "t": "nnull",
                "p": "messages"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "c2c8185d.7be6f8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "Error Response",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 467,
        "y": 1327.5,
        "wires": [
            []
        ],
        "func": "const ReplyMsgFactory = msg.systalk.utils.ReplyMsgFactory;\n\nif (node._.isString(msg.error)) {\n    msg.messages.push(ReplyMsgFactory.createText(msg.error));\n}\nelse if (node._.isObject(msg.error)) {\n    msg.messages.push(ReplyMsgFactory.createText(JSON.stringify(msg.error)));\n}\n\n\nmsg._end_dialogue = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299933251b554",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "fcf51568.7fa448",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "comment",
        "name": "!!注意!! Error Handling",
        "z": "f33b6a8f.c43ab8",
        "info": "在 Flow 中 function / state node 發生 Exception 會以該節點收到的 msg 再帶出  \n因此 Catch node 雖然在 Exception 發生時也會被觸發，但 __原有流程如無特別處理__ 仍會繼續\n\nException 僅使用 debug 紀錄訊息",
        "in": [],
        "out": [],
        "x": 267,
        "y": 1287.5,
        "wires": [],
        "_id": "61d6a6f5f0429969d151b555",
        "breakpoints": []
    },
    {
        "id": "63bdaebb.9dbba",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "comment",
        "name": "!!注意!! 需處理 HTTP 錯誤狀況",
        "z": "f33b6a8f.c43ab8",
        "info": "- HTTP Response 時，可透過 `msg.statusCode` 設定 flow 回應的 status  \n  但，HTTP Request 也會將回應的 status 寫入 `msg.statusCode`  \n  __請清除，若有需要，給予 status code__\n\n- 發生錯誤時，為避免影響後續流程，並告知使用者，可判斷 status  \n  再導向至產生錯誤訊息回應的流程",
        "in": [],
        "out": [],
        "x": 1205,
        "y": 623.5,
        "wires": [],
        "_id": "61d6a6f5f0429940ce51b556",
        "breakpoints": []
    },
    {
        "id": "b0b4ea60.478778",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "comment",
        "name": "!!注意!! 空訊息處理",
        "z": "f33b6a8f.c43ab8",
        "info": "當流程發生錯誤時，`msg.messages` 容易為空  \n導致無合法的訊息可供 client 顯示  \n\n因此，需要針對 **空訊息** 處理  \n定義一個表示無任何回應的訊息顯示\n\n如：`{ type: 1, text: '<NO_REPLY>' }`",
        "in": [],
        "out": [],
        "x": 747,
        "y": 1427.5,
        "wires": [],
        "_id": "61d6a6f5f04299736a51b557",
        "breakpoints": []
    },
    {
        "id": "177f0189.d4da7e",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "catch",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 227,
        "y": 1367.5,
        "wires": [
            [
                "3c666738.1f5798"
            ]
        ],
        "_id": "61d6a6f5f042993ddd51b558",
        "breakpoints": [],
        "scope": null
    },
    {
        "id": "3c666738.1f5798",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "Exception",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "error",
        "x": 447,
        "y": 1367.5,
        "wires": [],
        "_id": "61d6a6f5f0429944a851b559",
        "breakpoints": []
    },
    {
        "id": "a6ea431c.3f76",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "取得 config 參數",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 637,
        "y": 276.5,
        "wires": [
            [
                "ff08decb.0a663"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\nmsg.url = msg.reqMsg.getParametersUrl;\n\nmsg.payload = {\n    categoryKey: \"ChatFlow\",\n    chatwebId: msg.reqMsg.message.chatwebId,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299fd7251b55a",
        "breakpoints": []
    },
    {
        "id": "ff08decb.0a663",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "http request",
        "name": "gateWay call chatManage",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 665,
        "y": 338.5,
        "wires": [
            [
                "233baaf6.8efc26",
                "a32f5a97.f33918"
            ]
        ],
        "_id": "61d6a6f5f04299e07651b55b",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "233baaf6.8efc26",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Get parameters",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 628,
        "y": 397.5,
        "wires": [
            [
                "aa7e48ec.f02738"
            ]
        ],
        "func": "msg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\nif(msg.payload.code === 0){//查詢成功\n    const configParameters = msg.payload.data;\n    // 存systalk\n    msg.systalk.configParameters = configParameters;\n}else{\n    node.log(\"取得參數失敗！\");\n    node.log(msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299b2ce51b55c",
        "breakpoints": []
    },
    {
        "id": "aa7e48ec.f02738",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "Set parameters",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 882,
        "y": 216.5,
        "wires": [
            [
                "b47dd649.3dc548"
            ]
        ],
        "func": "if(msg.systalk.configParameters){//有參數\n    //設定參數...\n    const configParameters = msg.systalk.configParameters;\n    \n    //GATEWAY\n    msg.config.apis.gateWay.scene = configParameters.gw_addr+':'+configParameters.gw_port+'/card/scene';\n    msg.config.apis.gateWay.faqAnswer = configParameters.gw_addr+':'+configParameters.gw_port+'/card/faqAnswer';\n    msg.config.apis.gateWay.text = configParameters.gw_addr+':'+configParameters.gw_port+'/card/text';\n    msg.config.apis.gateWay.sendOtp = configParameters.gw_addr+':'+configParameters.gw_port+'/megaBank/otp/sendOtp';\n    msg.config.apis.gateWay.checkOtp = configParameters.gw_addr+':'+configParameters.gw_port+'/megaBank/otp/checkOtp';\n    \n    //是否有自訂回覆\n    msg.systalk.customLines = configParameters.customLines;\n    \n    // textComparsion\n    // msg.config.text.yes = configParameters.text_yes.split(','); // 字串比對 正確\n    // msg.config.text.no = configParameters.text_no.split(',');   // 字串比對 錯誤\n    \n    \n    \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299266f51b55d",
        "breakpoints": []
    },
    {
        "id": "f7e5c2fd.48e31",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "ChatWeb Utils  Req / Res",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1302,
        "y": 216.5,
        "wires": [
            [
                "34236b35.e08564"
            ]
        ],
        "func": "// Flow create requestBody to gateWay\nclass ChatWebRequest {\n    constructor () {\n        this.channel = msg.reqMsg.message.channel,\n        this.source = msg.config.source,\n        this.role = msg.config.role,\n        this.content = [];\n    }\n    \n    get getMsgObj () {\n        return this;\n    }\n    addScene (code) {\n        this.content.push({scene: code});\n    }\n    addTextCode (obj) {\n        if (typeof obj === 'string') {\n            this.content.push({textCode: obj});\n        } else if (typeof obj === 'object') {\n            this.content.push({textCode: obj.textCode, dictionary: obj.dictionary});\n        }\n    }\n}\n\n// Flow response to Vue\nclass ChatWebResponse {\n    constructor () {\n        this.channel = msg.reqMsg.message.channel,\n        this.source = msg.config.source,\n        this.role = msg.config.role,\n        this.content = [];\n    }\n    \n    get getMsgObj () {\n        const date = new Date();\n        return {\n            code: 0,\n            msg: '成功',\n            data: {\n                channel: this.channel,\n                source: this.source,\n                role: this.role,\n                content: this.content,\n                showtime: node.moment(date).tz(\"Asia/Taipei\").format(\"YYYY/MM/DD HH:mm:ss\")\n            }\n        }\n    }\n    addText (str) {\n        this.content.push({type:1, text: str});\n    }\n    addQuicklyReply (obj) {\n        this.content.push ({ \n            type:7,\n            linkListType:\"select-tag\" + obj.length.toString(),\n            linkList:obj\n        })\n    }\n    // obj ex:\n    // [\n    //     { \n    //         action:1,\n    //         text:\"網路/行動銀行驗證\",\n    //         data:\"網路/行動銀行驗證\"\n    //     },\n    //     { \n    //         action:1,\n    //         text:\"信用卡資料(限正卡)\",\n    //         data:\"信用卡資料(限正卡)\"\n    //     }\n    // ]\n    \n    \n    addModal (name) {\n        this.content.push({\n            type: 8,\n            widget: name\n        })\n    }\n    addGuessYouWant (cards, width = \"segment secard\") {\n        let arr = [];\n        cards.forEach(card=>{\n            arr.push({\n                css: {\n                    width: width,\n                    linkCss: \"btn-bottom\"\n                },\n                linkList: card.btnList\n            })    \n        })\n        this.content.push({\n            type: 2,\n            cards: arr\n        })\n    }\n}\n\nmsg.systalk.utils.ChatWebRequest = new ChatWebRequest();\nmsg.systalk.utils.ChatWebResponse = new ChatWebResponse();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299b31351b55e",
        "breakpoints": []
    },
    {
        "id": "6b39d26d.d9b33c",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "判斷需何種核身流程",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 863,
        "y": 563.5,
        "wires": [
            [
                "30572500.c0e54c"
            ]
        ],
        "func": "const flow = msg.reqMsg.message.param.flow || '01'\nswitch (flow) {\n    case '01': //(信)補寄帳單\n    case '02': //(信)可用餘額查詢\n    case '03': //(信)未出帳明細查詢\n    case '05': //(信)額度申請\n    case '06': //(信)紅利點數查詢\n    case '08': //(信)本期帳單(近三期),帳務問題\n    case '09': //(信)分期申請\n    case '10': //(信)卡片總覽=>改名\"我的卡片\n    case '11': //(信)權益使用次數查詢\n    case '12': //(信-新增)繳款紀錄查詢\n    case '13': //(信-新增)立即繳款\n        msg.both = true;\n    break;\n    case '19':\n    case '20':\n        msg.bankOnly = true;\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299ad1d51b55f",
        "breakpoints": []
    },
    {
        "id": "24964f71.6f8cd",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 626,
        "y": 542.5,
        "wires": [
            [
                "f32b7b8b.f2c0f8"
            ],
            [
                "6b39d26d.d9b33c"
            ]
        ],
        "func": "if (msg.reqMsg.textComparsion) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6a6f5f04299e13b51b560",
        "breakpoints": []
    },
    {
        "id": "30572500.c0e54c",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1083,
        "y": 562.5,
        "wires": [
            [
                "68eb225.9918cdc"
            ]
        ],
        "func": "const ChatWebResponse = msg.systalk.utils.ChatWebResponse;\nconst ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nif (msg.both) {\n    ChatWebRequest.addScene('VF001');\n} else {\n    ChatWebRequest.addScene('VF002');\n}\nmsg._gateWay = true;\nmsg.reqBody = ChatWebRequest.getMsgObj;\nmsg.url = msg.config.apis.gateWay.scene;\n\n\nmsg.textComparsion = {\n    bank: {\n        values: ['網路/行動銀行驗證'],\n        threshold: 0.6\n    },\n    otp: {\n        values: ['信用卡資料(限正卡)'],\n        threshold: 0.6\n    }\n}\nmsg.systalk.needInfo.needConfirm = '使用何種核身方式';\n\nmsg.preMessages = ChatWebResponse.getMsgObj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f0429957a351b561",
        "breakpoints": []
    },
    {
        "id": "68eb225.9918cdc",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1288,
        "y": 562.5,
        "wires": [
            []
        ],
        "func": "// update msg.systalk:\n\n    // msg.systalk.??? = ???;\n\n    // update msg.systalk._responses (a list):\n    // members of msg.systalk._responses will be\n    // randomly selected and concatenated to\n    // msg.payload by the Routher.\n    // msg.systalk._responses = [???];\n\n    // if you need extra debug function,\n    // node.log() outputs to the debug panel.\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042994d5c51b562",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "f32b7b8b.f2c0f8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "字串比對",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 830,
        "y": 482.5,
        "wires": [
            [
                "3dd12991.ab6476"
            ],
            [
                "a54be6a.93bb118"
            ],
            [
                "6b39d26d.d9b33c"
            ]
        ],
        "func": "const ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nif (msg.systalk.needInfo.needConfirm === '使用何種核身方式') {\n    if (msg.reqMsg.textComparsion.otp.matched) {\n        msg.current = 'otp';\n        return [msg, null, null];\n    } else if (msg.reqMsg.textComparsion.bank.matched) {\n        msg.current = 'bank';\n        return [msg, null, null];\n    }\n} else if (msg.systalk.needInfo.needConfirm === '是否退出核身') {\n    if (msg.reqMsg.textComparsion.no.matched) {\n        ChatWebRequest.addScene('VF004');\n        msg.reqBody = ChatWebRequest.getMsgObj;\n        msg._gateWay = true;\n        msg.url = msg.config.apis.gateWay.scene;\n        return [msg, null, null];\n    } else if (msg.reqMsg.textComparsion.yes.matched) {\n        return [null, null, msg];\n    }\n}\n\nreturn [null, msg, null];",
        "outputs": 3,
        "noerr": 0,
        "_id": "61d6a6f5f04299673e51b563",
        "breakpoints": []
    },
    {
        "id": "3dd12991.ab6476",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1024,
        "y": 456.5,
        "wires": [
            []
        ],
        "func": "msg.systalk.needInfo.needConfirm = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299125651b564",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "b93666ef.df7098",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "OTP驗證",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 231,
        "y": 825.5,
        "wires": [
            [
                "67fa01d4.9e788"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f042999e2e51b565",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "current",
                "v": "otp"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "87adc007.0dec8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "網路銀行登入",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 230,
        "y": 1062.5,
        "wires": [
            [
                "f9e76b28.99dd48"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f042993e2951b566",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "current",
                "v": "bank"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "a54be6a.93bb118",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "fallback",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1026,
        "y": 497.5,
        "wires": [
            []
        ],
        "func": "// update msg.systalk:\n\n    // msg.systalk.??? = ???;\n\n    // update msg.systalk._responses (a list):\n    // members of msg.systalk._responses will be\n    // randomly selected and concatenated to\n    // msg.payload by the Routher.\n    // msg.systalk._responses = [???];\n\n    // if you need extra debug function,\n    // node.log() outputs to the debug panel.\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299813551b567",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "67fa01d4.9e788",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 432,
        "y": 825.5,
        "wires": [
            [
                "ca20a0a8.b0ea2"
            ],
            [
                "bf677519.81e718"
            ],
            [
                "fe71d97b.38d6b8"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\nconst numOfOuts = 3;\n\nif (!msg.systalk.needInfo.flags.startOTP) {\n    return MsgUtils.output(msg, 1, numOfOuts);\n} else if (msg.systalk.needInfo.flags.askOtpNumber) {\n    return MsgUtils.output(msg, 3, numOfOuts);\n} else {\n    return MsgUtils.output(msg, 2, numOfOuts);\n}\n",
        "outputs": 3,
        "noerr": 0,
        "_id": "61d6a6f5f04299345051b568",
        "breakpoints": []
    },
    {
        "id": "f9e76b28.99dd48",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 454,
        "y": 1063.5,
        "wires": [
            [
                "83ab2ed1.9f966"
            ]
        ],
        "func": "// if you need extra debug function,\n// node.log() outputs to the debug panel.\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042990dd951b569",
        "breakpoints": []
    },
    {
        "id": "ca20a0a8.b0ea2",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "使用 OTP 驗證 Modal",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 640,
        "y": 774.5,
        "wires": [
            []
        ],
        "func": "const ChatWebResponse = msg.systalk.utils.ChatWebResponse;\nChatWebResponse.addModal('otp');\nmsg.messages = ChatWebResponse.getMsgObj;\nmsg.systalk.needInfo.flags.startOTP = true;\nmsg.systalk.needInfo.nextRound = 'otp';\nmsg.activeModal = 'otp';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042993ac751b56a",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "bf677519.81e718",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "組 request body",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 629,
        "y": 826.5,
        "wires": [
            [
                "ebfacf8.e1c7e3",
                "c8f3e4d4.40c918"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\nmsg.systalk.needInfo.personalId = msg.reqMsg.message.param.data.personalId;\nmsg.systalk.needInfo.birthday = node.moment(msg.reqMsg.message.param.data.birthday).tz(\"Asia/Taipei\").format(\"YYYYMMDD\");\nconst birthday = msg.systalk.needInfo.birthday;\nmsg.payload = {\n    source: \"01\",//msg.reqMsg.message.param.flow,\n    custId: msg.reqMsg.message.param.data.personalId,\n    birthday: birthday\n}\nmsg.url = msg.config.apis.gateWay.sendOtp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299707e51b56b",
        "breakpoints": []
    },
    {
        "id": "ebfacf8.e1c7e3",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "http request",
        "name": "發送 OTP API",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 862,
        "y": 826.5,
        "wires": [
            [
                "94ca904a.8f58",
                "a0d05582.981b68"
            ]
        ],
        "_id": "61d6a6f5f04299512551b56c",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "94ca904a.8f58",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "error / success",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1072,
        "y": 826.5,
        "wires": [
            [
                "f3b18c90.84095"
            ]
        ],
        "func": "const ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nconst ChatWebResponse = msg.systalk.utils.ChatWebResponse;\n// respCode 兆豐銀API的回應code dupNo信用卡ID重複碼 seqNo簡訊識別碼(隨機碼) phoneNo手機號碼 custId客戶ID\nconst BotUtils = msg.systalk.utils.BotUtils;\n\nif(msg.payload.code !== 0){ //查詢失敗\n    switch (msg.payload.data.respCode) {\n        case '0006': //未持有正卡\n            ChatWebRequest.addTextCode('AR004');\n            break;\n        case '0007': //資料不存在\n            ChatWebRequest.addTextCode('AR005');\n            break;\n        case '0008': //手機號碼有誤\n            ChatWebRequest.addTextCode('AR006');\n            break;\n        case '0009': //簡訊發送已超次\n            ChatWebRequest.addTextCode('AR007');\n            break;\n        case '0099':\n        case '9000':\n        case '9100':\n            ChatWebRequest.addTextCode('CM007');\n            msg.toAgent = true;\n            break;\n    }\n    msg.reqBody = ChatWebRequest.getMsgObj;\n    msg.url = msg.config.apis.gateWay.scene;\n    msg._gateWay = true;\n    msg.quit = true;\n    msg.textComparsion = BotUtils.createYesNo();\n} else if (msg.payload.data.respCode === \"0000\") {\n    msg.systalk.needInfo.otp = msg.payload.data;\n    msg.messages = ChatWebResponse.getMsgObj;\n    \n    msg.messages.data.content.push({\n        type: 8,\n        widget: 'otp',\n        showOtpBlock: true,\n        phoneNumber: msg.payload.data.phoneNo\n    });\n    msg.systalk.needInfo.flags.askOtpNumber = true;\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042997c0651b56d",
        "breakpoints": []
    },
    {
        "id": "44ed59bd.eb62d8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "enter",
        "name": "gateWay",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 223,
        "y": 1209.5,
        "wires": [
            [
                "a4fa8eea.1563a"
            ]
        ],
        "outputs": 1,
        "_id": "61d6a6f5f042998cff51b56e",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_gateWay"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "a4fa8eea.1563a",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "組 Request Parameters",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 488,
        "y": 1208.5,
        "wires": [
            [
                "d69778e.f5eb688",
                "e1f4ef78.50601"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\nmsg.payload = msg.reqBody;\nmsg.payload.chatwebId = msg.reqMsg.message.chatwebId;\n// if (!msg.url) {\n//     msg.error = 'Missing Request URL';\n//     return [null, msg];\n// }\nnode.log('req '+JSON.stringify(msg.reqBody))\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042997ff051b56f",
        "breakpoints": []
    },
    {
        "id": "d69778e.f5eb688",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "http request",
        "name": "gateWay",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 743,
        "y": 1207.5,
        "wires": [
            [
                "bc9815a6.d59188"
            ]
        ],
        "_id": "61d6a6f5f0429977d351b570",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "bc9815a6.d59188",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "處理資料",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 942,
        "y": 1207.5,
        "wires": [
            [
                "223b3928.71cc76",
                "ace14fd.3ece4b"
            ],
            [
                "61d165ff.823adc",
                "951e0ffa.e5f7"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\nconst numOfOuts = 2;\n\n// 刪除條件\nmsg._gateWay = undefined;\n\n// 刪除 http 資料\nmsg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\n// Gateway 發生錯誤\nif (msg.payload.code !== 0) {\n    return MsgUtils.output(msg, 2, numOfOuts);\n}\n\n// 回覆訊息\nmsg.messages = msg.payload;\nif (msg.preMessages) {\n    msg.messages.data.content.concat(msg.preMessages.data.content)\n}\n\nreturn MsgUtils.output(msg, 1, numOfOuts);\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6a6f5f04299791551b571",
        "breakpoints": []
    },
    {
        "id": "223b3928.71cc76",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "回覆訊息",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1156,
        "y": 1172.5,
        "wires": [
            []
        ],
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299ba2d51b572",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "61d165ff.823adc",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "Gateway 發生錯誤",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1177,
        "y": 1239.5,
        "wires": [
            []
        ],
        "func": "const BotUtils = msg.systalk.utils.BotUtils;\nconst ChatWebResponse = msg.systalk.utils.ChatWebResponse;\n// 結束對話\nmsg._end_dialogue = true;\n\nChatWebResponse.addText(\"現在長庚阿波調整中，造成不便請見諒\")\n\nmsg.messages = ChatWebResponse.getMsgObj;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299439451b573",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "fe71d97b.38d6b8",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 613,
        "y": 895.5,
        "wires": [
            [
                "cf3070a1.51d72"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\n\nconst otpInfo = msg.systalk.needInfo.otp;\nmsg.payload = {\n    source: '01',\n    custId: otpInfo.custId,\n    birthday: msg.systalk.needInfo.birthday,\n    seqNo: otpInfo.seqNo,\n    otpCode: msg.reqMsg.message.param.data.otpCode\n}\nmsg.url = msg.config.apis.gateWay.checkOtp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f0429969b851b574",
        "breakpoints": []
    },
    {
        "id": "cf3070a1.51d72",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "http request",
        "name": "驗證使用者輸入的 OTP 碼",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 851,
        "y": 895.5,
        "wires": [
            [
                "7d810a9a.03f694",
                "a0df9a53.d4ea38"
            ]
        ],
        "_id": "61d6a6f5f042991cfa51b575",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "7d810a9a.03f694",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "function",
        "name": "error / success",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1076,
        "y": 895.5,
        "wires": [
            [
                "6789246e.c82aec"
            ],
            [
                "1b559671.27112a"
            ]
        ],
        "func": "const ChatWebRequest = msg.systalk.utils.ChatWebRequest;\n\nif(msg.payload.code !== 0){//查詢失敗\n    ChatWebRequest.addTextCode('');\n    msg.reqBody = ChatWebRequest.getMsgObj;\n    msg._gateWay = true;\n    return [msg, null];\n} else if (msg.payload.code === 0) {\n    msg.loginByOtp = true;\n    msg.quit = true;\n    msg.userData = msg.payload.data;\n    msg.userData.custId = msg.systalk.needInfo.personalId;\n    msg.userData.birthday = msg.systalk.needInfo.birthday;\n    return [null, msg]\n} else {\n    let errorMessage = '';\n    // 若 gateway 第一句有回答錯誤訊息\n    if (msg.messages.data.content.length && msg.messages.data.content[0].type === 1) {\n        // 取出錯誤訊息\n        errorMessage = msg.messages.data.content[0].text;\n        // 因已取出訊息故將其刪除\n        msg.messages.data.content.shift();\n    }\n    \n    msg.messages.data.content.push({\n        type: 8,\n        widget: 'otp',\n        error: errorMessage // 將錯誤訊息放入 error\n    });\n    return [msg, null]\n}\n\n\n// switch (msg.payload.data.processCode) {\n//     case '0006': //未持有正卡\n//         ChatWebRequest.addTextCode('AR004')\n//         break;\n//     case '0007': //資料不存在\n//         ChatWebRequest.addTextCode('AR005')\n//         break;\n//     case '0008': //手機號碼有誤\n//         ChatWebRequest.addTextCode('AR006')\n//         break;\n//     case '0099': //發送失敗\n//     case '9000':\n//     case '9100':\n//         ChatWebRequest.addTextCode('CM007')\n//         break;\n//     case '1':\n//         msg.showOtpBlock = true;\n//         break;\n// }\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "61d6a6f5f042993bbd51b576",
        "breakpoints": []
    },
    {
        "id": "437a65e4.5312cc",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "INPUT",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 441,
        "y": 68.5,
        "wires": [],
        "_id": "61d6a6f5f04299495251b577",
        "breakpoints": []
    },
    {
        "id": "2375c43b.f9f28c",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "reqMsg",
        "x": 410,
        "y": 543.5,
        "wires": [],
        "_id": "61d6a6f5f04299176d51b578",
        "breakpoints": []
    },
    {
        "id": "63eb2e08.65947",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1060,
        "y": 623.5,
        "wires": [],
        "_id": "61d6a6f5f042997ae551b579",
        "breakpoints": []
    },
    {
        "id": "2273e86.71c2918",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "temp",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 842,
        "y": 413.5,
        "wires": [
            []
        ],
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299a9ac51b57a",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "a0d05582.981b68",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1074,
        "y": 779.5,
        "wires": [],
        "_id": "61d6a6f5f04299144c51b57b",
        "breakpoints": []
    },
    {
        "id": "c8f3e4d4.40c918",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "reqBody",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 847,
        "y": 778.5,
        "wires": [],
        "_id": "61d6a6f5f0429914b051b57c",
        "breakpoints": []
    },
    {
        "id": "951e0ffa.e5f7",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1133.500015258789,
        "y": 1287.5000190734863,
        "wires": [],
        "_id": "61d6a6f5f042990ac151b57d",
        "breakpoints": []
    },
    {
        "id": "e1f4ef78.50601",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 733,
        "y": 1148.5,
        "wires": [],
        "_id": "61d6a6f5f04299989751b57e",
        "breakpoints": []
    },
    {
        "id": "ace14fd.3ece4b",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1151,
        "y": 1130.5,
        "wires": [],
        "_id": "61d6a6f5f042995f5c51b57f",
        "breakpoints": []
    },
    {
        "id": "83ab2ed1.9f966",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 663,
        "y": 1063.5,
        "wires": [
            []
        ],
        "func": "const ChatWebResponse = msg.systalk.utils.ChatWebResponse;\nChatWebResponse.addModal('bankVerification');\nmsg.messages = ChatWebResponse.getMsgObj;\nmsg.systalk.needInfo.flags.startBankVerification = true;\nmsg.systalk.needInfo.nextRound = 'bank';\nmsg.activeModal = 'bankVerification';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042999afb51b580",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "a0df9a53.d4ea38",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1066,
        "y": 951.5,
        "wires": [],
        "_id": "61d6a6f5f04299316351b581",
        "breakpoints": []
    },
    {
        "id": "1b559671.27112a",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "成功",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1293,
        "y": 920.5,
        "wires": [
            []
        ],
        "func": "const BotUtils = msg.systalk.utils.BotUtils;\nconst date = node.moment(msg.systalk.needInfo.birthday).tz(\"Asia/Taipei\");\nconst birthdayMonth = date.get('month');\nconst now = node.moment(new Date()).tz(\"Asia/Taipei\");\nconst currentMonth = now.get('month');\n\nconst ChatWebRequest = msg.systalk.utils.ChatWebRequest;\nconst greeting = BotUtils.getCurrentTimePeriod();\nif ((birthdayMonth == currentMonth) && msg.systalk.customLines) {\n    ChatWebRequest.addTextCode({\n        textCode: 'AR013',\n        dictionary: {\n            name: msg.userData.chiName,\n            customLines: msg.systalk.customLines\n        }\n    });\n    ChatWebRequest.addScene('VF005');\n} else if (msg.systalk.customLines) {\n    ChatWebRequest.addTextCode({\n        textCode: 'AR013',\n        dictionary: {\n            name: msg.userData.chiName,\n            customLines: msg.systalk.customLines\n        }\n    });\n} else if (birthdayMonth == currentMonth) {\n    node.log(123)\n    ChatWebRequest.addTextCode({\n        textCode: 'AR011',\n        dictionary: {\n            name: msg.userData.chiName,\n            greetings: greeting\n        }\n    });\n    ChatWebRequest.addScene('VF005');\n} else {\n    node.log(456)\n    ChatWebRequest.addTextCode({\n        textCode: 'AR011',\n        dictionary: {\n            name: msg.userData.chiName,\n            greetings: greeting\n        }\n    });\n}\nmsg.reqBody = ChatWebRequest.getMsgObj;\nmsg._gateWay = true;\nmsg.url = msg.config.apis.gateWay.scene;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f0429974ad51b582",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "f3b18c90.84095",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "state",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1290,
        "y": 826.5,
        "wires": [
            []
        ],
        "func": "// update msg.systalk:\n\n    // msg.systalk.??? = ???;\n\n    // update msg.systalk._responses (a list):\n    // members of msg.systalk._responses will be\n    // randomly selected and concatenated to\n    // msg.payload by the Routher.\n    // msg.systalk._responses = [???];\n\n    // if you need extra debug function,\n    // node.log() outputs to the debug panel.\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f04299858651b583",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "a32f5a97.f33918",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "debug",
        "name": "",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 936,
        "y": 340.5,
        "wires": [],
        "_id": "61d6a6f5f04299936b51b584",
        "breakpoints": []
    },
    {
        "id": "6789246e.c82aec",
        "appId": "9bbec029d8181efc045f.079102a17a44",
        "type": "state",
        "name": "失敗",
        "z": "f33b6a8f.c43ab8",
        "in": [],
        "out": [],
        "x": 1292,
        "y": 872.5,
        "wires": [
            []
        ],
        "func": "// update msg.systalk:\n\n    // msg.systalk.??? = ???;\n\n    // update msg.systalk._responses (a list):\n    // members of msg.systalk._responses will be\n    // randomly selected and concatenated to\n    // msg.payload by the Routher.\n    // msg.systalk._responses = [???];\n\n    // if you need extra debug function,\n    // node.log() outputs to the debug panel.\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "61d6a6f5f042997a2051b585",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    }
]