0222/兆豐銀-文字-帳務-查詢-繳款紀錄 SecondBot.json
[
    {
        "id": "f8ff3f10.d01cf",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "tab",
        "label": "Flow 1",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "6213397a5a3e20787224290a",
        "breakpoints": [],
        "state": "running"
    },
    {
        "id": "e8c3aa47.a39d78",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "chat-server",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "wires": [],
        "_id": "6213397a5a3e2064aa24290b",
        "breakpoints": []
    },
    {
        "id": "56674e4b.3db53",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "Setup",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 280,
        "wires": [
            [
                "43f4fdb6.970e44"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e20d52d24290c",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_start_setup"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "cf7e7ee3.e60cd",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Setup Data",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1350,
        "y": 280,
        "wires": [
            [
                "f397b7d4.bfd4f8"
            ]
        ],
        "func": "const BotUtils = msg.systalk.utils.BotUtils;\nconst QueueUtils = msg.systalk.utils.QueueUtils;\nconst ReqMsgCtrl = msg.systalk.utils.ReqMsgCtrl;\nconst LangCtrl = msg.systalk.utils.LangCtrl;\nconst ReqChannels = msg.systalk.utils.ReqChannels;\nconst ConfigCtrl = msg.systalk.utils.ConfigCtrl;\n\n// normalize request message\n// ReqMsgCtrl.normalize(msg.reqMsg);\n\nif (ReqMsgCtrl.isInitSession(msg.reqMsg)) {\n    BotUtils.resetSessionStats();\n}\n\n// messages初始化\nmsg.messages = {};\n\n// 進線 channel\nmsg.systalk.channel = node._.clone(msg.reqMsg.channel || ReqChannels.text);\n\n// 使用者語系\nmsg.systalk.lang = LangCtrl.normalize(msg.reqMsg.lang || msg.systalk.lang || 'zh-tw');\n\n// 傳入 second bot，second bot 判斷與先前若不相同，表示新對話，需重設其已紀錄的資訊\nmsg.systalk.sessionSalt = msg.systalk.sessionSalt; // || BotUtils.generateSalt();\nmsg.systalk.fromBot = msg.config.botType;\n\nmsg.systalk.pendingBotQueue = Array.isArray(msg.systalk.pendingBotQueue) && msg.systalk.pendingBotQueue.length\n    ? msg.systalk.pendingBotQueue\n    : [ msg.config.botType ];\n\n// define calling second bot's type\nmsg.botType = msg.reqMsg.botType || QueueUtils.last(msg.systalk.pendingBotQueue) || null; \nmsg.botIntent = msg.reqMsg.intent || msg.systalk.pendingIntent || null;\nmsg.botEntities = msg.reqMsg.entities || msg.systalk.pendingEntities || null;\n\nmsg.systalk.faqState = msg.systalk.faqState || null;\nmsg.systalk.cannotRecognizedCounter = msg.systalk.cannotRecognizedCounter || 0;\nmsg.systalk.resendCounter = msg.systalk.resendCounter || 0;\n\n// 設定是否需進入核身流程\nmsg.systalk.authenticateUser = msg.systalk.authenticateUser || null;\n\nmsg.systalk.stored = msg.systalk.stored || {\n    // 使用者資料\n    // userData: {\n    //     tel: msg.reqMsg.tel || null,\n    //     idNumber: null,\n    //     birth: null,\n    //     isValidId: null,\n    //     customerId: msg.reqMsg.tel || 'webTest',\n    //     traceTag: msg.reqMsg.param.traceTag\n    // },\n    // 判斷使用者是否通過核身驗證\n    auth: {\n        otp: null,\n        bank: null\n    }\n};\n\n// 暫存的身份資訊\nmsg.systalk.identity = msg.systalk.identity || null;\nif (msg.systalk.waitForAuth && msg.reqMsg.message.identity) {\n    msg.systalk.identity = msg.reqMsg.message.identity;\n    msg.systalk.waitForAuth = null;\n}\n\n// 暫存的定位資訊\nmsg.systalk.location = msg.systalk.location || null;\nif (msg.systalk.waitForLocated && msg.reqMsg.message.location) {\n    msg.systalk.location = msg.reqMsg.message.location;\n    msg.systalk.waitForLocated = null;\n}\n\n// 設定值\nmsg.systalk.defaultConfig = msg.systalk.defaultConfig || {\n    faqApi: ConfigCtrl.getFAQApi(msg.config.names.firstFAQ),\n    //botName: msg.config.defaultConfig.botName\n};\n\nmsg.systalk.config = msg.systalk.config || node._.cloneDeep(msg.systalk.defaultConfig);\nmsg.systalk.config.faqApi = msg.systalk.config.faqApi || msg.systalk.defaultConfig.faqApi;\n//msg.systalk.config.botName = msg.systalk.config.botName || msg.systalk.defaultConfig.botName;\n\n// 用於 report，計數 session 訊息數\nmsg.systalk.sessionMsgCounter = msg.systalk.sessionMsgCounter ?\n(msg.systalk.sessionMsgCounter + 1) : 1;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20bdb524290d",
        "breakpoints": []
    },
    {
        "id": "43f4fdb6.970e44",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Shared Utils",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "d7f5a273.0af83"
            ]
        ],
        "func": "/**\n * This file define utils for Demo Kit and template.\n * Could be copied into a function node or import as function library (current not working).\n * \n * Define in `msg.systalk.utils`\n * 定義在 `function node`，會使用到 `Lodash`（定義在 `node._`）\n */\n\n/**\n * Request message types\n * 總機與各 bot 的 Request 訊息類別\n */\nclass ReqMsgTypes {\n    constructor() {\n        this._text = 1;\n        this._textType = 'text';\n        this._speech = 2;\n        this._speechType = 'speech';\n        this._fromOnlineService = 3;\n        this._fromOnlineServiceType = 'from_online_service';\n        this._fromAuthorization = 4;\n        this._fromAuthorizationType = 'from_authorization';\n        this._fromLocation = 5;\n        this._fromLocationType = 'from_location';\n        this._signal = 6;\n        this._signalType = 'signal';\n        this._config = 7;\n        this._configType = 'config';\n        this._grade = 8;\n        this._gradeType = 'grade';\n        this._initSession = 9;\n        this._initSessionType = 'init_session';\n    }\n    get text() { return this._text; }\n    get textType() { return this._textType }\n    get speech() { return this._speech; }\n    get speechType() { return this._speechType; }\n    get fromOnlineService() { return this._fromOnlineService; }\n    get fromOnlineServiceType() { return this._fromOnlineServiceType; }\n    get fromAuthorization() { return this._fromAuthorization; }\n    get fromAuthorizationType() { return this._fromAuthorizationType; }\n    get fromLocation() { return this._fromLocation; }\n    get fromLocationType() { return this._fromLocationType; }\n    get signal() { return this._signal; }\n    get signalType() { return this._signalType; }\n    get config() { return this._config; }\n    get configType() { return this._configType; }\n    get grade() { return this._grade; }\n    get gradeType() { return this._gradeType; }\n    get initSession() { return this._initSession; }\n    get initSessionType() { return this._initSessionType; }\n\n    isText(val) {\n        return val === this.text || val === this.textType;\n    }\n    isSpeech(val) {\n        return val === this.speech || val === this.speechType;\n    }\n    isFromOnlineService(val) {\n        return val === this.fromOnlineService || val === this.fromOnlineServiceType;\n    }\n    isFromAuthorization(val) {\n        return val === this.fromAuthorization || val === this.fromAuthorizationType;\n    }\n    isFromLocation(val) {\n        return val === this.fromLocation || val === this.fromLocationType;\n    }\n    isSignal(val) {\n        return val === this.signal || val === this.signalType;\n    }\n    isConfig(val) {\n        return val === this.config || val === this.configType;\n    }\n    isGrade(val) {\n        return val === this.grade || val === this.gradeType;\n    }\n    isInitSession(val) {\n        return val === this.initSession || val === this.initSessionType;\n    }\n}\n\nconst reqMsgTypes = new ReqMsgTypes();\n\n/**\n* Reply message types\n*/\nclass ReplyMsgTypes {\n    constructor() {\n        this._text = 1;\n        this._textType = 'text';\n        this._speech = 2;\n        this._speechType = 'speech';\n        this._image = 3;\n        this._imageType = 'image';\n        this._sticker = 4;\n        this._stickerType = 'sticker';\n        this._link = 5;\n        this._linkType = 'link';\n        this._dataList = 6;\n        this._dataListType = 'data_list';\n        this._yesOrNo = 7;\n        this._yesOrNoType = 'yes_or_no';\n        this._toCustomerService = 8;\n        this._toCustomerServiceType = 'to_customer_service';\n        this._toOnlineService = 9;\n        this._toOnlineServiceType = 'to_online_service';\n        this._toAuthorization = 10;\n        this._toAuthorizationType = 'to_authorization';\n        this._toLocation = 11;\n        this._toLocationType = 'to_location';\n        this._redirectBot = 12;\n        this._redirectBotType = 'redirect_bot';\n        this._options = 13;\n        this._optionsType = 'options';\n        this._status = 14;\n        this._statusType = 'status';\n        this._action = 15;\n        this._actionType = 'action';\n        this._generalInfo = 16;\n        this._generalInfoType = 'info_general';\n    }\n\n    get text() { return this._text; }\n    get textType() { return this._textType; }\n    get speech() { return this._speech; }\n    get speechType() { return this._speechType; }\n    get image() { return this._image; }\n    get imageType() { return this._imageType; }\n    get sticker() { return this._sticker; }\n    get stickerType() { return this._stickerType; }\n    get link() { return this._link; }\n    get linkType() { return this._linkType; }\n    get dataList() { return this._dataList; }\n    get dataListType() { return this._dataListType; }\n    get yesOrNo() { return this._yesOrNo; }\n    get yesOrNoType() { return this._yesOrNoType; }\n    get toCustomerService() { return this._toCustomerService; }\n    get toCustomerServiceType() { return this._toCustomerServiceType; }\n    get toOnlineService() { return this._toOnlineService; }\n    get toOnlineServiceType() { return this._toOnlineServiceType; }\n    get toAuthorization() { return this._toAuthorization; }\n    get toAuthorizationType() { return this._toAuthorizationType; }\n    get toLocation() { return this._toLocation; }\n    get toLocationType() { return this._toLocationType; }\n    get redirectBot() { return this._redirectBot; }\n    get redirectBotType() { return this._redirectBotType; }\n    get options() { return this._options; }\n    get optionsType() { return this._optionsType; }\n    get status() { return this._status; }\n    get statusType() { return this._statusType; }\n    get action() { return this._action; }\n    get actionType() { return this._actionType; }\n    get generalInfo() { return this._generalInfo; }\n    get generalInfoType() { return this._generalInfoType; }\n\n    /**\n     * Check type value is 'text' type or not\n     */\n    isText(val) {\n        return val === this.text || val === this.textType;\n    }\n    isSpeech(val) {\n        return val === this.speech || val === this.speechType;\n    }\n    isImage(val) {\n        return val === this.image || val === this.imageType;\n    }\n    isSticker(val) {\n        return val === this.sticker || val === this.stickerType;\n    }\n    isLink(val) {\n        return val === this.link || val === this.linkType;\n    }\n    isDataList(val) {\n        return val === this.dataList || val === this.dataListType;\n    }\n    isYesOrNo(val) {\n        return val === this.yesOrNo || val === this.yesOrNoType;\n    }\n    isToCustomerService(val) {\n        return val === this.toCustomerService || val === this.toCustomerServiceType;\n    }\n    isToOnlineService(val) {\n        return val === this.toOnlineService || val === this.toOnlineServiceType;\n    }\n    isToAuthorization(val) {\n        return val === this.toAuthorization || val === this.toAuthorizationType;\n    }\n    isToLocation(val) {\n        return val === this.toLocation || val === this.toLocationType;\n    }\n    isRedirectBot(val) {\n        return val === this.redirectBot || val === this.redirectBotType;\n    }\n    isOptions(val) {\n        return val === this.options || val === this.optionsType;\n    }\n    isStatus(val) {\n        return val === this.status || val === this.statusType;\n    }\n    isAction(val) {\n        return val === this.action || val === this.actionType;\n    }\n    isGeneralInfo(val) {\n        return val === this.generalInfo || val === this.generalInfoType;\n    }\n}\n\nconst replyMsgTypes = new ReplyMsgTypes();\n\n/**\n* Signals\n*/\nclass ReqSignals {\n    constructor() {\n        this._start = 1;\n        this._startSignal = 'start';\n        this._continue = 2;\n        this._continueSignal = 'continue';\n        this._end = 3;\n        this._endSignal = 'end';\n        this._idle = 4;\n        this._idleSignal = 'idle';\n        this._quit = 5;\n        this._quitSignal = 'quit';\n        this._passedFromCustomerService = 6;\n        this._passedFromCustomerServiceSignal = 'passed_from_customer_service';\n    }\n\n    get start() { return this._start; }\n    get startSignal() { return this._startSignal; }\n    get continue() { return this._continue; }\n    get continueSignal() { return this._continueSignal; }\n    get end() { return this._end; }\n    get endSignal() { return this._endSignal; }\n    get idle() { return this._idle; }\n    get idleSignal() { return this._idleSignal; }\n    get quit() { return this._quit; }\n    get quitSignal() { return this._quitSignal; }\n    get passedFromCustomerService() { return this._passedFromCustomerService; }\n    get passedFromCustomerServiceSignal() { return this._passedFromCustomerServiceSignal; }\n\n\n    isStart(val) {\n        return val === this.start || (typeof val === 'string' && val.toLowerCase() === this.startSignal);\n    }\n    isEnd(val) {\n        return val === this.end || (typeof val === 'string' && val.toLowerCase() === this.endSignal);\n    }\n    isContinue(val) {\n        return val === this.continue || (typeof val === 'string' && val.toLowerCase() === this.continueSignal);\n    }\n    isIdle(val) {\n        return val === this.idle || (typeof val === 'string' && val.toLowerCase() === this.idleSignal);\n    }\n    isQuit(val) {\n        return val === this.quit || (typeof val === 'string' && val.toLowerCase() === this.quitSignal);\n    }\n    isPassedFromCustomerService(val) {\n        return val === this.passedFromCustomerService || (typeof val === 'string' && val.toLowerCase() === this.passedFromCustomerServiceSignal);\n    }\n}\n\nconst reqSignals = new ReqSignals();\n\n/**\n * Controller for request channels\n */\nclass ReqChannels {\n    constructor() {\n    }\n\n    /**\n     * Channel object with default name `text`\n     *\n     * @readonly\n     * @memberof ReqChannels\n     */\n    get text() {\n        return new Channel('文字', { isText: true, isSpeech: false });\n    }\n\n    /**\n     * Channel object of default name `speech`\n     *\n     * @readonly\n     * @memberof ReqChannels\n     */\n    get speech() {\n        return new Channel('語音', { isText: false, isSpeech: true });\n    }\n\n    /**\n     * If the chanel supports message type of `text`\n     * @param {Channel} val Channel object\n     */\n    isText(val) {\n        return !node._.isNil(val) && val.isText;\n    }\n\n    /**\n     * If the channel supports message type of `speech`\n     * @param {Channel} val Channel object\n     */\n    isSpeech(val) {\n        return !node._.isNil(val) && val.isSpeech;\n    }\n}\n\nconst reqChannels = new ReqChannels();\n\n/**\n * Channel object\n * @property {string} name\n * @property {boolean} isText if this channel supports text messages\n * @property {boolean} isSpeech if this channel \n */\nclass Channel {\n    constructor(nameOrChannel, configs) {\n        if (!node._.isNil(nameOrChannel) &&\n            node._.isString(nameOrChannel.name) &&\n            node._.isBoolean(nameOrChannel.isText) && node._.isBoolean(nameOrChannel.isSpeech)) {\n            this.name = nameOrChannel.name;\n            this.isText = nameOrChannel.isText;\n            this.isSpeech = nameOrChannel.isSpeech;\n        }\n        if (node._.isString(nameOrChannel)) {\n            this.name = nameOrChannel;\n        }\n        if (!node._.isNil(configs)) {\n            this.isText = configs.isText || false;\n            this.isSpeech = configs.isSpeech || false;\n        }\n    }\n\n    valueOf() {\n        return this.name;\n    }\n\n    toString() {\n        return this.name;\n    }\n}\n\nclass ReplyActionTypes {\n    constructor() {\n        this._grading = 'grading';\n        this._end = 'end';\n        this._renew = 'renew';\n    }\n\n    get grading() { return this._grading; }\n    get end() { return this._end; }\n    get renew() { return this._renew; }\n\n    isGrading(val) {\n        return val === this.grading;\n    }\n    isEnd(val) {\n        return val === this.end;\n    }\n    isRenew(val) {\n        return val === this._renew;\n    }\n}\n\nconst replyActionTypes = new ReplyActionTypes();\n\n/**\n* Reply message factory\n* recommand to use `create()`\n*/\nclass ReplyMsgFactory {\n    createText(text) {\n        if (node._.isString(text)) {\n            return {\n                type: replyMsgTypes.text,\n                text: text\n            };\n        }\n        return null;\n    }\n    createTextType(text) {\n        if (node._.isString(text)) {\n            return {\n                type: replyMsgTypes.textType,\n                text: text\n            };\n        }\n        return null;\n    }\n    createSpeech(speech) {\n        if (node._.isString(speech)) {\n            return {\n                type: replyMsgTypes.speech,\n                speech: speech\n            };\n        }\n        return null;\n    }\n    createSpeechType(speech) {\n        if (node._.isString(speech)) {\n            return {\n                type: replyMsgTypes.speechType,\n                speech: speech\n            };\n        }\n        return null;\n    }\n    createImage(title, alt, imgUrl) {\n        return {\n            type: replyMsgTypes.image,\n            title: title,\n            alt: alt,\n            imgUrl: imgUrl\n        };\n    }\n    /**\n     * 建立圖片類型訊息\n     * @param {*} params { title, alt, imgUrl }\n     */\n    createImageType(params) {\n        let msg = {\n            type: replyMsgTypes.imageType\n        };\n        if (params) {\n            if (params.title) {\n                msg.title = params.title;\n            }\n            if (params.alt) {\n                msg.alt = params.alt;\n            }\n            if (params.imgUrl) {\n                msg.imgUrl = params.imgUrl;\n            }\n        }\n        return msg;\n    }\n    createSticker(alt, stickerUrl) {\n        return {\n            type: replyMsgTypes.sticker,\n            alt: alt,\n            imgUrl: stickerUrl\n        };\n    }\n    /**\n     * 建立貼圖類型訊息\n     * @param {*} params { alt, imgUrl }\n     */\n    createStickerType(params) {\n        let msg = {\n            type: replyMsgTypes.stickerType\n        };\n        if (params) {\n            if (params.alt) {\n                msg.alt = params.alt;\n            }\n            if (params.imgUrl) {\n                msg.imgUrl = params.imgUrl;\n            }\n        }\n        return msg;\n    }\n    createLink(title, url, data) {\n        let reply = {\n            type: replyMsgTypes.link,\n            text: title, // TODO: deprecated\n            title: title,\n            url: url\n        };\n        reply = Object.assign(reply, data);\n        return reply;\n    }\n    /**\n     * 建立連結類型訊息\n     * @param {*} params { title, url }\n     */\n    createLinkType(params) {\n        let reply = {\n            type: replyMsgTypes.linkType\n        };\n        if (params) {\n            if (params.title) {\n                reply.title = params.title;\n            }\n            if (params.url) {\n                reply.url = params.url;\n            }\n        }\n        return reply;\n    }\n    createDataList(data, title) {\n        return {\n            type: replyMsgTypes.dataList,\n            title: title,\n            data: Array.isArray(data) ? data : [data]\n        };\n    }\n    /**\n     * 建立 data list 類型訊息\n     * @param {*} params { data, title, botType, intent }\n     */\n    createDataListType(params) {\n        let reply = {\n            type: replyMsgTypes.dataListType\n        };\n        if (params) {\n            if (Array.isArray(params.data) && params.data.length) {\n                reply.data = node._.cloneDeep(params.data);\n            }\n            if (params.title) {\n                reply.title = params.title;\n            }\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n        }\n        return reply;\n    }\n    createYesOrNo(yesText, noText) {\n        return {\n            type: replyMsgTypes.yesOrNo,\n            yes: yesText,\n            no: noText\n        };\n    }\n    /**\n     * 建立 yes/no 選項訊息\n     * @param {*} params { yes, no }\n     */\n    createYesOrNoType(params) {\n        let reply = {\n            type: replyMsgTypes.yesOrNoType\n        };\n        if (params) {\n            if (params.yes) {\n                reply.yes = params.yes;\n            }\n            if (params.no) {\n                reply.no = params.no;\n            }\n        }\n        return reply;\n    }\n    createToCustomerService(options) {\n        let reply = {\n            type: replyMsgTypes.toCustomerService\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToCustomerServiceType(options) {\n        let reply = {\n            type: replyMsgTypes.toCustomerServiceType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToOnlineService(options) {\n        let reply = {\n            type: replyMsgTypes.toOnlineService\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToOnlineServiceType(options) {\n        let reply = {\n            type: replyMsgTypes.toOnlineServiceType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToAuthorization(options) {\n        let reply = {\n            type: replyMsgTypes.toAuthorization,\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToAuthorizationType(options) {\n        let reply = {\n            type: replyMsgTypes.toAuthorizationType\n        };\n        if (node._.isObject(options)) {\n            for (let prop in options) {\n                reply[prop] = options[prop];\n            }\n        }\n        return reply;\n    }\n    createToLocation(botType, entities, location) {\n        return {\n            type: replyMsgTypes.toLocation,\n            botType: botType,\n            location: location,\n            entities: entities\n        };\n    }\n    /**\n     * 建立需取得定位訊息\n     * @param {*} params { botType, intent }\n     */\n    createToLocationType(params) {\n        let reply = {\n            type: replyMsgTypes.toLocationType\n        };\n        if (params) {\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n        }\n        return reply;\n    }\n    createRedirectBot(opts) {\n        return {\n            type: replyMsgTypes.redirectBot,\n            botType: opts && opts.botType,\n            intent: opts && opts.intent,\n            entities: opts && opts.entities,\n            data: opts && opts.data\n        };\n    }\n    /**\n     * 建立要求總機重新導向 second bot 類型訊息\n     * @param {*} params { botType, intent, entities, data }\n     */\n    createRedirectBotType(params) {\n        let reply = {\n            type: replyMsgTypes.redirectBotType\n        };\n        if (params) {\n            if (params.botType) {\n                reply.botType = params.botType;\n            }\n            if (params.intent) {\n                reply.intent = params.intent;\n            }\n            if (params.entities) {\n                reply.entities = node._.cloneDeep(params.entities);\n            }\n            if (params.data) {\n                reply.data = node._.cloneDeep(params.data);\n            }\n        }\n        return reply;\n    }\n    /**\n     * 建立 options 訊息物件\n     * data 陣列中僅允許包含 text, speech, image, sticker, link\n     * @param opts <Option_Item>[] Including properties : title, payload, url\n     * @param title string Title\n     */\n    createOptions(opts, title) {\n        const ctrl = new ReplyMsgCtrl();\n        let options = Array.isArray(opts) ? [].concat(opts) : [opts];\n        options = options.filter(opt => {\n            return !!opt && (opt.title && (opt.payload || opt.url));\n        });\n\n        let reply = {\n            type: replyMsgTypes.options\n        };\n        if (options) {\n            reply.data = options;\n        }\n        if (title) {\n            reply.title = title;\n        }\n        return reply;\n    }\n    /**\n     * 建立選項類型訊息\n     * @param {*} params { opts, title }\n     */\n    createOptionsType(params) {\n        let reply = {\n            type: replyMsgTypes.optionsType\n        };\n\n        if (params) {\n            let options = Array.isArray(params.opts) ? [].concat(opts) : [opts];\n            options = options.filter(opt => {\n                return !!opt && (opt.title && (opt.payload || opt.url));\n            });\n\n\n            if (options) {\n                reply.data = node._.cloneDeep(options);\n            }\n            if (title) {\n                reply.title = title;\n            }\n        }\n        return reply;\n    }\n    createStatus(code, msg) {\n        return {\n            type: replyMsgTypes.status,\n            status: {\n                code: code,\n                message: msg\n            }\n        };\n    }\n    /**\n     * 建立狀態訊息\n     * @param {*} params { status: { code, message } }\n     */\n    createStatusType(params) {\n        let reply = {\n            type: replyMsgTypes.statusType\n        };\n        if (params) {\n            if (params.status) {\n                reply.status = node._.cloneDeep(params.status);\n            }\n        }\n        return reply;\n    }\n    createAction(actionType) {\n        return {\n            type: replyMsgTypes.action,\n            action: actionType\n        };\n    }\n    /**\n     * 建立動作訊息\n     * @param {*} params { action }\n     */\n    createActionType(params) {\n        let reply = {\n            type: replyMsgTypes.actionType\n        };\n        if (params) {\n            if (params.action) {\n                reply.action = params.action;\n            }\n        }\n        return reply;\n    }\n    create(data) {\n        const reply = {};\n        if (data.type) { reply.type = data.type; }\n        if (data.text) { reply.text = data.text; }\n        if (data.speech) { reply.speech = data.speech; }\n        if (data.title) { reply.title = data.title; }\n        if (data.alt) { reply.alt = data.alt; }\n        if (data.imgUrl) { reply.imgUrl = data.imgUrl; }\n        if (data.url) { reply.url = data.url; }\n        if (data.data) { reply.data = node._.cloneDeep(data.data); }\n        if (data.yes) { reply.yes = data.yes; }\n        if (data.no) { reply.no = data.no; }\n        if (data.userId) { reply.userId = data.userId; }\n        if (data.botType) { reply.botType = data.botType; }\n        if (data.intent) { reply.intent = data.intent; }\n        if (data.entities) { reply.entities = node._.cloneDeep(data.entities); }\n        if (data.location) { reply.location = node._.cloneDeep(data.location); }\n        if (data.action) { reply.action = data.action; }\n        if (data.status) { reply.status = node._.cloneDeep(data.status); }\n        if (data.postbackReq) { reply.postbackReq = node._.cloneDeep(data.postbackReq); }\n        return reply;\n    }\n}\n\nclass ReqMsgCtrl {\n    isText(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isText(msg.message.type) : reqMsgTypes.isText(msg.type);\n    }\n\n    isSpeech(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isSpeech(msg.message.type) : reqMsgTypes.isSpeech(msg.type);\n    }\n\n    isFromOnlineService(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromOnlineService(msg.message.type) : reqMsgTypes.isFromOnlineService(msg.type);\n    }\n\n    isFromAuthorization(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromAuthorization(msg.message.type) : reqMsgTypes.isFromAuthorization(msg.type);\n    }\n\n    isFromLocation(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isFromLocation(msg.message.type) : reqMsgTypes.isFromLocation(msg.type);\n    }\n\n    isSignal(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isSignal(msg.message.type) : reqMsgTypes.isSignal(msg.type);\n    }\n\n    isStartSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isStart(msg.message.signal);\n    }\n\n    isContinueSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isContinue(msg.message.signal);\n    }\n\n    isEndSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isEnd(msg.message.signal);\n    }\n\n    isIdleSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isIdle(msg.message.signal);\n    }\n\n    isQuitSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isQuit(msg.message.signal);\n    }\n\n    isPassedFromCustomerServiceSignal(msg) {\n        return this.isSignal(msg) && !!msg.message.signal && reqSignals.isPassedFromCustomerService(msg.message.signal);\n    }\n\n    isConfig(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isConfig(msg.message.type) : reqMsgTypes.isConfig(msg.type);\n    }\n\n    isGrade(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isGrade(msg.message.type) : reqMsgTypes.isGrade(msg.type);\n    }\n\n    isInitSession(msg) {\n        return !!msg && msg.message ? reqMsgTypes.isInitSession(msg.message.type) : reqMsgTypes.isInitSession(msg.type);\n    }\n\n    /**\n     * Normalize message's channel\n     * By default, channel would be a text channel\n     * @param {any} reqMsg request message object\n     */\n    normalize(reqMsg) {\n        if (!reqMsg || !reqMsg.message) {\n            return;\n        }\n        let channelObj = this._normalizeChannel(reqMsg.channel) || reqChannels.text;\n        if (!node._.isNil(channelObj)) {\n            reqMsg.channel = node._.clone(channelObj);\n        }\n    }\n\n\n    /**\n     * Normalize channel object\n     * @param {any} channel \n     */\n    _normalizeChannel(channel) {\n        let channelObj = null; // set the default channel\n        if (node._.isNumber(channel)) {\n            // If the channel is number, and > 0\n            // it would be deprecated channel type, convert it.\n            if (channel > 0) {\n                channelObj = new Channel(channel.toString(), {\n                    isText: channel & 1 === 1,\n                    isSpeech: channel & 2 === 2\n                });\n            }\n            else {\n                channelObj = new Channel(channel.toString(), {\n                    isText: true,\n                    isSpeech: false\n                });\n            }\n        }\n        else if (node._.isString(channel)) {\n            channelObj = new Channel(channel, {\n                isText: true,\n                isSpeech: false\n            });\n        }\n        else if (!node._.isNil(channel) &&\n            node._.isString(channel.name)) {\n            channelObj = new Channel(channel.name, {\n                isText: node._.isBoolean(channel.isText) ? channel.isText : !!channel.isText,\n                isSpeech: node._.isBoolean(channel.isSpeech) ? channel.isSpeech : !!channel.isSpeech\n            });\n        }\n        return channelObj;\n    }\n}\n\nclass ReplyMsgCtrl {\n    isText(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isText(msg.type);\n    }\n\n    isSpeech(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isSpeech(msg.type);\n    }\n\n    isImage(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isImage(msg.type);\n    }\n\n    isSticker(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isSticker(msg.type);\n    }\n\n    isLink(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isLink(msg.type);\n    }\n\n    isDataList(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isDataList(msg.type);\n    }\n\n    isYesOrNo(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isYesOrNo(msg.type);\n    }\n\n    isToCustomerService(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToCustomerService(msg.type);\n    }\n\n    isToOnlineService(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToOnlineService(msg.type);\n    }\n\n    isToAuthorization(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToAuthorization(msg.type);\n    }\n\n    isToLocation(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isToLocation(msg.type);\n    }\n\n    isRedirectBot(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isRedirectBot(msg.type);\n    }\n\n    isOptions(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isOptions(msg.type);\n    }\n\n    isStatus(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isStatus(msg.type);\n    }\n\n    isAction(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isAction(msg.type);\n    }\n\n    isGeneralInfo(msg) {\n        return !!msg && !!msg.type && replyMsgTypes.isGeneralInfo(msg.type);\n    }\n\n    isValid(msg) {\n        return this.isText(msg) ||\n            this.isSpeech(msg) ||\n            this.isImage(msg) ||\n            this.isSticker(msg) ||\n            this.isLink(msg) ||\n            this.isDataList(msg) ||\n            this.isYesOrNo(msg) ||\n            this.isToCustomerService(msg) ||\n            this.isToOnlineService(msg) ||\n            this.isToAuthorization(msg) ||\n            this.isToLocation(msg) ||\n            this.isRedirectBot(msg) ||\n            this.isOptions(msg) ||\n            this.isStatus(msg) ||\n            this.isAction(msg) ||\n            this.isGeneralInfo(msg);\n    }\n}\n\n/**\n * 物件相關 utils\n */\nclass ObjUtils {\n\n    removeSpecialCharFromKeys(obj) {\n        for (let prop in obj) {\n            let testReg = /\\./g;\n            if (testReg.test(prop)) {\n                const newProp = prop.replace(testReg, '');\n                let propVal = obj[prop];\n                delete obj[prop];\n                obj[newProp] = propVal;\n            }\n        }\n        return obj;\n    }\n}\n\n/**\n * 訊息相關 utils\n */\nclass MsgUtils {\n    /**\n     * Create output array (index of total)\n     * @params msg msg obj\n     * @params index 1-based\n     * @params total num of outputs\n     */\n    output(msg, index, total) {\n        total = !isNaN(total) && total >= 1 ? total : 1;\n        index = !isNaN(index) && index >= 1 && index <= total ? index : 1;\n        let outputs = new Array(total);\n        outputs.fill(null);\n        outputs[index - 1] = msg;\n        return outputs;\n    }\n}\n\n/**\n * 結束動作選項\n */\nclass QuitOptions {\n    constructor() {\n        this._none = 0;\n        this._quitNone = 'quit_none';\n        this._current = 1;\n        this._quitCurrent = 'quit_current';\n        this._all = 2;\n        this._quitAll = 'quit_all';\n    }\n\n    get none() { return this._none; }\n    get quitNone() { return this._quitNone; }\n    get current() { return this._current; }\n    get quitCurrent() { return this._quitCurrent; }\n    get all() { return this._all; }\n    get quitAll() { return this._quitAll; }\n}\n\nconst quitOptions = new QuitOptions();\n\n\nclass LocalesUtils {\n\n    /**\n     * 取得 locales 對應語句或物件\n     * 若指定 channel 不存在 key 值，判斷 text 或 speech 是否有定義\n     * \n     * @param {Channel} channel Channel object\n     * @param {string | Array} key 以 dot ('.')分隔的字串，表示 property path\n     * @param {Object} replaceParams\n     */\n    get(locales, channel, key, replaceParams) {\n        if (!node._.isNil(locales)) {\n            let result = node._.get(locales[channel], key);\n            // 預設 Channel 與對應的語料\n            if (!result) {\n                if (reqChannels.isText(channel)) {\n                    result = node._.get(locales[reqChannels.text], key);\n                }\n                else if (reqChannels.isSpeech(channel)) {\n                    result = node._.get(locales[reqChannels.speech], key);\n                }\n            }\n            if (!!result && typeof result === 'string') {\n                result = this.replaceTextByParams(result, replaceParams);\n            }\n            return result;\n        }\n    }\n\n    /**\n     * 取代文字中指定參數，文字中須以 {{param}} 表示\n     * @param {*} text \n     * @param {*} params 取代參數值，會包含對應的參數，如 { param: \"new value\" }\n     */\n    replaceTextByParams(text, params) {\n        if (params) {\n            Object.keys(params).forEach(key => {\n                if (typeof params[key] === 'string') {\n                    const regex = new RegExp('{{\\\\s*' + key + '\\\\s*}}', 'gm');\n                    text = text.replace(regex, params[key]);\n                }\n            });\n        }\n        return text;\n    }\n}\n\n/**\n * 提供 First-In-First-Out 操作於指定的 array\n */\nclass QueueUtils {\n    /**\n     * 新增至 Queue 最後\n     */\n    push(queue, data) {\n        if (Array.isArray(queue) && !!data) {\n            if (!node._.isEqual(this.last(queue), data))\n                queue.push(data);\n        }\n    }\n    /**\n     * 從 Queue 最後取出\n     */\n    pop(queue) {\n        if (Array.isArray(queue)) {\n            let item = queue.pop();\n            return typeof item === 'object' ?\n                node._.cloneDeep(item) : item;\n        }\n        return null;\n    }\n    /**\n     * 從 Queue 第一個取出\n     */\n    shift(queue) {\n        if (Array.isArray(queue)) {\n            let item = queue.shift();\n            return typeof item === 'object' ?\n                node._.cloneDeep(item) : item;\n        }\n        return null;\n    }\n    /**\n     * 清除 Queue\n     */\n    clear(queue) {\n        if (Array.isArray(queue)) {\n            queue.splice(0, queue.length);\n        }\n    }\n    /**\n     * 刪除 Queue 中指定項目\n     */\n    remove(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            queue.splice(index, 1);\n        }\n    }\n    /**\n     * 取得 Queue 的第一個項目\n     */\n    first(queue) {\n        if (Array.isArray(queue) && queue.length > 0) {\n            return typeof queue[0] === 'object' ?\n                Object.assign({}, queue[0]) : queue[0];\n        }\n        return null;\n    }\n    /**\n     * 取得 Queue 的最新的項目\n     */\n    last(queue) {\n        if (Array.isArray(queue) && queue.length > 0) {\n            return typeof queue[queue.length - 1] === 'object' ?\n                Object.assign({}, queue[queue.length - 1]) : queue[queue.length - 1];\n        }\n        return null;\n    }\n\n    /**\n     * 取得指定順位的項目\n     * @param {*} queue array of items as queue\n     * @param {*} index 0-based index\n     */\n    get(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            return typeof queue[index] === 'object' ?\n                Object.assign({}, queue[index]) : queue[index];\n        }\n    }\n    /**\n     * 從最後一個倒數，取得指定順位的項目\n     * @param {*} queue array of items as queue\n     * @param {*} index 0-based index\n     */\n    getFromLast(queue, index) {\n        if (Array.isArray(queue) &&\n            typeof index === 'number' && index >= 0 &&\n            queue.length && index < queue.length) {\n            return typeof queue[queue.length - index - 1] === 'object' ?\n                Object.assign({}, queue[queue.length - index - 1]) : queue[queue.length - index - 1];\n        }\n    }\n}\n\n/**\n * 字串相關工具\n */\nclass StringUtils {\n    /**\n     * 計算字串最短距離\n     * @param {*} str1 \n     * @param {*} str2 \n     */\n    levenshteinDistance(str1, str2) {\n        str1 = str1 || '';\n        str2 = str2 || '';\n        let vectorPrevious = [];\n        let vectorCurrent = [];\n\n        for (let i = 0; i <= str2.length; ++i) {\n            vectorPrevious[i] = i;\n        }\n        for (let i = 0; i < str1.length; ++i) {\n            vectorCurrent[0] = i + 1;\n\n            for (let j = 0; j < str2.length; ++j) {\n                let deletionCost = vectorPrevious[j + 1] + 1;\n                let insertionCost = vectorCurrent[j] + 1;\n                let substitutionCost = 0;\n\n                if (str1[i] === str2[j]) {\n                    substitutionCost = vectorPrevious[j];\n                } else {\n                    substitutionCost = vectorPrevious[j] + 1;\n                }\n                vectorCurrent[j + 1] = node._.min([\n                    deletionCost,\n                    insertionCost,\n                    substitutionCost\n                ]);\n            }\n\n            vectorPrevious = [].concat(vectorCurrent);\n            vectorCurrent = [];\n        }\n        return vectorPrevious[str2.length];\n    }\n\n    /**\n     * 計算字串最短距離，並轉成相似度(0.0 ~ 1.0)\n     * @param {*} str1 \n     * @param {*} str2 \n     */\n    stringSimilarity(str1, str2) {\n        let distance = this.levenshteinDistance(str1, str2);\n        let maxLen = node._.max([str1.length, str2.length]);\n        return parseFloat((maxLen - distance) / maxLen);\n    }\n}\n\nconst stringUtils = new StringUtils();\n\n/**\n * Setup and update `msg.report_stats` and `msg.systalk.report_stats_session`\n */\nclass ReportUtils {\n\n    /**\n     * Get channel's description, then set to `msg.report_stats_session.channel`\n     * @param {Object} reportStatsSession report stats per session\n     * @param {Channel} channel Channel object\n     */\n    setSessionChannel(reportStatsSession, channel) {\n        if (!node._.isNil(reportStatsSession) && !node._.isNil(channel)) {\n            let stats = reportStatsSession;\n            stats.channel = channel.toString();\n        }\n    }\n\n    /**\n     * \n     * @param {Object} reportStatsSession report stats per session\n     * @param {number} hasInputed `true` if user has inputed\n     */\n    setSessionUserHasInputed(reportStatsSession, hasInputed) {\n        if (!node._.isNil(reportStatsSession)) {\n            reportStatsSession.userHasInputed = hasInputed || false;\n        }\n    }\n\n    /**\n     * Set `msg.systalk.report_stats_session.toCustomerService` to check if this session is transfered to customer service\n     * @param {Object} reportStatsSession report stats per session\n     * @param {boolean} isTransferedToCS is this session transfered to customer service\n     */\n    setSessionToCustomerService(reportStatsSession, isTransferedToCS) {\n        reportStatsSession.toCustomerService = node._.isNil(isTransferedToCS) ? false : isTransferedToCS;\n    }\n\n    /**\n     * 使用者對 Chat Bot 評分\n     * @param {*} reportStatsSession report stats per session\n     * @param {number} score 評分\n     */\n    setSessionScoreForBot(reportStatsSession, score) {\n        if (!node._.isNil(reportStatsSession)) {\n            let _score = parseInt(score);\n            reportStatsSession.botUserScore = !isNaN(_score) && _score >= 0 ? _score : 0;\n        }\n    }\n\n    /**\n     * 使用者對客服人員的評分\n     * @param {Object} reportStatsSession report stats per session\n     * @param {number} score 評分\n     */\n    setSessionScoreForAgent(reportStatsSession, score) {\n        if (!node._.isNil(reportStatsSession)) {\n            let _score = parseInt(score);\n            reportStatsSession.agentUserScore = !isNaN(_score) && _score >= 0 ? _score : 0;\n        }\n    }\n\n    /**\n     * 設定是否為 `undecided`\n     * @param {Object} reportStats report stats per message\n     * @param {string} deciding `Decided`, `Undecided` or `Suggested FAQ`\n     */\n    setDeciding(reportStats, deciding) {\n        if (!node._.isNil(reportStats) && !node._.isNil(deciding)) {\n            reportStats.deciding = deciding;\n        }\n    }\n}\n\nclass LangCtrl {\n    constructor() {\n    }\n\n    /**\n     * Normalize lang code: lower case & separated by `-`\n     * ex: `zh-tw`, `en-us`\n     * @param {string} langCode lang code\n     */\n    normalize(langCode) {\n        if (!!langCode) {\n            return langCode.toLowerCase().trim();\n        }\n    }\n\n    /**\n     * Return the `langCode`, if it's valid in `validLangs`, `defaultLang` otherwise \n     * @param {string[]} validLangs collection of valid lang codes\n     * @param {string} langCode lang code to be determined\n     * @param {string} defaultLang default as `langCode` not in `validLangs`\n     */\n    validOrDefault(validLangs, langCode, defaultLang) {\n        if (Array.isArray(validLangs)) {\n            return validLangs.some(x => this.normalize(x) === this.normalize(langCode)) ?\n                langCode : defaultLang;\n        }\n    }\n}\n\nclass AnalysisCtrl {\n    constructor() { }\n\n    /**\n     * Map NLU result for analysis\n     * \n     * @param {Object} nlu NLU result object\n     * @param {Object} extraConfigs Extra configs for NLU  \n     * ```typescript\n     * {\n     *   isFirstNLU: boolean;\n     *   isSecondNLU: boolean;\n     *   isThirdNLU: boolean;\n     *   threshold: number;\n     * }\n     * ```\n     * @returns NLU Result for analysis\n     * ```typescript\n     * {\n     *   sentence: string;\n     *   intents: IntentResult[];\n     *   entities: EntityResult[];\n     * \n     *   isFirstNLU: boolean;\n     *   isSecondNLU: boolean;\n     *   isThirdNLU: boolean;\n     *   threshold: number;\n     *   secondThreshold: number;\n     *   fallbackScore: number;\n     *   name: string;\n     * }\n     * ```\n     */\n    mapNLUResult(nlu, extraConfigs) {\n        let res = null;\n        if (!node._.isNil(nlu)) {\n            res = {};\n            res.sentence = nlu.sentence;\n            res.intents = [].concat(nlu.intents.map(x => this.mapIntentResult(x)).filter(x => !!x));\n            res.entities = [].concat(nlu.entities.map(y => this.mapEntityResult(y)).filter(y => !!y));\n\n            res.isFirstNLU = !!extraConfigs && extraConfigs.isFirstNLU || false;\n            res.isSecondNLU = !!extraConfigs && extraConfigs.isSecondNLU || false;\n            res.isThirdNLU = !!extraConfigs && extraConfigs.isThirdNLU || false;\n            res.threshold = !!extraConfigs && extraConfigs.threshold || 0;\n            res.secondThreshold = !!extraConfigs && extraConfigs.secondThreshold || 0;\n            res.fallbackScore = !!extraConfigs && extraConfigs.fallbackScore || 0;\n            res.name = !!extraConfigs && extraConfigs.name;\n        }\n        return res;\n    }\n\n    mapIntentResult(intent) {\n        let res = null;\n        if (!node._.isNil(intent)) {\n            res = {};\n            res.intent_id = intent.intent_id;\n            res.intent = intent.intent;\n            res.score = intent.score;\n        }\n        return res;\n    }\n\n    mapEntityResult(entity) {\n        let res = null;\n        if (!node._.isNil(entity)) {\n            res = {};\n            res.entity_id = entity.entity_id;\n            res.info = entity.info;\n            res.text = entity.text;\n            res.key_user_phrase = entity.key_user_phrase;\n            res.entity = entity.entity;\n        }\n        return res;\n    }\n\n    /**\n     * Map FAQ result for analysis\n     *\n     * @param {Object} faq FAQ Result object\n     * @param {Object} extraConfigs Extra configs for FAQ\n     * ```typescript\n     * {\n     *   isFirstFAQ: boolean;\n     *   threshold: number;\n     *   secondThreshold: number;\n     *   name: string;\n     * }\n     * ```\n     */\n    mapFAQResult(faq, extraConfigs) {\n        let res = null;\n        if (!node._.isNil(faq)) {\n            res = {};\n            res.qid = faq.id;\n            res.originalQuestion = faq.orig_question;\n            res.answer = faq.answer;\n\n            if (!node._.isNil(faq.multichannel_answers) && Array.isArray(faq.multichannel_answers)) {\n                res.multichannel_answers = [].concat(faq.multichannel_answers.map(x => this.mapMultiChannelFAQAnswers(x)));\n            }\n            res.categories = [].concat(node._.cloneDeep(faq.categories));\n            res.score = faq.score;\n\n            res.threshold = !!extraConfigs && extraConfigs.threshold || 0;\n            res.secondThreshold = !!extraConfigs && extraConfigs.secondThreshold || 0;\n            res.isFirstFAQ = !!extraConfigs && extraConfigs.isFirstFAQ || false;\n            res.name = !!extraConfigs && extraConfigs.name;\n        }\n        return res;\n    }\n\n    mapMultiChannelFAQAnswers(ans) {\n        let res = null;\n        if (!node._.isNil(ans)) {\n            res = {};\n            res.channel = ans.tab.name;\n            res.answer = ans.answer;\n        }\n        return res;\n    }\n\n    /**\n     * Map recored NLU result for Report used\n     * @param {Object} nluResult \n     */\n    mapNLUResultForReport(nluResult) {\n        if (!!nluResult &&\n            Array.isArray(nluResult.intents) && nluResult.intents.length) {\n\n            let isUndecided = false;\n            let isSuggested = false;\n            if (node._.isNumber(nluResult.threshold)) {\n                isUndecided = isUndecided || nluResult.intents[0].score < nluResult.threshold;\n            }\n            if (node._.isNumber(nluResult.fallbackScore)) {\n                isUndecided = isUndecided || nluResult.intents[0].score === nluResult.fallbackScore;\n            }\n            if (node._.isNumber(nluResult.secondThreshold)) {\n                isSuggested = isSuggested || nluResult.intents[0].score >= nluResult.secondThreshold;\n            }\n\n            return {\n                intent: nluResult.intents[0].intent,\n                undecided: isUndecided,\n                suggested: isSuggested\n            };\n        }\n        return null;\n    }\n\n    /**\n     * Map recored FAQ result for Report used\n     * @param {Object} faqResult \n     * @param {Object} extraConfigs Extra configs for `faqResult`\n     * ```typescript\n     * {\n     *   parentCategory: string;\n     *   childCategory: string;\n     * }\n     * ```\n     */\n    mapFAQResultForReport(faqResult, extraConfigs) {\n        let res = null;\n        if (!!faqResult) {\n            res = {};\n            res.qid = faqResult.qid;\n            res.originalQuestion = faqResult.originalQuestion;\n            res.score = faqResult.score;\n            res.undecided = node._.isNumber(faqResult.threshold) ? faqResult.score < faqResult.threshold : false;\n            res.suggested = node._.isNumber(faqResult.secondThreshold) ? faqResult.score >= faqResult.secondThreshold : false;\n            res.parentCategory = extraConfigs.parentCategory || undefined;\n            res.childCategory = extraConfigs.childCategory || undefined;\n            return res;\n        }\n        return null;\n    }\n\n    /**\n     * Get the NLU result marked as the first NLU\n     * @param {Object[]} list \n     */\n    getFirstNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isFirstNLU) || null;\n        }\n    }\n\n    /**\n     * Get the NLU result marked as the second NLU\n     * @param {Object[]} list \n     */\n    getSecondNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isSecondNLU) || null;\n        }\n    }\n\n    /**\n     * Get the NLU result marked as the third NLU\n     * @param {Object[]} list\n     */\n    getThirdNLU(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isThirdNLU) || null;\n        }\n    }\n\n    /**\n     * Get the FAQ result marked as the first FAQ\n     * @param {Object[]} list \n     */\n    getFirstFAQ(list) {\n        if (Array.isArray(list) && list.length) {\n            return list.find(x => x.isFirstFAQ) || null;\n        }\n    }\n}\n\n/**\n * 提供 `msg.config` 相關 Utility 方法\n */\nclass ConfigCtrl {\n\n    getBotApi(name) {\n        if (name && msg.config.apis.bots) {\n            return msg.config.apis.bots[name];\n        }\n    }\n\n    getNLUApi(name) {\n        if (name && msg.config.apis && msg.config.apis.nlu) {\n            return msg.config.apis.nlu[name];\n        }\n    }\n\n    getFAQApi(name) {\n        if (name && msg.config.apis && msg.config.apis.faq) {\n            return msg.config.apis.faq[name];\n        }\n    }\n\n    getLocalesApi() {\n        if (msg.config.apis && msg.config.apis.locales) {\n            return msg.config.apis.locales;\n        }\n    }\n\n    /**\n     * 取得 NLU 門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUThreshold(name) {\n        if (name && msg.config.threshold && msg.config.threshold.nlu) {\n            return msg.config.threshold.nlu[name];\n        }\n    }\n\n    /**\n     * 取得 NLU 次門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUSecondThreshold(name) {\n        return this.getNLUMinorThreshold(name);\n    }\n\n    /**\n     * 取得 NLU 次門檻值\n     * @param {string} name 設定的 NLU 名稱\n     */\n    getNLUMinorThreshold(name) {\n        if (name && msg.config.secondThreshold && msg.config.secondThreshold.nlu) {\n            return msg.config.secondThreshold.nlu[name];\n        }\n    }\n\n    /**\n     * 取得 FAQ 門檻值\n     * @param {string} name 設定 FAQ 的名稱\n     */\n    getFAQThreshold(name) {\n        if (name && msg.config.threshold && msg.config.threshold.faq) {\n            return msg.config.threshold.faq[name];\n        }\n    }\n\n    /**\n     * 取得 FAQ 次門檻值\n     * @param {string} name 設定的 FAQ 名稱\n     */\n    getFAQSecondThreshold(name) {\n        return this.getFAQMinorThreshold(name);\n    }\n\n    /**\n     * 取得 FAQ 次門檻值\n     * @param {string} name 設定的 FAQ 名稱\n     */\n    getFAQMinorThreshold(name) {\n        if (name && msg.config.secondThreshold && msg.config.secondThreshold.faq) {\n            return msg.config.secondThreshold.faq[name];\n        }\n    }\n\n    /**\n     * 取得原點值\n     * @param {string} name 設定 NLU 的名稱\n     */\n    getFallbackScore(name) {\n        return this.getOriginValue(name);\n    }\n\n    /**\n     * 取得原點值\n     * @param {string} name 設定 NLU 的名稱\n     */\n    getOriginValue(name) {\n        if (name && msg.config.nluFallbackScore) {\n            return msg.config.nluFallbackScore[name];\n        }\n    }\n\n    /**\n     * service 是否擁有指定的操作意圖（與項目意圖）\n     * @param { string } serviceName 服務意圖名稱\n     * @param { string } operationName 操作意圖名稱\n     * @param { item } itemName 項目意圖名稱\n     */\n    serviceHasOperationAndItem(serviceName, operationName, itemName) {\n        if (!msg.config.intentsMap || !serviceName) {\n            return false;\n        }\n\n        const operations = msg.config.intentsMap[serviceName] && Object.keys(msg.config.intentsMap[serviceName]) || [];\n        let items = [];\n        operations.forEach(op => {\n            items = items.concat(msg.config.intentsMap[serviceName][op] || []);\n        });\n\n        const hasOperation = operationName && operations.includes(operationName);\n        const hasItem = itemName && items.includes(itemName);\n        const itemsOfOperation = msg.config.intentsMap[serviceName] && Array.isArray(msg.config.intentsMap[serviceName][operationName]) ?\n            msg.config.intentsMap[serviceName][operationName] : [];\n        const hasItemOfOperation = operationName && itemName && hasOperation &&\n            itemsOfOperation.includes(itemName);\n\n        return hasOperation || hasItem || hasItemOfOperation;\n    }\n}\n\n\nmsg.systalk.utils = {\n    ReqMsgTypes: reqMsgTypes,\n    ReplyMsgTypes: replyMsgTypes,\n    ReqSignals: reqSignals,\n    ReqChannels: reqChannels,\n    Channel: Channel,\n    ReplyMsgFactory: new ReplyMsgFactory(),\n    ReqMsgCtrl: new ReqMsgCtrl(),\n    ReplyMsgCtrl: new ReplyMsgCtrl(),\n    ObjUtils: new ObjUtils(),\n    MsgUtils: new MsgUtils(),\n    QuitOptions: quitOptions,\n    LocalesUtils: new LocalesUtils(),\n    ReplyActionTypes: replyActionTypes,\n    QueueUtils: new QueueUtils(),\n    StringUtils: stringUtils,\n    ReportUtils: new ReportUtils(),\n    LangCtrl: new LangCtrl(),\n    AnalysisCtrl: new AnalysisCtrl(),\n    ConfigCtrl: new ConfigCtrl()\n};\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e206c4024290e",
        "breakpoints": []
    },
    {
        "id": "ad705e44.47c62",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "state",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1730,
        "y": 280,
        "wires": [
            []
        ],
        "func": "const ConfigCtrl = msg.systalk.utils.ConfigCtrl;\n\n//之後修改為正確API名稱\n//const url = ConfigCtrl.getBotApi('查詢_信用卡申辦進度');\n\n\n// 刪除此流程條件\nmsg._start_setup = false;\nmsg.systalk.currentFlow = undefined;\n// 如果沒有核身轉核身\nif (msg.systalk.nextFlow) {\n    msg.systalk.currentFlow = msg.systalk.nextFlow;\n} else {\n    msg.systalk.currentFlow = msg.systalk.currentFlow || '_start_flow';\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e204f7f24290f",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "d7f5a273.0af83",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Config",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "cf49ce20.6fc8b"
            ],
            [
                "979b9e17.2e112"
            ]
        ],
        "func": "msg.config = {\n    botType: 'SecondBot',\n    /* 定義各子流程名稱與 Http-In Api */\n    apis: {\n        bots: {\n            \n        },\n        nlu: { // 流程有使用到的 NLU\n            '總機': 'http://10.20.30.203:30443/bot/nlu/api/v1/551ec2f9-503c-42a1-810b-2f82b750127a?token=RyBKG3HMxn6tdDXynCPEqH2btnZE3kF3&q=',\n            '服務台': null,\n        },\n        faq: { // 流程有使用到的 FAQ\n            // 語音導航FAQ\n            'FAQ': 'http://10.20.30.203:30443/bot/faq/api/v1/query/1f967970-e8cf-47a6-8444-d64e68d09174?token=vZb8oE6S2stcFSAYGQxjweDQgliSw0cS&query=',\n        },\n        locales: null, // Optional\n        resources: {\n        },\n        gateWay: {\n            // scene: 'http://10.20.30.225:8011/card/scene',\n            // text: 'http://10.20.30.225:8011/card/text',\n        },\n    },\n    names: {\n        firstNLU: '總機',\n        firstFAQ: 'FAQ',\n        firstNLUSupport: '服務台'\n    },\n    /**\n     * 信心值門檻\n     * 需要依實際情形調整\n     */\n    threshold: {\n        nlu: {\n            '總機': 0.7,\n            '服務台': null,\n        },\n        faq: {\n            'FAQ': 0.75\n        }\n    },\n    secondThreshold: {\n        nlu: {\n            '總機': 0.5,\n            '服務台': null,\n        },\n        faq: {\n            'FAQ': 0.65\n        }\n    },\n    faqMaxResultSize: 10,\n    /**\n     * 設定 NLU 原點值（訓練語料完全沒有符合的字詞，表示機器真的聽不懂）\n     * 每次訓練、修改後，需確認是否變更，並更新\n     */\n    nluFallbackScore: { // 設定各 NLU 原點值\n        '總機': 0.5219998364445331,\n        '服務台': null,\n    },\n    intents: { // 用以辨識的 Intent 名稱\n        toAgent: '真人服務',\n        end: '結束',\n    },\n    entities: { // 使用到的 Entity 名稱\n        resend: '服務判斷',\n        number: 'sys.數字',\n        datetime: 'sys.時間',\n    },\n    /**\n     * 提供服務台查找對應的三維意圖。\n     * 服務名稱為必須。\n     * 操作或項目為空，設為空陣列 `[]`\n     */\n    intentsMap: {\n        '<SERVICE_NAME>': {\n            '<OPERATION_NAME>': [ '<ITEM_NAME>' ]\n        }\n    },\n    /**\n     * Bot 預設設定值。\n     */\n    defaultConfig: {\n        botName: 'bot'\n    },\n    // 推薦選項(NLU/FAQ)數量限制\n    maxSuggestedNumber: 3,\n    // for GateWay used\n    headers:{\n        Authorization: 'B2CC430497B84006A3D3C53EABB10FDB'\n    },\n    role:'bot',\n    source: msg.reqMsg.source || '',\n    channel: msg.reqMsg.channel,\n    auxiliaryWords: ['嗯','唉','喔','啊','恩','摁','阿','哀','痾','哦','嗚','呃','欸'],\n    correctText: ['是','對','無誤','正確','沒錯','沒有錯','可以','要','有','沒問題','好'],\n    wrongText: ['否','不對','錯誤','不正確','有錯','錯','不可以','不要','沒有','有問題','不好','不是','有誤'],\n    defauleTextComparsionThreshold: 0.8,\n    higherFAQThreshold: 0.85,\n    higherNLUThreshold: 0.8\n};\n\n// 已有從 GateWay 參數 或 debug模式 || msg.debug\nif(msg.systalk.configParameters){\n    return [msg, null];\n}else{\n    //由API取得參數\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e208aee242910",
        "breakpoints": []
    },
    {
        "id": "e9138927.437d38",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "comment",
        "name": "取得定義文字／語句",
        "z": "f8ff3f10.d01cf",
        "info": "將回覆使用到語句，於另外的 web service 中定義  \n依據 `channel` 與 `locales` 區分  \n\n## channel\n\n目前 `channel` 以數字表示。  \n固定 `channel=1` 為預設文字， \n`channel=2` 為預設語音（TTS）。  \n\nchannel 為正整數 \n- `channel & 1 = 1; // bitwise AND`  \n  表示該 channel 支援使用文字回覆\n- `channel & 2 = 2; // bitwise AND`  \n  表示該 channel 支援使用語音回覆\n\n## locales\n\n目前僅提供 `'zh-tw'`\n\n\n\n\n",
        "in": [],
        "out": [],
        "x": 153,
        "y": 229,
        "wires": [],
        "_id": "6213397a5a3e2084a4242911",
        "breakpoints": []
    },
    {
        "id": "76a0bc91.167054",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "BotUtils",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1170,
        "y": 280,
        "wires": [
            [
                "cf7e7ee3.e60cd"
            ]
        ],
        "func": "\nclass BotUtils {\n    replaceTextByParams(text, params) {\n        if (params) {\n            Object.keys(params).forEach(key => {\n                if (params[key]) {\n                    const regex = new RegExp('{{\\\\s*' + key + '\\\\s*}}', 'gm');\n                    text.replace(regex, params[key]);\n                }\n            });\n        }\n        return text;\n    }\n}\nmsg.systalk.utils.BotUtils = new BotUtils();\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20d5a2242912",
        "breakpoints": []
    },
    {
        "id": "6f6eb1e2.4c287",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "comment",
        "name": "變更 endpoint",
        "z": "f8ff3f10.d01cf",
        "info": "",
        "in": [],
        "out": [],
        "x": 134.390625,
        "y": 103,
        "wires": [],
        "_id": "6213397a5a3e201e31242913",
        "breakpoints": []
    },
    {
        "id": "f397b7d4.bfd4f8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Setup analysis",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1540,
        "y": 280,
        "wires": [
            [
                "ad705e44.47c62"
            ]
        ],
        "func": "msg.analysis = {\n    faq: [],\n    nlu: []\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e2064a9242914",
        "breakpoints": []
    },
    {
        "id": "979b9e17.2e112",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "取得 config 參數",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 689.0000076293945,
        "y": 338.9999942779541,
        "wires": [
            [
                "5b7d707f.8759c"
            ]
        ],
        "func": "msg.headers = msg.config.headers;\nmsg.method = 'POST';\nmsg.url = msg.reqMsg.getParametersUrl;\n\nmsg.payload = {\n    categoryKey: \"ChatFlow\",\n    chatwebId: msg.reqMsg.message.chatwebId\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20d3ca242915",
        "breakpoints": []
    },
    {
        "id": "5b7d707f.8759c",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "http request",
        "name": "gateWay call chatManage",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 720,
        "y": 400,
        "wires": [
            [
                "842b5892.1775d8"
            ]
        ],
        "_id": "6213397a5a3e201bb9242916",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "842b5892.1775d8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Get parameters",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 689,
        "y": 454,
        "wires": [
            [
                "cf49ce20.6fc8b"
            ]
        ],
        "func": "msg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\nif(msg.payload.code === 0){//查詢成功\n    const configParameters = msg.payload.data;\n    // 存systalk\n    msg.systalk.configParameters = configParameters;\n}else{\n    node.log(\"取得參數失敗！\");\n    node.log(msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e206b9f242917",
        "breakpoints": []
    },
    {
        "id": "cf49ce20.6fc8b",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Set parameters",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 970,
        "y": 280,
        "wires": [
            [
                "76a0bc91.167054"
            ]
        ],
        "func": "if(msg.systalk.configParameters){//有參數\n    //設定參數...\n    const configParameters = msg.systalk.configParameters;\n    \n    //GATEWAY\n    msg.config.apis.gateWay.scene = configParameters.gw_addr+':'+configParameters.gw_port+'/card/scene';\n    msg.config.apis.gateWay.faqAnswer = configParameters.gw_addr+':'+configParameters.gw_port+'/card/faqAnswer';\n    msg.config.apis.gateWay.text = configParameters.gw_addr+':'+configParameters.gw_port+'/card/text';\n    \n    //兆豐API\n    msg.config.apis.gateWay.queryPaymentRecord = configParameters.gw_addr+':'+configParameters.gw_port + '/megaBank/creditCard/queryPaymentRecord';\n    \n    //BOT\n    msg.config.apis.bots['推薦'] = configParameters['bot_card_recommend'];\n    \n    //NLU、FAQ\n    // msg.config.apis.nlu['總機'] = configParameters.nlu_firstNLU;\n    // msg.config.apis.faq['FAQ'] = configParameters.nlu_firstFAQ;\n    \n    //門檻值\n    // msg.config.threshold.nlu['總機'] = parseFloat(configParameters['thd_firstNLU']);\n    // msg.config.threshold.faq['FAQ'] = parseFloat(configParameters['thd_firstFAQ']);\n    \n    //次門檻值\n    // msg.config.secondThreshold.nlu['總機'] = parseFloat(configParameters['thd_firstNLU_2']);\n    // msg.config.secondThreshold.faq['FAQ'] = parseFloat(configParameters['thd_firstFAQ_2']);\n    \n    //原點值\n    // msg.config.nluFallbackScore['總機'] = parseFloat(configParameters['fall_firstNLU']);\n    \n    //FAQ最大回應筆數\n    // msg.config.faqMaxResultSize = parseInt(configParameters['faqMaxResultSize']) || 3;\n    \n    \n    // 正確，字串比對選項\n    msg.config.correctText = configParameters['text_yes'] ?\n        configParameters['text_yes'].split(/[,，]/).filter(x => !!x) : null;\n    \n    // 錯誤，字串比對選項\n    msg.config.wrongText = configParameters['text_no'] ?\n        configParameters['text_no'].split(/[,，]/).filter(x => !!x) : null;\n    \n    \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20f451242918",
        "breakpoints": []
    },
    {
        "id": "b9b99fe5.fca",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "router",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 950,
        "y": 140,
        "wires": [
            [
                "72f59808.98ef98"
            ]
        ],
        "_id": "6213397a5a3e20c6d9242919",
        "breakpoints": [],
        "sessionprop": "systalk._session_id",
        "dryrun": "msg._dry_run",
        "timeout": "1800"
    },
    {
        "id": "72f59808.98ef98",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Response",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1167.714282989502,
        "y": 139.42857360839844,
        "wires": [
            [
                "ecabb5ad.7799c8",
                "9a213fd9.18a28",
                "9ad3d092.3e232"
            ]
        ],
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e2025ff24291a",
        "breakpoints": []
    },
    {
        "id": "a0ca5ad7.6ba6a8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Set from Input",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 690.714282989502,
        "y": 139.42857360839844,
        "wires": [
            [
                "b9b99fe5.fca"
            ]
        ],
        "func": "msg.reqMsg = msg.payload;//將截去訊息傳到regMsg\nmsg.systalk._session_id = msg.reqMsg.sessionId;//sessionID套用到systalk\nmsg._start_setup = true;//進入下一個enter\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20144c24291b",
        "breakpoints": []
    },
    {
        "id": "9ad3d092.3e232",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "http response",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1347.714282989502,
        "y": 139.42857360839844,
        "wires": [],
        "_id": "6213397a5a3e209e2d24291c",
        "breakpoints": []
    },
    {
        "id": "ecabb5ad.7799c8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "Before Output",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1357.714282989502,
        "y": 99.42857360839844,
        "wires": [],
        "_id": "6213397a5a3e20ebf524291d",
        "breakpoints": []
    },
    {
        "id": "9a213fd9.18a28",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "chat-out",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1347.714282989502,
        "y": 179.42857360839844,
        "wires": [],
        "_id": "6213397a5a3e20ae2524291e",
        "breakpoints": [],
        "server": "e8c3aa47.a39d78"
    },
    {
        "id": "51a8d04e.f319e",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "http in",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 410.71427154541016,
        "y": 138.42857360839844,
        "wires": [
            [
                "a0ca5ad7.6ba6a8"
            ]
        ],
        "_id": "6213397a5a3e20cc3c24291f",
        "breakpoints": [],
        "url": "/service",
        "method": "post",
        "swaggerDoc": ""
    },
    {
        "id": "7ac70163.224f4",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "Normalized ChatWeb Input",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 400,
        "y": 60,
        "wires": [
            [
                "a0ca5ad7.6ba6a8"
            ]
        ],
        "func": "let text = msg.payload;\n\nlet msgObj = {\n    chatwebId:'20210727135730361',\n    channel: 'ChatWeb',\n    type: 'customerMsg',\n    message: text,\n    messageId: '123456789',\n    sessionId: msg.systalk._session_id,\n    params:{\n        askAgent:\"N\",\n        traceTag:\"Navigation\"\n    },\n    tel: '0987654321',\n    domain: null,\n    action: null,\n    errorCode: null\n};\n\nmsg.payload = msgObj;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20edc9242920",
        "breakpoints": []
    },
    {
        "id": "f08aafb7.da4bb",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "chat-in",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 60,
        "wires": [
            [
                "7ac70163.224f4"
            ]
        ],
        "_id": "6213397a5a3e2073aa242921",
        "breakpoints": [],
        "sessionField": "systalk._session_id",
        "server": "e8c3aa47.a39d78"
    },
    {
        "id": "6da2edd0.706914",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "繳費資訊API",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 960,
        "wires": [
            [
                "71cc08a1.231c28"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e200dcb242922",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "systalk.currentFlow",
                "v": "callProgressQueryAPI"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "4c2481a2.ccf62",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "comment",
        "name": "判FirstBot回傳進來的核身參數",
        "z": "f8ff3f10.d01cf",
        "info": "",
        "in": [],
        "out": [],
        "x": 362.9999885559082,
        "y": 521.0078220367432,
        "wires": [],
        "_id": "6213397a5a3e2067bc242923",
        "breakpoints": []
    },
    {
        "id": "71cc08a1.231c28",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "組繳費資訊API ",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 360,
        "y": 960,
        "wires": [
            [
                "abda16ca.59b6b8",
                "d7fdbaf7.487818"
            ]
        ],
        "func": "msg.method = 'POST';\nmsg.headers = msg.config.headers;\nmsg.url = msg.config.apis.gateWay.queryPaymentRecord;\n\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    // source: msg.config.source,\n    custId: msg.reqMsg.stored.userData.custId,\n    birthday: msg.reqMsg.stored.userData.birthday,\n    source: '01',\n\n};\nmsg.payload.flowCard ={\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    source: '01',\n    role: msg.config.role\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20d541242924",
        "breakpoints": []
    },
    {
        "id": "b018151c.30edc8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "start",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 560,
        "wires": [
            [
                "f17e5661.62d7d8",
                "ce3ae430.eabf18"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e2066ce242925",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "systalk.currentFlow",
                "v": "_start_flow"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "f17e5661.62d7d8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "判斷是否已核身",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 358.79560470581055,
        "y": 561.4674797058105,
        "wires": [
            [
                "905fbda2.e35ce"
            ],
            [
                "5e87047f.ef370c"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\nconst outputNum = 2;\nconst auth = msg.reqMsg.stored.auth;\n\nnode.log('opt: '+auth.otp);\nnode.log('bank: '+auth.bank);\n// 判斷是否有通過核身\nif (auth.otp || auth.bank) {\n    return MsgUtils.output(msg, 1, outputNum);\n}\nelse{\n    return MsgUtils.output(msg, 2, outputNum);\n}\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e20da8b242926",
        "breakpoints": []
    },
    {
        "id": "905fbda2.e35ce",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "是，呼叫繳費資訊API",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 700,
        "y": 520,
        "wires": [
            [
                "53d98e2e.f240e"
            ]
        ],
        "func": "msg.systalk.nextFlow = 'callProgressQueryAPI';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20eafe242927",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "5e87047f.ef370c",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "否，進入核身流程",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "53d98e2e.f240e"
            ]
        ],
        "func": "msg.systalk.nextFlow = 'confirmAuthModal';\nmsg.authenticateUser = true;\nmsg.flow = '12';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e202883242928",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "abda16ca.59b6b8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "http request",
        "name": "繳費資訊API",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 670,
        "y": 960,
        "wires": [
            [
                "121cb1cf.71973e",
                "d4a56d2a.f981e"
            ]
        ],
        "_id": "6213397a5a3e202fd8242929",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "121cb1cf.71973e",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "解析回傳結果",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 900,
        "y": 960,
        "wires": [
            [
                "bf71275f.99d178"
            ],
            [
                "c5595cd5.2ab3"
            ]
        ],
        "func": "msg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\nconst MsgUtils = msg.systalk.utils.MsgUtils;\nconst outputNum = 2;\nconst auth = msg.reqMsg.stored.auth;\n\nif (msg.payload.code === 0) {\n    return MsgUtils.output(msg, 1, outputNum);\n}\nelse{\n    return MsgUtils.output(msg, 2, outputNum);\n}\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e20bc4124292a",
        "breakpoints": []
    },
    {
        "id": "3384d7d.4dcd828",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "Response",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "acea73de.24e59"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e20d99a24292b",
        "breakpoints": [],
        "rules": [
            {
                "t": "nnull",
                "p": "messages"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "2752b8ad.97e1c8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "state",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 830,
        "y": 1560,
        "wires": [
            []
        ],
        "func": "\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20717c24292c",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "4a25ddc3.fefec4",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "End Dialogue",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 140,
        "y": 1620,
        "wires": [
            [
                "43930b50.23a664"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e20526424292d",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_enter_end_dialogue"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "ac82cdc.a9cf03",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "state",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 590,
        "y": 1620,
        "wires": [
            []
        ],
        "func": "msg._enter_end_dialogue = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e203e4d24292e",
        "breakpoints": [],
        "response": "",
        "finalstate": true,
        "requestUserInput": false
    },
    {
        "id": "48ca9611.05c458",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "comment",
        "name": "統一處理回應",
        "z": "f8ff3f10.d01cf",
        "info": "為紀錄額外資訊並清除多餘資訊   \n因此，需於 `Router` output 前處理完成。  \n\n1. 將各子流程 state 節點，皆__不設定__ \n   `Request User Input` 或 `End Dialogue`。\n2. 由於 Router node 會__輪詢__ Enter node，\n   因此可__依序__設定與清理 Response ，\n   並決定是否需結束對話。",
        "in": [],
        "out": [],
        "x": 130,
        "y": 1440,
        "wires": [],
        "_id": "6213397a5a3e20777824292f",
        "breakpoints": []
    },
    {
        "id": "acea73de.24e59",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "回應訊息",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 350,
        "y": 1480,
        "wires": [
            [
                "403dd55f.4976ec",
                "d584d285.3e99f"
            ]
        ],
        "func": "const ReplyMsgFactory = msg.systalk.utils.ReplyMsgFactory;\n//message 回覆方式用object\nmsg.payload = {\n    messages: msg.messages || undefined,\n    error: node._.cloneDeep(msg.error) || undefined,\n    from: 'bot',\n    toAgent: msg.toAgent || undefined,\n    quit: msg._end_dialogue || undefined,\n    flow: msg.flow || undefined,\n    authenticateUser: msg.authenticateUser || undefined,\n    toOtherSecondBot: msg.toOtherSecondBot || undefined,\n    textComparsion: msg.textComparsion || undefined\n};\n\n// if (msg.payload.messages.data & !msg.payload.messages.data.content.length) {\n//     msg.payload.messages.push(ReplyMsgFactory.createText('<NO_REPLY>'));\n// }\n\nif (!node._.isNil(msg.analysis)) {\n    msg.payload.analysis = {\n        nlu: [].concat(msg.analysis.nlu || []),\n        faq: [].concat(msg.analysis.faq || [])\n    };\n}\n\nmsg._enter_end_dialogue = msg._end_dialogue;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e201a17242930",
        "breakpoints": []
    },
    {
        "id": "43930b50.23a664",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "change",
        "name": "刪除自訂紀錄資訊",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 370,
        "y": 1620,
        "wires": [
            [
                "ac82cdc.a9cf03"
            ]
        ],
        "_id": "6213397a5a3e2095ab242931",
        "breakpoints": [],
        "rules": [
            {
                "t": "delete",
                "p": "systalk.pendingBot",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "systalk.config",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "systalk.sessionSalt",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false
    },
    {
        "id": "403dd55f.4976ec",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "清除 msg 下屬性",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 610,
        "y": 1560,
        "wires": [
            [
                "2752b8ad.97e1c8"
            ]
        ],
        "func": "// 刪除單一訊息流程狀態\nmsg._start_flow = undefined;\nmsg._get_locales = undefined;\nmsg._end_dialogue = undefined;\nmsg._start_setup = undefined;\n\n// 刪除暫存訊息資訊\nmsg.error = undefined;\nmsg.config = undefined;\nmsg.url = undefined;\nmsg.method = undefined;\nmsg.headers = undefined;\nmsg.botType = undefined;\nmsg.quit = undefined;\n\n// 刪除 NLU 與 FAQ 結果\nmsg.NLU = undefined;\nmsg.FAQ = undefined;\n\n// 刪除自訂紀錄資訊\nmsg.systalk.locales = undefined;\nmsg.systalk.utils = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20e1e0242932",
        "breakpoints": []
    },
    {
        "id": "299608.0e6a09f8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "Flow 發生錯誤",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 140,
        "y": 1320,
        "wires": [
            [
                "26c9d6ce.94a15a"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e201643242933",
        "breakpoints": [],
        "rules": [
            {
                "t": "nnull",
                "p": "error"
            },
            {
                "t": "nnull",
                "p": "messages"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "26c9d6ce.94a15a",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "Error Response",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 370,
        "y": 1320,
        "wires": [
            []
        ],
        "func": "const ReplyMsgFactory = msg.systalk.utils.ReplyMsgFactory;\n\nif (node._.isString(msg.error)) {\n    msg.messages.push(ReplyMsgFactory.createText(msg.error));\n}\nelse if (node._.isObject(msg.error)) {\n    msg.messages.push(ReplyMsgFactory.createText(JSON.stringify(msg.error)));\n}\n\n\nmsg._end_dialogue = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20987e242934",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "d1a5f9ee.b9aeb8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "comment",
        "name": "!!注意!! Error Handling",
        "z": "f8ff3f10.d01cf",
        "info": "在 Flow 中 function / state node 發生 Exception 會以該節點收到的 msg 再帶出  \n因此 Catch node 雖然在 Exception 發生時也會被觸發，但 __原有流程如無特別處理__ 仍會繼續\n\nException 僅使用 debug 紀錄訊息",
        "in": [],
        "out": [],
        "x": 170,
        "y": 1260,
        "wires": [],
        "_id": "6213397a5a3e2017f4242935",
        "breakpoints": []
    },
    {
        "id": "f68e1c03.ce032",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "comment",
        "name": "!!注意!! 空訊息處理",
        "z": "f8ff3f10.d01cf",
        "info": "當流程發生錯誤時，`msg.messages` 容易為空  \n導致無合法的訊息可供 client 顯示  \n\n因此，需要針對 **空訊息** 處理  \n定義一個表示無任何回應的訊息顯示\n\n如：`{ type: 1, text: '<NO_REPLY>' }`",
        "in": [],
        "out": [],
        "x": 610,
        "y": 1520,
        "wires": [],
        "_id": "6213397a5a3e207188242936",
        "breakpoints": []
    },
    {
        "id": "18f94680.8c672a",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "catch",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 1400,
        "wires": [
            [
                "5c4b2d65.1bb514"
            ]
        ],
        "_id": "6213397a5a3e207752242937",
        "breakpoints": [],
        "scope": null
    },
    {
        "id": "5c4b2d65.1bb514",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "Exception",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "error",
        "x": 350,
        "y": 1400,
        "wires": [],
        "_id": "6213397a5a3e207184242938",
        "breakpoints": []
    },
    {
        "id": "8ae1c99d.1c1fc8",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "state",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1030,
        "y": 1240,
        "wires": [
            []
        ],
        "func": "msg._gateWay = undefined;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e205c4a242939",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "1a989599.499b8a",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "處理資料",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 830,
        "y": 1240,
        "wires": [
            [
                "8ae1c99d.1c1fc8"
            ]
        ],
        "func": "msg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n\n//gateway發生錯誤\nif (msg.payload.code !== 0) {\n    msg.messages = {\n        code: 0,\n        message: \"成功\",\n        data: {\n            channel: msg.reqMsg.channel,\n            source: msg.config.source,\n            role: msg.config.role,\n            content: [\n                {\n                    type: 1,\n                    text: \"現在系統維護中，造成不便請見諒，或請致電客服中心。\"\n                }\n            ]\n        }\n    };\n    msg._end_dialogue = true;\n    return msg;\n}\n\nif (msg.systalk.needInfo.checkUserData){\n    msg.payload.checkUserData = true;\n}\nmsg.messages = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e203b4424293a",
        "breakpoints": []
    },
    {
        "id": "646d53e8.c4224c",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "http request",
        "name": "gateway",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "6e06e2ad.5a475c",
                "1a989599.499b8a"
            ]
        ],
        "_id": "6213397a5a3e20b80924293b",
        "breakpoints": [],
        "method": "use",
        "ret": "obj",
        "url": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "5c0f8a46.98d714",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "組 gateway body",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "d52fed41.b732a",
                "646d53e8.c4224c"
            ]
        ],
        "func": "msg.method = 'POST';\nmsg.headers = msg.config.headers;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20490a24293c",
        "breakpoints": []
    },
    {
        "id": "6e06e2ad.5a475c",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "gateway payload",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 1160,
        "wires": [],
        "_id": "6213397a5a3e207e8324293d",
        "breakpoints": []
    },
    {
        "id": "1bef0454.b0fc3c",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "gateway",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 130,
        "y": 1200,
        "wires": [
            [
                "5c0f8a46.98d714"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e205afe24293e",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_gateWay"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "d52fed41.b732a",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "gateway body",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 600,
        "y": 1240,
        "wires": [],
        "_id": "6213397a5a3e20788024293f",
        "breakpoints": []
    },
    {
        "id": "d584d285.3e99f",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "message",
        "x": 600,
        "y": 1480,
        "wires": [],
        "_id": "6213397a5a3e20bf38242940",
        "breakpoints": []
    },
    {
        "id": "c5595cd5.2ab3",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "失敗，說明系統維護+詢問是否轉真人",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1190,
        "y": 980,
        "wires": [
            []
        ],
        "func": "msg.systalk.nextFlow = 'checkToAgent';\nmsg.url = msg.config.apis.gateWay.scene;\nmsg._gateWay = true;\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    content: [\n        {\n            scene: 'Scene18'\n        }       \n    ]\n};\nmsg.textComparsion = {\n    '轉真人客服': {\n        values: ['轉真人客服'],\n        threshold: 0.8\n    },\n    '先不用好了': {\n        values: ['先不用好了'],\n        threshold: 0.8\n    }\n};\nreturn msg;\n    ",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20e038242941",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "bf71275f.99d178",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "成功，列出繳款資訊, 結束對話",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1170,
        "y": 940,
        "wires": [
            []
        ],
        "func": "// msg.systalk.nextFlow = 'confirmCardInfo';\nmsg._end_dialogue = true; \nmsg.messages = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e209cca242942",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "d7fdbaf7.487818",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 360,
        "y": 920,
        "wires": [],
        "_id": "6213397a5a3e206a00242943",
        "breakpoints": []
    },
    {
        "id": "d4a56d2a.f981e",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 680,
        "y": 920,
        "wires": [],
        "_id": "6213397a5a3e20bb22242944",
        "breakpoints": []
    },
    {
        "id": "416a727b.347cdc",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "判斷核身資料",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 140,
        "y": 740,
        "wires": [
            [
                "23f13f3c.c024f",
                "649b8400.a2f4cc"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e204746242945",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "systalk.currentFlow",
                "v": "confirmAuthModal"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "23f13f3c.c024f",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "判斷是否已核身",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "670b9e4a.9254f"
            ],
            [
                "212b325.8de97ce"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\nconst outputNum = 2;\nconst auth = msg.reqMsg.stored.auth;\n\nnode.log('opt: '+auth.otp);\nnode.log('bank: '+auth.bank);\n// 判斷是否有通過核身\nif (auth.otp || auth.bank) {\n    return MsgUtils.output(msg, 1, outputNum);\n}\nelse{\n    return MsgUtils.output(msg, 2, outputNum);\n}",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e207e08242946",
        "breakpoints": []
    },
    {
        "id": "670b9e4a.9254f",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "核身Call API",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 670,
        "y": 720,
        "wires": [
            []
        ],
        "func": "msg.systalk.currentFlow = 'callProgressQueryAPI';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e201101242947",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "53d98e2e.f240e",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "reqMsg",
        "x": 950,
        "y": 560,
        "wires": [],
        "_id": "6213397a5a3e200e3c242948",
        "breakpoints": []
    },
    {
        "id": "ce3ae430.eabf18",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "reqMsg",
        "x": 140,
        "y": 520,
        "wires": [],
        "_id": "6213397a5a3e2077f9242949",
        "breakpoints": []
    },
    {
        "id": "649b8400.a2f4cc",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "debug",
        "name": "",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 140,
        "y": 700,
        "wires": [],
        "_id": "6213397a5a3e20e4a324294a",
        "breakpoints": []
    },
    {
        "id": "212b325.8de97ce",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "沒核身,系統錯誤",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 690,
        "y": 760,
        "wires": [
            []
        ],
        "func": "msg.headers = undefined;\nmsg.method = undefined;\nmsg.url = undefined;\n//gateway發生錯誤\n    msg.messages = {\n        code: 0,\n        message: \"成功\",\n        data: {\n            channel: msg.reqMsg.channel,\n            source: msg.config.source,\n            role: msg.config.role,\n            content: [\n                {\n                    type: 1,\n                    text: \"現在系統維護中，造成不便請見諒，或請致電客服中心。\"\n                }\n            ]\n        }\n    };\n    msg._end_dialogue = true;\n\nmsg.messages = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e2022fb24294b",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "56aaaff9.72735",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "判斷是否轉真人",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1260,
        "y": 600,
        "wires": [
            [
                "356da6e7.b9152a"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e20082324294c",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "systalk.currentFlow",
                "v": "checkToAgent"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "356da6e7.b9152a",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "判斷轉真人",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1490,
        "y": 600,
        "wires": [
            [
                "5c247e80.6a689"
            ],
            [
                "313d2eb1.b84802"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\n\nif (msg.reqMsg.textComparsion['轉真人客服'].matched){\n    return MsgUtils.output(msg, 1, 2);\n}\n\nif (msg.reqMsg.textComparsion['先不用好了'].matched){\n    return MsgUtils.output(msg, 2, 2);\n}\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e206f6f24294d",
        "breakpoints": []
    },
    {
        "id": "5c247e80.6a689",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "進入轉真人客服",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1780,
        "y": 580,
        "wires": [
            []
        ],
        "func": "msg.toAgent = true;\nmsg.url = msg.config.apis.gateWay.scene;\nmsg._gateWay = true;\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    content: [\n        {\n            textCode: 'CM005'\n        }       \n    ]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20105b24294e",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "313d2eb1.b84802",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "Scene03結束對話",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1790,
        "y": 620,
        "wires": [
            []
        ],
        "func": "msg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.reqMsg.message.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    intent: msg.reqMsg.intent,\n    content: [\n        {\n        scene : 'Scene03'\n        }\n    ]\n};\nmsg._gateWay = true;\nmsg._end_dialogue = true; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e2080a524294f",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "511e9478.bec5cc",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "Don't Understand",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1270,
        "y": 440,
        "wires": [
            [
                "fbbab7b3.f32b68"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e20fcf4242950",
        "breakpoints": [],
        "rules": [
            {
                "t": "true",
                "p": "_dont_understand"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "fbbab7b3.f32b68",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "判斷聽不懂次數",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1500,
        "y": 440,
        "wires": [
            [
                "db970cc8.28a79"
            ],
            [
                "1a1c7075.4999e"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\nconst numOfOuts = 2;\n\nmsg.systalk.needInfo.dontKnowTimes = msg.systalk.needInfo.dontKnowTimes + 1;\nnode.log('聽不懂次數: ' + msg.systalk.needInfo.dontKnowTimes);\nif(msg.systalk.needInfo.dontKnowTimes == 3){\n    //有檢查室,但沒有標準項目名稱,Call檢查室資訊\n        return MsgUtils.output(msg, 2, numOfOuts);\n}\nelse{\n    return MsgUtils.output(msg, 1, numOfOuts);\n}\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e201223242951",
        "breakpoints": []
    },
    {
        "id": "db970cc8.28a79",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "第一次 詢問上一個問題",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1810,
        "y": 420,
        "wires": [
            []
        ],
        "func": "msg.messages = {};\nmsg.systalk.nextFlow = msg.systalk.currentFlow;\nmsg._dont_understand = false;\nmsg.resend = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20343a242952",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "1a1c7075.4999e",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "ST003+QR (字串比對)",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1800,
        "y": 460,
        "wires": [
            []
        ],
        "func": "msg.url = msg.config.apis.gateWay.scene;\nmsg._gateWay = true;\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    content: [\n        {\n            scene: 'ST003'\n        }\n    ]\n};\n\nmsg.textComparsion = {\n    \"轉真人客服\": {\n        values: ['轉真人客服'],\n        threshold: 0.8\n    },\n    \"先不用好了\": {\n         values: ['先不用好了'],\n          threshold: 0.8\n    }\n};\n\nmsg.systalk.nextFlow = 'confirmDontUd==3'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20246b242953",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "285289d4.8ad8c6",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "enter",
        "name": "第三次聽不懂QR判斷",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1280,
        "y": 520,
        "wires": [
            [
                "fd12dd9e.bb674"
            ]
        ],
        "outputs": 1,
        "_id": "6213397a5a3e20797c242954",
        "breakpoints": [],
        "rules": [
            {
                "t": "eq",
                "p": "systalk.currentFlow",
                "v": "confirmDontUd==3"
            }
        ],
        "directlink": false,
        "initialstate": false,
        "fallback": false
    },
    {
        "id": "fd12dd9e.bb674",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "function",
        "name": "判斷 轉真人 OR 先不用",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1530,
        "y": 520,
        "wires": [
            [
                "73faf94e.019438"
            ],
            [
                "e27828d9.3e1e98"
            ]
        ],
        "func": "const MsgUtils = msg.systalk.utils.MsgUtils;\n\nif (msg.reqMsg.textComparsion['轉真人客服'].matched){\n    let content = msg.reqMsg.message.message;\n    msg.text = content;\n    msg.payload = msg.text;\n    return MsgUtils.output(msg, 1, 2);\n}\nif (msg.reqMsg.textComparsion['先不用好了'].matched){\n    let content = msg.reqMsg.message.message;\n    msg.text = content;\n    msg.payload = msg.text;\n    return MsgUtils.output(msg, 2, 2);\n}\n",
        "outputs": 2,
        "noerr": 0,
        "_id": "6213397a5a3e202ae8242955",
        "breakpoints": []
    },
    {
        "id": "73faf94e.019438",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "轉真人",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1770,
        "y": 500,
        "wires": [
            []
        ],
        "func": "msg.toAgent = true;\nmsg._end_dialogue = true; // 給子流程 secondBot 清空暫存資訊 \nmsg._gateWay = true;\n\nmsg.url = msg.config.apis.gateWay.scene;\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    content: [\n        {\n            textCode: 'CM005'\n        }       \n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20ab11242956",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    },
    {
        "id": "e27828d9.3e1e98",
        "appId": "574e7073b1c5d4bf54f7.2bc94a6b3b59",
        "type": "state",
        "name": "先不用QQ,結束對話",
        "z": "f8ff3f10.d01cf",
        "in": [],
        "out": [],
        "x": 1800,
        "y": 540,
        "wires": [
            []
        ],
        "func": "msg.url = msg.config.apis.gateWay.scene;\nmsg._gateWay = true;\nmsg.payload = {\n    chatwebId: msg.reqMsg.message.chatwebId,\n    channel: msg.config.channel,\n    source: msg.config.source,\n    role: msg.config.role,\n    content: [\n        {\n            scene:'Scene03'\n        }\n    ]\n};\n\nmsg.payload.quit = true;  // 回給上層 bot，讓他清空此子流程資訊\nmsg._end_dialogue = true; // 給子流程 secondBot 清空暫存資訊 \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "_id": "6213397a5a3e20f261242957",
        "breakpoints": [],
        "response": "",
        "finalstate": false,
        "requestUserInput": false
    }
]